Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

fix: Update E2E and integration tests for sport value rename
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/seeding/test_seeding_manager_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add data UPDATE to migration 0039 for non-empty databases
  src/precog/database/alembic/versions/0039_rename_sport_values.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Reorder migration 0039 — drop constraints before updating data
  src/precog/database/alembic/versions/0039_rename_sport_values.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Rename sport/league semantics across codebase (#460 Phase B) (#466)
  scripts/fix_espn_ids.sql
  src/precog/analytics/__init__.py
  src/precog/analytics/elo_computation_service.py
  src/precog/analytics/elo_engine.py
  src/precog/analytics/types.py
  src/precog/api_connectors/espn_team_validator.py
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0039_rename_sport_values.py
  src/precog/database/alembic/versions/0040_rename_elo_log_sport_to_league.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/epa_seeder.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/seeding_manager.py
  src/precog/database/seeds/001_nfl_teams_initial_elo.sql
  src/precog/database/seeds/002_nfl_teams_espn_update.sql
  src/precog/database/seeds/003_nba_teams.sql
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/database/seeds/005_wnba_teams.sql
  src/precog/database/seeds/006_ncaaf_teams.sql
  src/precog/database/seeds/007_ncaab_teams.sql
  src/precog/database/seeds/008_ncaaw_teams.sql
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/schedulers/espn_game_poller.py
  tests/chaos/database/seeding/test_seeding_manager_chaos.py
  tests/e2e/database/seeding/test_seeding_manager_e2e.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/database/seeding/test_batch_error_handling_integration.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
  tests/integration/database/seeding/test_seeding_manager_integration.py
  tests/integration/database/test_crud_operations_integration.py
  tests/performance/database/seeding/test_seeding_manager_performance.py
  tests/race/database/seeding/test_seeding_manager_race.py
  tests/stress/database/seeding/test_seeding_manager_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/unit/analytics/test_elo_computation_service.py
  tests/unit/analytics/test_elo_engine_unit.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Implement event-to-game matching logic with Kalshi team code support (#462)
  src/precog/database/alembic/versions/0041_add_kalshi_team_code.py
  src/precog/database/crud_operations.py
  src/precog/database/seeds/011_kalshi_teams_code_mapping.sql
  src/precog/matching/__init__.py
  src/precog/matching/event_game_matcher.py
  src/precog/matching/team_code_registry.py
  src/precog/matching/ticker_parser.py
  src/precog/schedulers/kalshi_poller.py
  tests/fixtures/testcontainers_fixtures.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/matching/__init__.py
  tests/unit/matching/test_event_game_matcher.py
  tests/unit/matching/test_team_code_registry.py
  tests/unit/matching/test_ticker_parser.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Implement event-to-game matching logic with Kalshi team code support (#462) (#470)
  src/precog/database/alembic/versions/0041_add_kalshi_team_code.py
  src/precog/database/crud_operations.py
  src/precog/database/seeds/011_kalshi_teams_code_mapping.sql
  src/precog/matching/__init__.py
  src/precog/matching/event_game_matcher.py
  src/precog/matching/team_code_registry.py
  src/precog/matching/ticker_parser.py
  src/precog/schedulers/kalshi_poller.py
  tests/fixtures/testcontainers_fixtures.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/matching/__init__.py
  tests/unit/matching/test_event_game_matcher.py
  tests/unit/matching/test_team_code_registry.py
  tests/unit/matching/test_ticker_parser.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Address audit items from #469 — connection leak and league default trap
  src/precog/cli/data.py
  src/precog/database/crud_operations.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update stale column references in schema validator (#435)
  scripts/validate_schema_consistency.py
  tests/unit/scripts/test_validate_schema_consistency.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Audit fixes — connection leak, league default trap, schema validator (#469) (#471)
  scripts/validate_schema_consistency.py
  src/precog/cli/data.py
  src/precog/database/crud_operations.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/scripts/test_validate_schema_consistency.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Replace executemany with execute_values for accurate batch rowcount (#472)
  src/precog/database/crud_operations.py
  tests/unit/database/test_market_trades_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Replace executemany with execute_values for accurate batch rowcount (#472) (#473)
  src/precog/database/crud_operations.py
  tests/unit/database/test_market_trades_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Matching module production-readiness — monitoring, self-healing, CLI (#477)
  src/precog/cli/data.py
  src/precog/matching/__init__.py
  src/precog/matching/event_game_matcher.py
  src/precog/matching/team_code_registry.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/matching/test_event_game_matcher.py
  tests/unit/matching/test_team_code_registry.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Matching module production-readiness — monitoring, self-healing, CLI (#477) (#478)
  src/precog/cli/data.py
  src/precog/matching/__init__.py
  src/precog/matching/event_game_matcher.py
  src/precog/matching/team_code_registry.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/matching/test_event_game_matcher.py
  tests/unit/matching/test_team_code_registry.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update test fixture event_tickers to include team codes (#467)
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/types.py
  tests/cassettes/cli/markets_initial.yaml
  tests/cassettes/cli/markets_updated.yaml
  tests/cassettes/cli/settlements_with_data.yaml
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/cli/_deprecated_test_cli_database_integration.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/property/test_database_crud_properties.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update test fixture event_tickers to include team codes (#467) (#479)
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/types.py
  tests/cassettes/cli/markets_initial.yaml
  tests/cassettes/cli/markets_updated.yaml
  tests/cassettes/cli/settlements_with_data.yaml
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/cli/_deprecated_test_cli_database_integration.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/property/test_database_crud_properties.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

perf: Rate-limit validation and backfill in Kalshi poller
  src/precog/schedulers/kalshi_poller.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Add Pattern 41 — Production-Readiness Checklist (ALWAYS for new modules)
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
Due: validate-docs

feat: Team code collision fix + division classification via CFBD (#486)
  .env.template
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0042_add_team_classification.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/sources/sports/cfbd_adapter.py
  src/precog/matching/team_code_registry.py
  tests/unit/database/seeding/sources/sports/test_cfbd_adapter.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/matching/test_team_code_registry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Correct 4 NCAAF team codes to match ESPN canonical abbreviations
  src/precog/database/seeds/006_ncaaf_teams.sql
Due: none

feat: Team code collision fix + classification via CFBD (#486) (#488)
  .env.template
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0042_add_team_classification.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/sources/sports/cfbd_adapter.py
  src/precog/database/seeds/006_ncaaf_teams.sql
  src/precog/matching/team_code_registry.py
  tests/unit/database/seeding/sources/sports/test_cfbd_adapter.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/matching/test_team_code_registry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add ADR-114 — External Data Source Architecture (3-tier pattern)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
Due: validate-docs

feat: Add warning type breakdown to validation summary (#485)
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add ESPN game sync failure categorization (#476)
  src/precog/schedulers/espn_game_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Add ADR-114 — External Data Source Architecture (3-tier pattern) (#498)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
Due: validate-docs

fix: Use sport category names in property test team fixtures
  tests/property/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Pre-gate quick fixes — validation, ESPN categorization, CI test fixes (#485, #476) (#500)
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  tests/property/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Set prefixed env vars in stress test Alembic setup
  tests/fixtures/stress_testcontainers.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Replace system_health CHECK constraint with app-layer enum (#491)
  src/precog/database/__init__.py
  src/precog/database/alembic/versions/0043_drop_system_health_component_check.py
  src/precog/database/crud_operations.py
  tests/unit/database/test_crud_system_health.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Set prefixed env vars in stress test Alembic setup (#501)
  tests/fixtures/stress_testcontainers.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: Replace ServiceSupervisor if/elif dispatch with registry pattern (#492)
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/schedulers/service_supervisor.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: Replace ServiceSupervisor if/elif dispatch with registry pattern (#492) (#503)
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/schedulers/service_supervisor.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use sport category name in performance test team fixtures
  tests/performance/test_crud_operations_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: CI integration test + coverage audit failures
  scripts/audit_test_type_coverage.py
  tests/conftest.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Replace system_health CHECK with app-layer enum (#491) (#499)
  scripts/audit_test_type_coverage.py
  src/precog/database/__init__.py
  src/precog/database/alembic/versions/0043_drop_system_health_component_check.py
  src/precog/database/crud_operations.py
  tests/conftest.py
  tests/performance/test_crud_operations_performance.py
  tests/unit/database/test_crud_system_health.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Pattern 41 V1.26 — add Alerts as 7th production-readiness capability
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
Due: validate-docs

refactor: Drop redundant game_state_id VARCHAR column from game_states (migration 0044)
  src/precog/database/alembic/versions/0044_drop_game_state_id_column.py
  src/precog/database/crud_operations.py
  tests/fixtures/testcontainers_fixtures.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Populate 5 NULL market_snapshots columns from Kalshi API data
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Enrich events with market-level times and initial status; add update_event() CRUD
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Capture expected_expiration_time and settlement_timer_seconds in series metadata
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Market settlement detection — store settlement_value, propagate to events
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
