Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

fix: Correct pytest.raises nesting + add 2 missing model tests
  tests/integration/database/test_migration_0056_write_protection_triggers.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add ON CONFLICT DO NOTHING + parameter validation + INTERVAL docs
  src/precog/database/crud_ledger.py
  src/precog/schedulers/temporal_alignment_writer.py
  tests/unit/schedulers/test_temporal_alignment_writer.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Promote 13 backlogged patterns to DEVELOPMENT_PATTERNS V1.31
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
Due: validate-docs

feat: DB-level write-protection triggers (#371, #723) (#746)
  src/precog/database/alembic/versions/0056_write_protection_triggers.py
  tests/integration/database/test_migration_0056_write_protection_triggers.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Convert 59 FKs to RESTRICT + SCD Type 2 on teams/venues/series (#724)
  src/precog/database/alembic/versions/0057_fk_restrict_conversion.py
  tests/integration/database/test_migration_0057_fk_restrict.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Correct test fixtures for teams sport CHECK constraint + events schema
  tests/integration/database/test_migration_0057_fk_restrict.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update ON CONFLICT clauses for SCD partial unique indexes
  src/precog/database/crud_teams.py
  tests/conftest.py
  tests/e2e/database/test_connection_e2e.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/cli/_deprecated_test_cli_database_integration.py
  tests/integration/database/test_connection_integration.py
  tests/performance/database/test_connection_performance.py
  tests/property/test_database_crud_properties.py
  tests/test_attribution.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Reorder test fixture cleanup for RESTRICT FK semantics
  tests/conftest.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add shared cleanup helper for RESTRICT FK test teardown
  tests/conftest.py
  tests/e2e/database/test_connection_e2e.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/fixtures/cleanup_helpers.py
  tests/integration/cli/_deprecated_test_cli_database_integration.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
  tests/integration/database/test_migration_0052_0055_execution_environment.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_position_manager_trailing_stop_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use correct FK column names in cleanup helper
  tests/fixtures/cleanup_helpers.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use delete_market_with_children in create_position_market fixture
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Correct FK column names in cleanup helper (market_snapshots uses market_id)
  tests/fixtures/cleanup_helpers.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use delete_market_with_children in kalshi poller e2e fixture
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Promote 13 backlogged patterns to DEVELOPMENT_PATTERNS V1.31 (#754)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
Due: validate-docs

fix: Invert test_cascade_delete_integrity to assert RESTRICT semantics
  tests/property/test_database_crud_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: S68 audit remediation for PR #758 (docstring drift, missing index, cleanup comment)
  src/precog/database/alembic/versions/0057_fk_restrict_conversion.py
  tests/fixtures/cleanup_helpers.py
  tests/integration/database/test_migration_0057_fk_restrict.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: S68 audit remediation for PR #747 (rowcount accuracy, INTERVAL pattern, test coverage)
  src/precog/database/crud_ledger.py
  src/precog/schedulers/temporal_alignment_writer.py
  tests/unit/database/test_temporal_alignment_crud.py
  tests/unit/schedulers/test_temporal_alignment_writer.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Mock create_supervisor in test_complete_scheduler_lifecycle to unblock CI
  tests/e2e/cli/test_cli_scheduler_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Route test_complete_scheduler_lifecycle through supervised path (CI hang fix)
  tests/e2e/cli/test_cli_scheduler_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Apply factory-mock pattern to remaining 5 scheduler CLI tests (#763)
  tests/e2e/cli/test_cli_scheduler_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Convert 59 FKs to RESTRICT + SCD Type 2 on teams/venues/series (#724) (#758)
  src/precog/database/alembic/versions/0057_fk_restrict_conversion.py
  src/precog/database/crud_teams.py
  tests/conftest.py
  tests/e2e/cli/test_cli_scheduler_e2e.py
  tests/e2e/database/test_connection_e2e.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/fixtures/cleanup_helpers.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/cli/_deprecated_test_cli_database_integration.py
  tests/integration/database/test_connection_integration.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
  tests/integration/database/test_migration_0052_0055_execution_environment.py
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_position_manager_trailing_stop_integration.py
  tests/performance/database/test_connection_performance.py
  tests/property/test_database_crud_properties.py
  tests/test_attribution.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Dynamic FK discovery in test cleanup helper (#757)
  tests/fixtures/cleanup_helpers.py
  tests/property/test_database_crud_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Temporal alignment writer service (#722) (#747)
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_ledger.py
  src/precog/database/crud_shared.py
  src/precog/schedulers/service_supervisor.py
  src/precog/schedulers/temporal_alignment_writer.py
  tests/unit/database/test_temporal_alignment_crud.py
  tests/unit/schedulers/test_temporal_alignment_writer.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Dynamic FK discovery in test cleanup helper (#757) (#765)
  tests/fixtures/cleanup_helpers.py
  tests/property/test_database_crud_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test: Retrofit 7 scheduler CLI test files onto factory-mock pattern (#764)
  tests/chaos/cli/test_cli_chaos.py
  tests/conftest.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/performance/cli/test_cli_performance.py
  tests/property/cli/test_cli_scheduler_properties.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_stress.py
  tests/unit/cli/test_cli_scheduler.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Add External API Test Mocking pattern to CLAUDE.md Critical Patterns (#764)
  CLAUDE.md
Due: validate-docs

docs: Add External API Test Mocking pattern to CLAUDE.md Critical Patterns (#764) (#772)
  CLAUDE.md
Due: validate-docs

test: Retrofit 7 scheduler CLI test files onto factory-mock pattern (#764) (#771)
  tests/chaos/cli/test_cli_chaos.py
  tests/conftest.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/performance/cli/test_cli_performance.py
  tests/property/cli/test_cli_scheduler_properties.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_stress.py
  tests/unit/cli/test_cli_scheduler.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test+docs: S50+S51 audit follow-up bundle (#773, #774, #775)
  CLAUDE.md
  tests/fixtures/cleanup_helpers.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/performance/cli/test_cli_scheduler_performance.py
  tests/property/cli/test_cli_scheduler_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Tier 1 Hook PR 1 — block staged .env and .envrc files (#770)
  .gitignore
  .pre-commit-config.yaml
Due: validate-docs

test+docs: S50+S51 audit follow-up bundle (#773, #774, #775) (#781)
  CLAUDE.md
  tests/fixtures/cleanup_helpers.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/performance/cli/test_cli_scheduler_performance.py
  tests/property/cli/test_cli_scheduler_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Tier 1 Hook PR 1 — block staged .env and .envrc files (#770) (#786)
  .gitignore
  .pre-commit-config.yaml
Due: validate-docs

docs: Add ADR-116 — ODS schema conventions (universal id PK, _key suffix, RESTRICT default)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.35.md
  scripts/schema_audit_live.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Address claude-review findings on PR #793 (5 items)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.35.md
  scripts/schema_audit_live.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: Add ADR-116 — ODS schema conventions (universal id PK, _key suffix, RESTRICT default) (#793)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.35.md
  scripts/schema_audit_live.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: S75 CLI flag existence linter — catches nonexistent test flags (#769)
  scripts/lint_cli_flag_references.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check
