Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

fix: Update pre-push timing docs and fix CI kalshi FK constraint issue
  CLAUDE.md
  scripts/pre-push-hook.sh
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/cli/test_cli_database_integration.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Handle Kalshi DEMO API portfolio endpoint unavailability (Issue #224)
  tests/conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: Update scientific notation test to match Decimal conversion behavior
  tests/chaos/trading/test_strategy_manager_chaos.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

perf: Optimize pre-push hooks with Mypy caching and A+C parallelization (#228)
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.3.md
  scripts/audit_test_type_coverage.py
  scripts/pre-push-hook.sh
  scripts/run_parallel_checks.py
  src/precog/trading/strategy_manager.py
  src/precog/validation/__init__.py
  src/precog/validation/kalshi_validation.py
  tests/chaos/trading/test_strategy_manager_chaos.py
  tests/chaos/validation/test_kalshi_validation_chaos.py
  tests/conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/cli/test_cli_database_integration.py
  tests/integration/validation/test_kalshi_validation_integration.py
  tests/performance/validation/test_kalshi_validation_performance.py
  tests/property/validation/test_kalshi_validation_properties.py
  tests/stress/validation/test_kalshi_validation_race.py
  tests/stress/validation/test_kalshi_validation_stress.py
  tests/unit/validation/test_kalshi_validation.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: Add all 8 test types for historical_elo_loader module
  scripts/audit_test_type_coverage.py
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
  tests/e2e/database/seeding/test_historical_elo_loader_e2e.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
  tests/performance/database/seeding/test_historical_elo_loader_performance.py
  tests/property/database/seeding/test_historical_elo_loader_properties.py
  tests/race/database/seeding/test_historical_elo_loader_race.py
  tests/stress/database/seeding/test_historical_elo_loader_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

perf: Add --skip-pytest flag to warning governance for faster pre-push
  scripts/check_warning_debt.py
  scripts/pre-push-hook.sh
  scripts/run_parallel_checks.py
  scripts/warning_baseline.json
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add FiveThirtyEight NFL Elo data support and documentation
  .gitignore
  data/historical/README.md
  src/precog/database/seeding/historical_elo_loader.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

bugfix: Fix poll-once CLI key names to match poller return values
  main.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

bugfix: Fix poll-once CLI key names to match poller return values (#231)
  main.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Update DEVELOPMENT_PHASES V1.10→V1.11 - Phase 2.5 CLI commands complete
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHASES_V1.11.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
Due: validate-docs

bugfix: Add database isolation to chaos/performance tests
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

bugfix: Add database isolation to chaos/performance tests (#233)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHASES_V1.11.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add historical data seeding infrastructure (Issue #229)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.13.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.23.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  main.py
  pyproject.toml
  src/precog/database/alembic/versions/0006_create_historical_games_table.py
  src/precog/database/alembic/versions/0007_create_historical_odds_table.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/sources/__init__.py
  src/precog/database/seeding/sources/base_source.py
  src/precog/database/seeding/sources/betting_csv.py
  src/precog/database/seeding/sources/fivethirtyeight.py
  src/precog/database/seeding/sources/sports/__init__.py
  src/precog/database/seeding/sources/sports/nfl_data_py_adapter.py
  tests/unit/database/seeding/test_base_source.py
  tests/unit/database/seeding/test_betting_csv_source.py
  tests/unit/database/seeding/test_fivethirtyeight_source.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Resolve pre-push validation failures for Issue #229
  pyproject.toml
  scripts/audit_test_type_coverage.py
  tests/chaos/database/seeding/test_seeding_manager_chaos.py
  tests/e2e/database/seeding/test_seeding_manager_e2e.py
  tests/integration/database/seeding/test_seeding_manager_integration.py
  tests/performance/database/seeding/test_seeding_manager_performance.py
  tests/unit/database/seeding/test_base_source.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add experimental tier and unit tests for Issue #229 data loaders
  scripts/audit_test_type_coverage.py
  tests/unit/database/seeding/test_historical_games_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
  tests/unit/database/seeding/test_nfl_data_py_adapter.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add historical data seeding infrastructure (Issue #229) (#235)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.13.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.23.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  main.py
  pyproject.toml
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0006_create_historical_games_table.py
  src/precog/database/alembic/versions/0007_create_historical_odds_table.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/sources/__init__.py
  src/precog/database/seeding/sources/base_source.py
  src/precog/database/seeding/sources/betting_csv.py
  src/precog/database/seeding/sources/fivethirtyeight.py
  src/precog/database/seeding/sources/sports/__init__.py
  src/precog/database/seeding/sources/sports/nfl_data_py_adapter.py
  tests/chaos/database/seeding/test_seeding_manager_chaos.py
  tests/e2e/database/seeding/test_seeding_manager_e2e.py
  tests/integration/database/seeding/test_seeding_manager_integration.py
  tests/performance/database/seeding/test_seeding_manager_performance.py
  tests/unit/database/seeding/test_base_source.py
  tests/unit/database/seeding/test_betting_csv_source.py
  tests/unit/database/seeding/test_fivethirtyeight_source.py
  tests/unit/database/seeding/test_historical_games_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
  tests/unit/database/seeding/test_nfl_data_py_adapter.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update tests for CLI refactoring and Windows compatibility
  tests/integration/config/test_environment_integration.py
  tests/property/cli/test_cli_system_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

fix: Update warning baseline and fix flaky E2E test
  scripts/warning_baseline.json
  tests/e2e/schedulers/test_base_poller_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update Typer to 0.16.0 for Python 3.14 / Click 8.2+ compatibility
  requirements.txt
Due: none

fix: Strip ANSI escape codes from CLI help output before assertions
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_future_trade.py
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/cli/test_cli_system.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add proper mocking for unit/property tests in CI
  tests/property/schedulers/test_espn_game_poller_properties.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Increase timing margins for flaky integration tests
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Issue #238 - CI test failure diagnostics improvements
  .github/workflows/ci.yml
  tests/fixtures/__init__.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add permissions for action-junit-report to create check runs
  .github/workflows/ci.yml
Due: validate-docs

fix: Increase timing margins in flaky polling tests for CI reliability
  tests/integration/schedulers/test_base_poller_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Further increase timing margins for ESPNGamePoller CI tests
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use 1s poll interval in ESPNGamePoller tests for CI reliability
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Robust polling-based wait for CI reliability + Add ADR-107
  docs/foundation/ADR-107_Single_Database_Execution_Environments.md
  tests/integration/schedulers/test_base_poller_integration.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: Update DATABASE_SCHEMA_SUMMARY to V1.14 with execution_environment
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.14.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.23.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
Due: validate-docs

fix: Use robust polling in ESPN poller integration tests
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Disable adaptive polling in ESPN integration tests
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Comprehensive test timeout and hanging prevention (Issue #238)
  pytest.ini
  scripts/run_parallel_checks.py
  tests/integration/schedulers/test_base_poller_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Skip throughput tests in CI + calibrate thresholds (Issue #238)
  tests/performance/schedulers/test_base_poller_performance.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Apply CI skip pattern to tight latency performance tests
  tests/performance/api_connectors/test_kalshi_client_performance.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use file-based output capture to prevent Windows pipe deadlock
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Issue #238 - CI test failure diagnostics improvements (#240)
  .github/workflows/ci.yml
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.14.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  docs/foundation/ADR-107_Single_Database_Execution_Environments.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.23.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  pytest.ini
  scripts/run_parallel_checks.py
  tests/fixtures/__init__.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/schedulers/test_base_poller_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
  tests/performance/api_connectors/test_kalshi_client_performance.py
  tests/performance/schedulers/test_base_poller_performance.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check
