Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

validate-docs:
  name: Documentation Validation (9 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates documentation consistency, cross-references, versioning, phase status, and YAML configs

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check .
  language: system
  pass_filenames: false
  description: Runs Ruff linter for code quality

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check .
  language: system
  pass_filenames: false
  description: Checks code formatting with Ruff (no auto-fix)

mypy:
  name: Mypy Type Checking
  entry: python -m mypy . --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  description: Type checking with mypy

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

fix: Model Manager schema alignment (Migrations 012+013, column renames, API signature)
  src/precog/analytics/model_manager.py
  src/precog/database/migrations/migration_013_fix_strategies_approach_constraint.py
  tests/unit/analytics/test_model_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Critical connection pool exhaustion fix + Model Manager enhancements
  src/precog/analytics/model_manager.py
  src/precog/database/migrations/migration_014_fix_models_status_constraint.py
  src/precog/trading/strategy_manager.py
  tests/unit/analytics/test_model_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Establish comprehensive testing strategy and TDD failure analysis
  TESTING_GAPS_ANALYSIS.md
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/utility/TDD_FAILURE_ROOT_CAUSE_ANALYSIS_V1.0.md
Due: validate-docs

docs: Update DEVELOPMENT_PHILOSOPHY V1.2→V1.3 (TDD lessons learned)
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.24.md
Due: validate-docs

docs: Add Pattern 13 (Test Coverage Quality) to DEVELOPMENT_PATTERNS V1.3
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.3.md
Due: validate-docs

docs: Add REQ-TEST-012 through REQ-TEST-019 (8 test coverage requirements)
  coverage.json
  docs/foundation/ARCHITECTURE_DECISIONS_V2.16.md
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/PHASE_1.5_TEST_PLAN_V1.0.md
Due: validate-docs

docs: Add todo list best practices for documentation updates
  CLAUDE.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
Due: validate-docs

docs: Update TESTING_STRATEGY V2.1→V3.0 (comprehensive 8 test type framework)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.16.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/TESTING_STRATEGY_V3.0.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

docs: Add ADR-088: Test Type Categories (comprehensive 8 test type framework)
  docs/foundation/ADR_INDEX_V1.12.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.17.md
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/TESTING_STRATEGY_V3.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

refactor: Remove ALL mocks from Strategy Manager tests (ADR-088)
  src/precog/trading/strategy_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Model Manager test failures (6 regex + exception type issues)
  tests/unit/analytics/test_model_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

refactor: Replace SQLAlchemy exceptions with pure psycopg2
  src/precog/analytics/model_manager.py
  src/precog/trading/strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Create Manager Architecture Guide and update coverage targets
  docs/foundation/ADR_INDEX_V1.12.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.17.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
Due: validate-docs

docs: Add ADR-201 - Position history without SCD Type 2
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
Due: validate-docs

fix: Return pool object from db_pool fixture
  .gitignore
  tests/conftest.py
Due: ruff-check, ruff-format, mypy

feat: Implement Strategy Manager and Model Manager (Phase 1.5 partial) (#89)
  .gitignore
  CLAUDE.md
  TESTING_GAPS_ANALYSIS.md
  coverage.json
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.12.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.17.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.3.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/testing/PHASE_1.5_TEST_PLAN_V1.0.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/TDD_FAILURE_ROOT_CAUSE_ANALYSIS_V1.0.md
  pyproject.toml
  scripts/validate_schema.py
  src/precog/analytics/__init__.py
  src/precog/analytics/model_manager.py
  src/precog/database/migrations/migration_012_fix_approach_constraint.py
  src/precog/database/migrations/migration_013_fix_strategies_approach_constraint.py
  src/precog/database/migrations/migration_014_fix_models_status_constraint.py
  src/precog/trading/__init__.py
  src/precog/trading/strategy_manager.py
  tests/conftest.py
  tests/unit/analytics/test_model_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Implement SCD Type 2 schema fix for 3 core tables (Migrations 015-017)
  src/precog/database/migrations/migration_015_positions_surrogate_key.py
  src/precog/database/migrations/migration_016_game_states_surrogate_key.py
  src/precog/database/migrations/migration_017_edges_surrogate_key.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Update CRUD operations and tests for SCD Type 2 dual-key schema (Migrations 015-017)
  src/precog/database/crud_operations.py
  tests/property/test_strategy_versioning_properties.py
  tests/test_crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Position Manager + Migration 011 Documentation + Pattern 14
  docs/foundation/ADR_INDEX_V1.13.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.18.md
  docs/foundation/MASTER_INDEX_V2.25.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.4.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  src/precog/database/crud_operations.py
  src/precog/trading/__init__.py
  src/precog/trading/position_manager.py
  tests/conftest.py
  tests/database/test_initialization.py
  tests/unit/trading/test_position_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: SCD Type 2 Schema Fix - Migrations 015-017 + CRUD Updates (#92)
  docs/foundation/ADR_INDEX_V1.13.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.18.md
  docs/foundation/MASTER_INDEX_V2.25.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.4.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  src/precog/database/crud_operations.py
  src/precog/database/migrations/migration_015_positions_surrogate_key.py
  src/precog/database/migrations/migration_016_game_states_surrogate_key.py
  src/precog/database/migrations/migration_017_edges_surrogate_key.py
  src/precog/trading/__init__.py
  src/precog/trading/position_manager.py
  tests/conftest.py
  tests/database/test_initialization.py
  tests/property/test_strategy_versioning_properties.py
  tests/test_crud_operations.py
  tests/unit/trading/test_position_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Trade/Position Attribution Architecture + Schema Standardization (#93)
  CLAUDE.md
  SESSION_SUMMARY_2025-11-21.md
  docs/analysis/SCHEMA_ANALYSIS_2025-11-21.md
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.10.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.14.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.19.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.26.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/supplementary/ADR_020_DEFERRED_EXECUTION.md
  docs/supplementary/ADR_021_METHOD_ABSTRACTION.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.0.md
  pytest.ini
  scripts/update_model_manager_columns.py
  scripts/update_strategy_manager_columns.py
  src/precog/analytics/model_manager.py
  src/precog/database/crud_operations.py
  src/precog/database/migrations/migration_018_trade_source_tracking.py
  src/precog/database/migrations/migration_019_trade_attribution_enrichment.py
  src/precog/database/migrations/migration_020_position_attribution.py
  src/precog/database/migrations/migration_021_rename_strategies_approach.py
  src/precog/database/migrations/migration_022_rename_models_approach.py
  src/precog/trading/strategy_manager.py
  tests/conftest.py
  tests/property/test_strategy_versioning_properties.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/unit/analytics/test_model_manager.py
  tests/unit/trading/test_position_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Trade/Position Attribution Architecture + Schema Standardization (#93) (#93)
  CLAUDE.md
  SESSION_SUMMARY_2025-11-21.md
  docs/analysis/SCHEMA_ANALYSIS_2025-11-21.md
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.10.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.14.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.19.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.26.md
  docs/foundation/MASTER_REQUIREMENTS_V2.16.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/supplementary/ADR_020_DEFERRED_EXECUTION.md
  docs/supplementary/ADR_021_METHOD_ABSTRACTION.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.0.md
  pytest.ini
  scripts/update_model_manager_columns.py
  scripts/update_strategy_manager_columns.py
  src/precog/analytics/model_manager.py
  src/precog/database/crud_operations.py
  src/precog/database/migrations/migration_018_trade_source_tracking.py
  src/precog/database/migrations/migration_019_trade_attribution_enrichment.py
  src/precog/database/migrations/migration_020_position_attribution.py
  src/precog/database/migrations/migration_021_rename_strategies_approach.py
  src/precog/database/migrations/migration_022_rename_models_approach.py
  src/precog/trading/strategy_manager.py
  tests/conftest.py
  tests/property/test_strategy_versioning_properties.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/unit/analytics/test_model_manager.py
  tests/unit/trading/test_position_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Lookup Tables for Business Enums (Migration 023 + Complete Documentation)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.11.md
  docs/database/LOOKUP_TABLES_DESIGN.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.14.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.20.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.27.md
  docs/foundation/MASTER_REQUIREMENTS_V2.17.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/testing/PHASE_1.5_TEST_PLAN_V1.0.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.0.md
  src/precog/analytics/model_manager.py
  src/precog/config/config_loader.py
  src/precog/database/lookup_helpers.py
  src/precog/database/migrations/migration_023_create_lookup_tables.py
  src/precog/trading/strategy_manager.py
  tests/test_config_loader.py
  tests/test_lookup_tables.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Add py.typed marker to precog package
  src/precog/py.typed
Due: none

chore: Update warning baseline (71→79, mypy main branch drift)
  scripts/warning_baseline.json
Due: none

chore: Ignore S608 for lookup_helpers.py (false positives)
  pyproject.toml
Due: none

feat: Lookup Tables for Business Enums (Migration 023 + Complete Documentation) (#94)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.11.md
  docs/database/LOOKUP_TABLES_DESIGN.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.14.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.20.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.27.md
  docs/foundation/MASTER_REQUIREMENTS_V2.17.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/testing/PHASE_1.5_TEST_PLAN_V1.0.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.0.md
  pyproject.toml
  scripts/warning_baseline.json
  src/precog/analytics/model_manager.py
  src/precog/config/config_loader.py
  src/precog/database/lookup_helpers.py
  src/precog/database/migrations/migration_023_create_lookup_tables.py
  src/precog/py.typed
  src/precog/trading/strategy_manager.py
  tests/test_config_loader.py
  tests/test_lookup_tables.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add trailing stop infrastructure to PositionManager
  src/precog/trading/position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add trailing stop infrastructure to PositionManager (#95)
  src/precog/trading/position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Implement comprehensive workflow enforcement infrastructure (Priority 1 - 22 tasks)
  .pre-commit-config.yaml
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/utility/ENFORCEMENT_MAINTENANCE_GUIDE.md
  scripts/validate_code_quality.py
  scripts/validate_docs.py
  scripts/validate_phase_completion.py
  scripts/validate_phase_start.py
  scripts/validate_property_tests.py
  scripts/validate_scd_queries.py
  scripts/validate_test_fixtures.py
  scripts/validation_config.yaml
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Complete documentation index synchronization (follow-up to PR #96)
  docs/foundation/ADR_INDEX_V1.15.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/MASTER_INDEX_V2.27.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

fix: Update cross-references in MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
Due: validate-docs

feat: Implement comprehensive workflow enforcement infrastructure (Priority 1 - 22 tasks)
  .pre-commit-config.yaml
  docs/foundation/ADR_INDEX_V1.15.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/MASTER_INDEX_V2.27.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/ENFORCEMENT_MAINTENANCE_GUIDE.md
  scripts/validate_code_quality.py
  scripts/validate_docs.py
  scripts/validate_phase_completion.py
  scripts/validate_phase_start.py
  scripts/validate_property_tests.py
  scripts/validate_scd_queries.py
  scripts/validate_test_fixtures.py
  scripts/validation_config.yaml
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Resolve code quality issues in validation scripts from PR #96
  scripts/validate_docs.py
  scripts/validate_phase_completion.py
  scripts/validate_phase_start.py
  scripts/validate_property_tests.py
  scripts/validate_test_fixtures.py
Due: ruff-check, ruff-format, mypy

fix: Resolve code quality issues in validation scripts from PR #96 (#98)
  scripts/validate_docs.py
  scripts/validate_phase_completion.py
  scripts/validate_phase_start.py
  scripts/validate_property_tests.py
  scripts/validate_test_fixtures.py
Due: ruff-check, ruff-format, mypy

fix: Add comprehensive tests and validation for trailing stop methods
  src/precog/trading/position_manager.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Replace bare try-except-pass with documented early return (S110)
  scripts/validate_test_fixtures.py
Due: ruff-check, ruff-format, mypy

fix: Add comprehensive tests and validation for trailing stop methods (#97)
  scripts/validate_test_fixtures.py
  src/precog/trading/position_manager.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Pattern 16 (Type Safety - YAML/JSON) and Pattern 17 (Avoid Nested Ifs)
  docs/foundation/MASTER_INDEX_V2.28.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
Due: validate-docs

docs: Add Pattern 16 (Type Safety - YAML/JSON) and Pattern 17 (Avoid Nested Ifs) (#99)
  docs/foundation/MASTER_INDEX_V2.28.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
Due: validate-docs

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$
