Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

validate-docs:
  name: Documentation Validation (9 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates documentation consistency, cross-references, versioning, phase status, and YAML configs

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check .
  language: system
  pass_filenames: false
  description: Runs Ruff linter for code quality

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check .
  language: system
  pass_filenames: false
  description: Checks code formatting with Ruff (no auto-fix)

mypy:
  name: Mypy Type Checking
  entry: python -m mypy . --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  description: Type checking with mypy

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

test: Phase 1.9 Session 2 - ConfigLoader tests + credential masking + Migration 011
  src/precog/database/migrations/011_fix_market_fk_consistency.sql
  src/precog/utils/logger.py
  tests/cassettes/cli/balance_1000.yaml
  tests/cassettes/cli/balance_1500.yaml
  tests/cassettes/cli/markets_initial.yaml
  tests/cassettes/cli/markets_updated.yaml
  tests/cassettes/cli/settlements_with_data.yaml
  tests/cassettes/kalshi_get_settlements_limit100.yaml
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/integration/api_connectors/vcr_cassettes/espn_ncaaf_scoreboard.yaml
  tests/integration/api_connectors/vcr_cassettes/espn_nfl_scoreboard.yaml
  tests/integration/cli/test_cli_database_integration.py
  tests/security/test_connection_security.py
  tests/test_error_handling.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Replace Unicode arrows with ASCII for Windows cp1252 compatibility (Pattern 5)
  src/precog/analytics/model_manager.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/config/config_loader.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/trading/kelly_criterion.py
  src/precog/trading/position_manager.py
  src/precog/trading/strategy_manager.py
  src/precog/utils/logger.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Update position_manager test market IDs to match Migration 011 constraint
  tests/integration/trading/test_position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat(test): Phase 1.9 Part B - api_connectors DI + Resource Cleanup
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/MASTER_INDEX_V2.42.md
  docs/foundation/TESTING_STRATEGY_V3.3.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.14.md
  src/precog/api_connectors/espn_client.py
  src/precog/api_connectors/kalshi_auth.py
  src/precog/api_connectors/kalshi_client.py
  tests/chaos/api_connectors/__init__.py
  tests/chaos/api_connectors/test_kalshi_auth_chaos.py
  tests/chaos/api_connectors/test_kalshi_client_chaos.py
  tests/performance/api_connectors/__init__.py
  tests/performance/api_connectors/test_espn_client_performance.py
  tests/performance/api_connectors/test_kalshi_auth_performance.py
  tests/stress/api_connectors/test_kalshi_auth_race.py
  tests/stress/api_connectors/test_kalshi_auth_stress.py
  tests/stress/api_connectors/test_kalshi_client_race.py
  tests/stress/api_connectors/test_kalshi_client_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix(hooks): Make Ruff hooks check only tracked/staged files
  .pre-commit-config.yaml
  scripts/validate_quick.sh
Due: validate-docs

feat: Phase 1.9 Test Infrastructure - Complete 8-test-type coverage
  tests/chaos/config/__init__.py
  tests/chaos/database/__init__.py
  tests/chaos/schedulers/__init__.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/chaos/schedulers/test_kalshi_websocket_chaos.py
  tests/chaos/utils/__init__.py
  tests/database/test_initialization.py
  tests/e2e/config/__init__.py
  tests/e2e/config/test_config_loader_e2e.py
  tests/e2e/database/test_connection_e2e.py
  tests/e2e/utils/__init__.py
  tests/e2e/utils/test_logger_e2e.py
  tests/integration/config/__init__.py
  tests/integration/config/test_config_loader_integration.py
  tests/integration/database/test_connection_integration.py
  tests/integration/utils/__init__.py
  tests/integration/utils/test_logger_integration.py
  tests/performance/analytics/__init__.py
  tests/performance/analytics/test_model_manager_performance.py
  tests/performance/config/__init__.py
  tests/performance/config/test_config_loader_performance.py
  tests/performance/database/__init__.py
  tests/performance/database/test_connection_performance.py
  tests/performance/schedulers/__init__.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/performance/schedulers/test_kalshi_websocket_performance.py
  tests/performance/schedulers/test_market_data_manager_performance.py
  tests/performance/utils/__init__.py
  tests/performance/utils/test_logger_performance.py
  tests/property/database/__init__.py
  tests/property/database/test_connection_property.py
  tests/property/utils/__init__.py
  tests/property/utils/test_logger_property.py
  tests/security/test_connection_security.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/stress/schedulers/test_kalshi_websocket_race.py
  tests/stress/schedulers/test_kalshi_websocket_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Add db_cursor fixture and separate DB property tests for parallel safety
  scripts/pre-push-hook.sh
  scripts/validate_skip_approval.py
  tests/integration/database/test_connection_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Move DB-dependent property tests to sequential stage
  scripts/pre-push-hook.sh
Due: none

fix: Run ALL property tests sequentially to avoid Hypothesis health check failures
  scripts/pre-push-hook.sh
Due: none

fix: Resolve SQL injection test isolation with unique versions
  tests/security/test_sql_injection.py
Due: ruff-check, ruff-format, mypy

fix: Mark timing-dependent timestamp test as xfail
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Phase 1.9 Test Infrastructure Plan (BLOCKING) (#166)
  docs/foundation/MASTER_INDEX_V2.40.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/utility/PHASE_1.9_TEST_INFRASTRUCTURE_PLAN_V1.0.md
Due: validate-docs

fix: Skip property auth tests in CI when private key unavailable
  tests/property/api_connectors/test_kalshi_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Hypothesis health check fixes for ESPN and Kalshi auth tests
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/property/api_connectors/test_espn_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add ADR-098 TimescaleDB Deferred to Phase 6+
  docs/foundation/ADR_INDEX_V1.17.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.24.md
  docs/foundation/MASTER_INDEX_V2.43.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TESTING_STRATEGY_V3.3.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
Due: validate-docs

fix: Move database-dependent property tests to integration-tests job
  .github/workflows/ci.yml
Due: validate-docs

fix: Robust clean_test_data fixture for schema variations
  tests/conftest.py
Due: ruff-check, ruff-format, mypy

fix: Add missing strategies/probability_models migration + reduce pre-push verbosity
  .gitignore
  src/precog/database/migrations/016_create_strategies_and_models_tables.sql
Due: none

fix: Add transaction rollback in clean_test_data fixture for CI stability
  tests/conftest.py
Due: ruff-check, ruff-format, mypy

fix: Add rollback to all try/except blocks in clean_test_data fixture
  tests/conftest.py
Due: ruff-check, ruff-format, mypy

fix: Correct column name home_team_id -> home_team in property test cleanup
  tests/property/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy

fix: Add test_strategy_versioning_properties.py to CI DB-dependent tests
  .github/workflows/ci.yml
Due: validate-docs

fix: Resolve schema mismatch between local DB and CI
  src/precog/database/migrations/014_create_game_states_table.sql
  tests/property/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy

fix: Correct create_game_state to use SERIAL auto-increment
  src/precog/database/crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Sync unit test mocks with schema (game_state_id key)
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Revert "fix: Correct create_game_state to use SERIAL auto-increment"
  src/precog/database/crud_operations.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Comment out migration 014 to resolve SQL/Python migration conflict
  docs/foundation/MASTER_INDEX_V2.43.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.1.md
  src/precog/database/migrations/014_create_game_states_table.sql
Due: validate-docs

feat: Implement Alembic migration framework for database schema management
  .github/workflows/ci.yml
  src/precog/database/alembic.ini
  src/precog/database/alembic/README
  src/precog/database/alembic/env.py
  src/precog/database/alembic/script.py.mako
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Mark 4 stress tests as xfail pending testcontainers
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy

fix: Add missing team_code and current_elo_rating columns to teams table in Alembic migration
  docs/foundation/ADR_INDEX_V1.18.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.25.md
  docs/foundation/MASTER_INDEX_V2.43.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TESTING_STRATEGY_V3.3.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Align Alembic migration with SQL migration 016 for strategies/models tables
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
  src/precog/database/crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Update unit test to expect row_end_timestamp (matches game_states schema)
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve CI integration test failures
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
  tests/conftest.py
  tests/property/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat(tests): implement testcontainers for database test isolation (ADR-057)
  .github/workflows/ci.yml
  pyproject.toml
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/testcontainers_fixtures.py
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Remove vestigial subcategory column from strategies table in testcontainers schema
  tests/fixtures/testcontainers_fixtures.py
Due: ruff-check, ruff-format, mypy

fix: Align testcontainers schema with Alembic baseline
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
  tests/fixtures/testcontainers_fixtures.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Comprehensive schema and test fixture alignment
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
  src/precog/database/crud_operations.py
  tests/fixtures/testcontainers_fixtures.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

ci: Add timeouts to prevent 5hr+ CI hangs
  .github/workflows/ci.yml
Due: validate-docs

fix: Resolve CI integration test failures
  tests/integration/api_connectors/test_kalshi_client_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$
