Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

validate-docs:
  name: Documentation Validation (9 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates documentation consistency, cross-references, versioning, phase status, and YAML configs

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check .
  language: system
  pass_filenames: false
  description: Runs Ruff linter for code quality

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check .
  language: system
  pass_filenames: false
  description: Checks code formatting with Ruff (no auto-fix)

mypy:
  name: Mypy Type Checking
  entry: python -m mypy . --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  description: Type checking with mypy

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

feat: Persist pre-push hook test results for debugging (Issue #174) (#178)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.19.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  scripts/analyze_test_history.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Add audit columns to lookup tables via Alembic (Issue #121)
  docs/foundation/ADR_INDEX_V1.19.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.19.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.1.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.0.md
  src/precog/database/alembic/versions/0002_add_audit_columns_to_lookup_tables.py
  src/precog/database/migrations/README.md
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add audit columns to lookup tables via Alembic (Issue #121) (#179)
  docs/foundation/ADR_INDEX_V1.19.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.19.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.1.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.0.md
  src/precog/database/alembic/versions/0002_add_audit_columns_to_lookup_tables.py
  src/precog/database/migrations/README.md
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Handle ESPN API edge cases for down/distance values
  tests/e2e/api_connectors/test_espn_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Handle ESPN API edge cases for down/distance values (#180)
  tests/e2e/api_connectors/test_espn_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Add ESPN API VCR cassettes and integration tests
  scripts/record_espn_cassettes.py
  tests/cassettes/espn/espn_nba_scoreboard.yaml
  tests/cassettes/espn/espn_ncaaf_scoreboard.yaml
  tests/cassettes/espn/espn_nfl_live_games.yaml
  tests/cassettes/espn/espn_nfl_scoreboard.yaml
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/integration/api_connectors/test_espn_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

test: Add ESPN API VCR cassettes and integration tests (#181)
  scripts/record_espn_cassettes.py
  tests/cassettes/espn/espn_nba_scoreboard.yaml
  tests/cassettes/espn/espn_ncaaf_scoreboard.yaml
  tests/cassettes/espn/espn_nfl_live_games.yaml
  tests/cassettes/espn/espn_nfl_scoreboard.yaml
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/integration/api_connectors/test_espn_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Export ESPN CRUD operations from database package (Issue #184)
  src/precog/database/__init__.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Export ESPN CRUD operations from database package (Issue #184) (#189)
  src/precog/database/__init__.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add ESPN Data Quality Validation module (Issue #186)
  src/precog/validation/__init__.py
  src/precog/validation/espn_validation.py
  tests/unit/validation/test_espn_validation.py
Due: ruff-check, ruff-format, mypy

feat: Add ESPN Data Quality Validation module (Issue #186) (#190)
  src/precog/validation/__init__.py
  src/precog/validation/espn_validation.py
  tests/unit/validation/test_espn_validation.py
Due: ruff-check, ruff-format, mypy

feat: Add refresh_scoreboards() and job persistence to MarketUpdater
  src/precog/schedulers/__init__.py
  src/precog/schedulers/market_updater.py
  tests/unit/schedulers/test_market_updater.py
Due: ruff-check, ruff-format, mypy

feat: Add refresh_scoreboards() and job persistence to MarketUpdater (#191)
  src/precog/schedulers/__init__.py
  src/precog/schedulers/market_updater.py
  tests/unit/schedulers/test_market_updater.py
Due: ruff-check, ruff-format, mypy

feat: Add multi-sport team seeding script (Issue #187)
  scripts/seed_multi_sport_teams.py
  tests/unit/scripts/test_seed_multi_sport_teams.py
Due: ruff-check, ruff-format, mypy

feat: Phase 2.5 Service Supervisor with documentation audit (Issue #193)
  docs/foundation/ADR_INDEX_V1.20.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.27.md
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.45.md
  docs/foundation/MASTER_REQUIREMENTS_V2.21.md
  docs/foundation/REQUIREMENT_INDEX_V1.13.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.0.md
  docs/utility/PHASE_4_DEFERRED_TASKS_V1.0.md
  docs/utility/STRATEGIC_WORK_ROADMAP_V1.1.md
  main.py
  scripts/run_data_collector.py
  src/precog/api_connectors/espn_client.py
  tests/unit/api_connectors/test_espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Update DEVELOPMENT_PHASES cross-reference V1.7 -> V1.9 in validation module
  src/precog/validation/__init__.py
Due: ruff-check, ruff-format, mypy

fix: Resolve test fixture conflicts with seed data
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/test_crud_operations_integration.py
  tests/property/api_connectors/test_espn_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add LIVE_DATA_INTEGRATION_GUIDE_V1.0.md (Issue #188)
  docs/foundation/MASTER_INDEX_V2.45.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.0.md
Due: validate-docs

docs: Add ADR-103 BasePoller Unified Design Pattern and REQ-SCHED-003
  docs/foundation/ADR_INDEX_V1.21.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.28.md
  docs/foundation/MASTER_INDEX_V2.46.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  main.py
  src/precog/schedulers/__init__.py
  src/precog/schedulers/base_poller.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/schedulers/service_supervisor.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/integration/schedulers/__init__.py
  tests/integration/schedulers/test_service_supervisor_integration.py
  tests/property/__init__.py
  tests/property/schedulers/test_service_supervisor_properties.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/unit/schedulers/__init__.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_market_updater.py
  tests/unit/schedulers/test_service_supervisor.py
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Add 'pre' status to e2e test valid game statuses
  tests/e2e/api_connectors/test_espn_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add ADR-103 BasePoller Unified Design Pattern and REQ-SCHED-003 (#200)
  docs/foundation/ADR_INDEX_V1.21.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.28.md
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.46.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.0.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.0.md
  docs/utility/PHASE_4_DEFERRED_TASKS_V1.0.md
  docs/utility/STRATEGIC_WORK_ROADMAP_V1.1.md
  main.py
  src/precog/api_connectors/espn_client.py
  src/precog/schedulers/__init__.py
  src/precog/schedulers/base_poller.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/schedulers/service_supervisor.py
  src/precog/validation/__init__.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/test_crud_operations_integration.py
  tests/integration/schedulers/__init__.py
  tests/integration/schedulers/test_service_supervisor_integration.py
  tests/property/__init__.py
  tests/property/api_connectors/test_espn_client_properties.py
  tests/property/schedulers/test_service_supervisor_properties.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/unit/api_connectors/test_espn_client.py
  tests/unit/schedulers/__init__.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_market_updater.py
  tests/unit/schedulers/test_service_supervisor.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Update BasePoller references in DEVELOPMENT_PHASES and LIVE_DATA_INTEGRATION_GUIDE
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.0.md
Due: validate-docs

docs: Update BasePoller references in DEVELOPMENT_PHASES and LIVE_DATA_INTEGRATION_GUIDE (#201)
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.0.md
Due: validate-docs

docs: Add ADR-105 Two-Axis Environment Configuration (Issue #202)
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHASES_V1.10.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.47.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.1.md
Due: validate-docs

docs: Add testing antipatterns and edge case unit tests
  docs/foundation/MASTER_INDEX_V2.48.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  tests/unit/database/test_crud_operations_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add database seeding infrastructure for Phase 2.5
  docs/foundation/DEVELOPMENT_PHASES_V1.10.md
  src/precog/database/alembic/versions/0003_fix_teams_composite_unique_constraint.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/seeding_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add Phase 2.5 database seeding infrastructure and documentation (#203)
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHASES_V1.10.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.48.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  src/precog/database/alembic/versions/0003_fix_teams_composite_unique_constraint.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/seeding_manager.py
  tests/unit/database/test_crud_operations_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete SeedingManager implementation with CLI commands
  main.py
  src/precog/database/seeding/seeding_manager.py
  tests/integration/database/seeding/__init__.py
  tests/integration/database/seeding/test_seeding_manager_integration.py
  tests/unit/database/seeding/__init__.py
  tests/unit/database/seeding/test_seeding_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add multi-sport team seeding script (Issue #187) (#192)
  scripts/seed_multi_sport_teams.py
  tests/unit/scripts/test_seed_multi_sport_teams.py
Due: ruff-check, ruff-format, mypy

feat: Complete SeedingManager implementation with CLI commands (#209)
  main.py
  src/precog/database/seeding/seeding_manager.py
  tests/integration/database/seeding/__init__.py
  tests/integration/database/seeding/test_seeding_manager_integration.py
  tests/unit/database/seeding/__init__.py
  tests/unit/database/seeding/test_seeding_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add two-axis environment configuration system (Issue #202)
  .env.template
  docs/foundation/MASTER_INDEX_V2.48.md
  docs/guides/ENVIRONMENT_CONFIGURATION_GUIDE_V1.0.md
  main.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/config/__init__.py
  src/precog/config/environment.py
  src/precog/database/connection.py
  tests/integration/config/test_environment_integration.py
  tests/unit/config/__init__.py
  tests/unit/config/test_environment.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Improve test reliability across Windows platform
  scripts/validation_config.yaml
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/fixtures/stress_testcontainers.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add Python parallel check runner for cross-platform pre-push
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy

fix: Increase pre-push timeout and ignore S602 for trusted scripts
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy

feat: Implement 4-phase test strategy for database isolation
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy

fix: Add S602 ignore for CI security scan and add PgBouncer deferred task
  .github/workflows/ci.yml
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.2.md
Due: validate-docs

feat: Add Two-Axis Environment Configuration System (Issue #202) (#210)
  .env.template
  .github/workflows/ci.yml
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/guides/ENVIRONMENT_CONFIGURATION_GUIDE_V1.0.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.2.md
  main.py
  scripts/run_parallel_checks.py
  scripts/validation_config.yaml
  src/precog/api_connectors/kalshi_client.py
  src/precog/config/__init__.py
  src/precog/config/environment.py
  src/precog/database/connection.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/fixtures/stress_testcontainers.py
  tests/integration/config/test_environment_integration.py
  tests/unit/config/__init__.py
  tests/unit/config/test_environment.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete Issues #193 and #194 - Service Runner and NCAAW Support
  main.py
  scripts/run_data_collector.py
  src/precog/database/alembic/versions/0004_add_ncaaw_support.py
  src/precog/database/seeding/seeding_manager.py
  src/precog/database/seeds/008_ncaaw_teams.sql
  tests/unit/database/seeding/test_seeding_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Update documentation for service runner and NCAAW support
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.1.md
Due: validate-docs

fix: Use else branches with noqa for cross-platform mypy compatibility
  scripts/run_data_collector.py
Due: ruff-check, ruff-format, mypy

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$
