Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$

docs: Add Pre-Planning Test Coverage Checklist (MANDATORY)
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.1.md
Due: validate-docs

docs: Add Pre-Planning Test Coverage Checklist (MANDATORY) (#158)
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.1.md
Due: validate-docs

feat: Phase 2C CRUD Test Coverage - All 8 test types for crud_operations
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/test_crud_operations_integration.py
  tests/performance/__init__.py
  tests/performance/test_crud_operations_performance.py
  tests/property/test_crud_operations_properties.py
  tests/stress/test_crud_operations_stress.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: CRUD bugs discovered by integration tests + CI PostgreSQL
  .github/workflows/ci.yml
  src/precog/database/crud_operations.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/test_crud_operations_integration.py
  tests/performance/test_crud_operations_performance.py
  tests/property/test_crud_operations_properties.py
  tests/stress/test_crud_operations_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: TESTING_STRATEGY V3.2 enforcement - All 8 test types MANDATORY
  .github/workflows/ci.yml
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.12.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
Due: validate-docs

feat: Database Environment Strategy + Validation Monitoring
  .env.template
  config/.env.dev.template
  config/.env.staging.template
  config/.env.test.template
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/guides/DATABASE_ENVIRONMENT_STRATEGY_V1.0.md
  scripts/validation_monitor.py
  src/precog/database/connection.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

chore: Add pytest-timeout to requirements for pre-push hooks
  requirements.txt
Due: none

feat: Database Environment Strategy + Validation Monitoring (#160)
  .env.template
  config/.env.dev.template
  config/.env.staging.template
  config/.env.test.template
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/guides/DATABASE_ENVIRONMENT_STRATEGY_V1.0.md
  requirements.txt
  scripts/validation_monitor.py
  src/precog/database/connection.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix(ci): Add pip install -e . for src/ layout package
  .github/workflows/ci.yml
Due: validate-docs

fix(ci): Call run_migration() without arguments
  .github/workflows/ci.yml
Due: validate-docs

fix(tests): Move DB-dependent tests to integration, fix mock return values
  tests/integration/analytics/test_model_manager.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_strategy_manager.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix(ci): Disable coverage threshold for integration/E2E tests
  .github/workflows/ci.yml
Due: validate-docs

fix(ci): Move coverage threshold from global to unit-test-only
  .github/workflows/ci.yml
  pytest.ini
Due: validate-docs

fix(ci): correct coverage path and add vcrpy dependency
  .github/workflows/ci.yml
Due: validate-docs

chore: lower coverage threshold from 80% to 45% temporarily
  pyproject.toml
Due: none

fix(ci): make integration tests non-blocking (tech debt)
  .github/workflows/ci.yml
Due: validate-docs

fix(ci): make test-type-coverage non-blocking (tech debt Issue #155)
  .github/workflows/ci.yml
Due: validate-docs

fix: Add strip_ansi() helper for Windows ANSI escape code compatibility
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

fix: Additional Windows ANSI escape code test fixes
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

feat: Phase 2C CRUD Operations Tests + Critical Bug Fixes (#159)
  .github/workflows/ci.yml
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.12.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
  pyproject.toml
  pytest.ini
  src/precog/database/crud_operations.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/analytics/test_model_manager.py
  tests/integration/database/test_crud_operations_integration.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_strategy_manager.py
  tests/performance/__init__.py
  tests/performance/test_crud_operations_performance.py
  tests/property/test_crud_operations_properties.py
  tests/stress/test_crud_operations_stress.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Pattern 25 - ANSI Escape Code Handling for Cross-Platform CLI Testing
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/foundation/TESTING_STRATEGY_V3.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.13.md
Due: validate-docs

feat: Add chaos tests for CRUD operations (TESTING_STRATEGY V3.2 Type 8)
  tests/chaos/__init__.py
  tests/chaos/test_crud_operations_chaos.py
Due: ruff-check, ruff-format, mypy

feat: Add Pattern 25 (ANSI Escape Codes) + Chaos Tests for CRUD Operations (#162)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/MASTER_INDEX_V2.39.md
  docs/foundation/TESTING_STRATEGY_V3.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.13.md
  tests/chaos/__init__.py
  tests/chaos/test_crud_operations_chaos.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Implement database environment safety guards (Issue #161)
  .github/workflows/ci.yml
  main.py
  scripts/apply_all_migrations_to_test_db.py
  scripts/apply_migration_v1.4.py
  scripts/apply_migration_v1.5.py
  src/precog/database/__init__.py
  src/precog/database/connection.py
  tests/conftest.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Update test_env_verbose to mock DB_PASSWORD for password hiding test
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

feat: Implement database environment safety guards (Issue #161) (#163)
  .github/workflows/ci.yml
  main.py
  scripts/apply_all_migrations_to_test_db.py
  scripts/apply_migration_v1.4.py
  scripts/apply_migration_v1.5.py
  src/precog/database/__init__.py
  src/precog/database/connection.py
  tests/conftest.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Add db_pool fixture to integration tests (Pattern 13 compliance)
  tests/integration/analytics/test_model_manager.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Optimize rate limiter property test to avoid timeout
  tests/property/api_connectors/test_kalshi_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

bugfix: Fix integration test fixtures + rate limiter timeout (#164)
  tests/integration/analytics/test_model_manager.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_strategy_manager.py
  tests/property/api_connectors/test_kalshi_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Phase 1.9 Test Infrastructure Plan (BLOCKING)
  docs/foundation/MASTER_INDEX_V2.40.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/utility/PHASE_1.9_TEST_INFRASTRUCTURE_PLAN_V1.0.md
Due: validate-docs

fix: Phase 1.9 - Fix credential naming and schema issues (Issue #165)
  src/precog/api_connectors/kalshi_client.py
  src/precog/database/migrations/015_standardize_game_states_scd_columns.sql
  src/precog/schedulers/kalshi_websocket.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
  tests/property/test_database_crud_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Update SCD Type 2 column name to row_end_ts (Issue #165)
  src/precog/database/crud_operations.py
  tests/unit/api_connectors/test_kalshi_client.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

chore: Add version-controlled pre-push hook template (Phase 1.9)
  scripts/pre-push-hook.sh
Due: none

fix: CI database setup + remove continue-on-error (Phase 1.9)
  .github/workflows/ci.yml
  src/precog/database/migrations/000_base_schema.sql
Due: validate-docs

fix: Align CI test coverage - all 8 test types (Phase 1.9)
  .github/workflows/ci.yml
Due: validate-docs

fix: Pre-push hook exit code issues (Phase 1.9)
  scripts/pre-push-hook.sh
Due: none

revert: Restore pre-push hook to run ALL 8 test types (Phase 1.9)
  scripts/pre-push-hook.sh
Due: none

docs: Add TEST_ISOLATION_PATTERNS_V1.0.md for Phase 1.9
  docs/foundation/MASTER_INDEX_V2.41.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.0.md
Due: validate-docs

docs: Update TESTING_STRATEGY V3.2 → V3.3 with Test Isolation Patterns
  docs/foundation/ADR_INDEX_V1.16.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.41.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TESTING_STRATEGY_V3.3.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/COMPREHENSIVE_TEST_AUDIT_PHASE_1.5_V1.0.md
  docs/testing/PHASE_2_TEST_PLAN_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.0.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  docs/utility/PHASE_1.9_TEST_INFRASTRUCTURE_PLAN_V1.0.md
  docs/utility/PHASE_2_TEST_COVERAGE_GAPS_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.1.md
Due: validate-docs

docs: Add REQ-TEST-020 through REQ-TEST-024 (Test Isolation Requirements)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.42.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.13.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.0.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V1.0.md
Due: validate-docs
