Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

docs: ADR-118 v2.40 — Cohort 1 carry-forward amendment (5 decisions + Pattern 82 direction policy)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.30.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.40.md
  docs/foundation/MASTER_INDEX_V2.57.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
  scripts/lint_adr_drift.py
  src/precog/database/crud_canonical_markets.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: ADR-118 v2.40 Wave 2 review fixes (Jorge GAP-1, GAP-2 + Librarian M1, M2)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.40.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

docs: ADR-118 v2.40 — Cohort 1 carry-forward amendment (#1011) (#1034)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.30.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.40.md
  docs/foundation/MASTER_INDEX_V2.57.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
  scripts/lint_adr_drift.py
  src/precog/database/crud_canonical_markets.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DEVELOPMENT_PATTERNS V1.37 — Pattern 82 V2 + Pattern 83 (Cohort 1 carry-forward)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.37.md
Due: validate-docs

feat: Migration 0070 — Cohort 1 carry-forward hardening (#1011 items 1 + 3) (#1031)
  src/precog/database/alembic/versions/0070_cohort_1_carryforward_hardening.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DEVELOPMENT_PATTERNS V1.37 — Pattern 82 V2 + Pattern 83 (Cohort 1 carry-forward) (#1030)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.37.md
Due: validate-docs

test: integration tests for migrations 0067 + 0068 + 0069 + 0070 (Cohort 1+2 + carry-forward)
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
  tests/integration/database/test_migration_0070_cohort_1_carryforward_hardening.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: tighten count assertions + comment trim per Glokta P2 review
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: integration tests for migrations 0067 + 0068 + 0069 + 0070 (Cohort 1+2 + carry-forward) (#1045)
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
  tests/integration/database/test_migration_0070_cohort_1_carryforward_hardening.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Cohort 1 canonical_entity Pattern 14 retro - CRUD module + unit tests + Pattern 82 V2 load-bearing test (#1021 Slice B)
  src/precog/database/crud_canonical_entity.py
  tests/database/test_canonical_entity_polymorphic_invariants.py
  tests/unit/database/test_crud_canonical_entity_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore: register database/crud_canonical_entity as experimental tier in audit MODULE_TIERS
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Cohort 1 canonical_entity Pattern 14 retro — CRUD module + Pattern 82 V2 load-bearing test (#1021 Slice B) (#1046)
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_canonical_entity.py
  tests/database/test_canonical_entity_polymorphic_invariants.py
  tests/unit/database/test_crud_canonical_entity_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: canonical CANONICAL_EVENT_LIFECYCLE_PHASES constant — Pattern 73 SSOT for the 8-value lifecycle_phase vocabulary (#1038)
  scripts/audit_test_type_coverage.py
  src/precog/database/constants.py
  tests/unit/database/test_constants_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: canonical CANONICAL_EVENT_LIFECYCLE_PHASES constant — Pattern 73 SSOT for the 8-value lifecycle_phase vocabulary (#1038) (#1049)
  scripts/audit_test_type_coverage.py
  src/precog/database/constants.py
  tests/unit/database/test_constants_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Pattern 84 § Critical Interaction — clarify Migration 0070 is single-phase carve-out, not two-phase example
  docs/guides/DEVELOPMENT_PATTERNS_V1.38.md
Due: validate-docs

docs: DEVELOPMENT_PATTERNS V1.38 — Pattern 84 (NOT VALID + VALIDATE CONSTRAINT for CHECK on populated tables)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.38.md
  src/precog/database/crud_canonical_entity.py
  tests/database/test_canonical_entity_polymorphic_invariants.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DEVELOPMENT_PATTERNS V1.38 — Pattern 84 (NOT VALID + VALIDATE CONSTRAINT for CHECK on populated tables) (#1048)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.38.md
  src/precog/database/crud_canonical_entity.py
  tests/database/test_canonical_entity_polymorphic_invariants.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test+docs: #1044 Pattern 73 helper + ON DELETE assertions + #1050 nits + #1047 Class 1 stragglers
  docs/foundation/ADR_INDEX_V1.30.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.40.md
  docs/foundation/MASTER_INDEX_V2.57.md
  src/precog/database/crud_canonical_entity.py
  tests/integration/database/_canonical_event_helpers.py
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
  tests/unit/database/test_crud_canonical_entity_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: sweep 2 missed V1.36 forward-pointers in ARCHITECTURE_DECISIONS lines 17995-17996
  docs/foundation/ARCHITECTURE_DECISIONS_V2.40.md
Due: validate-docs

test+docs: Cohort 1+2 follow-up bundle — #1050 nits + #1044 partial + #1047 Class 1 (#1053)
  docs/foundation/ADR_INDEX_V1.30.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.40.md
  docs/foundation/MASTER_INDEX_V2.57.md
  src/precog/database/crud_canonical_entity.py
  tests/integration/database/_canonical_event_helpers.py
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
  tests/unit/database/test_crud_canonical_entity_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs+tooling: drop filename versions from 4 narrative canonical docs + patch 3 dependent scripts (Epic #1054 Phase 1)
  CLAUDE.md
  README.md
  docs/foundation/ADR_INDEX.md
  docs/foundation/ARCHITECTURE_DECISIONS.md
  docs/foundation/MASTER_INDEX.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS.md
  scripts/fix_docs.py
  scripts/lint_adr_drift.py
  scripts/validate_docs.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: sweep 6 missed forward-pointers caught by Joe Chip + Ripley reviews
  docs/foundation/ADR_INDEX.md
  docs/foundation/ARCHITECTURE_DECISIONS.md
Due: validate-docs

docs+tooling: Drop filename versions from 4 narrative canonical docs (Epic #1054 Phase 1) (#1055)
  CLAUDE.md
  README.md
  docs/foundation/ADR_INDEX.md
  docs/foundation/ARCHITECTURE_DECISIONS.md
  docs/foundation/MASTER_INDEX.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS.md
  scripts/fix_docs.py
  scripts/lint_adr_drift.py
  scripts/validate_docs.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs+test: Task 7 residuals — Pattern 73 SSOT pointer for #1036 + V1.36 sweep in 2 VCR test files for #1032
  docs/foundation/ARCHITECTURE_DECISIONS.md
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs+test: Task 7 residuals — Pattern 73 SSOT pointer for #1036 + V1.36 sweep in 2 VCR test files for #1032 (#1056)
  docs/foundation/ARCHITECTURE_DECISIONS.md
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs+test: session 77 S68 follow-ups bundle (#1057) — 9 claude-review nits across 5 PRs
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS.md
  docs/guides/DEVELOPMENT_PATTERNS.md
  tests/integration/database/_canonical_event_helpers.py
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/unit/database/test_constants_unit.py
  tests/unit/database/test_crud_canonical_entity_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DATABASE_SCHEMA_SUMMARY V2.1 + Pattern 86 (Living-Doc Freshness Markers) — closes #897
  CLAUDE.md
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.1.md
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

docs+test: session 77 S68 follow-ups bundle (#1057) — 9 claude-review nits across 5 PRs (#1059)
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS.md
  docs/guides/DEVELOPMENT_PATTERNS.md
  tests/integration/database/_canonical_event_helpers.py
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0068_canonical_entity_foundation.py
  tests/unit/database/test_constants_unit.py
  tests/unit/database/test_crud_canonical_entity_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DATABASE_SCHEMA_SUMMARY V2.1 + Pattern 86 (Living-Doc Freshness Markers) — closes #897 (#1060)
  CLAUDE.md
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.1.md
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

docs+protocol: P41 design-stage Tier 0 + S82 trigger — closes #1058
  CLAUDE.md
Due: validate-docs

docs+protocol: P41 design-stage Tier 0 + S82 trigger — closes #1058 (#1061)
  CLAUDE.md
Due: validate-docs

feat(cohort-3): Migration 0071 match_algorithm lookup + crud + tests + 0072 displacement bump
  docs/foundation/ARCHITECTURE_DECISIONS.md
  src/precog/database/alembic/versions/0071_match_algorithm.py
  src/precog/database/crud_canonical_markets.py
  src/precog/database/crud_match_algorithm.py
  tests/integration/database/test_migration_0071_match_algorithm.py
  tests/unit/database/test_crud_canonical_markets_unit.py
  tests/unit/database/test_crud_match_algorithm_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore: register crud_match_algorithm in MODULE_TIERS audit
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat(cohort-3): Migration 0071 match_algorithm lookup + 0072 displacement bump (#1063)
  docs/foundation/ARCHITECTURE_DECISIONS.md
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0071_match_algorithm.py
  src/precog/database/crud_canonical_markets.py
  src/precog/database/crud_match_algorithm.py
  tests/integration/database/test_migration_0071_match_algorithm.py
  tests/unit/database/test_crud_canonical_markets_unit.py
  tests/unit/database/test_crud_match_algorithm_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #1021 Slice C — CRUD modules for canonical_events + canonical_event_participants + 3 lookup helpers
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_canonical_event_participants.py
  src/precog/database/crud_canonical_events.py
  tests/unit/database/test_crud_canonical_event_participants_unit.py
  tests/unit/database/test_crud_canonical_events_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #1021 Slice C — CRUD modules for canonical_events + canonical_event_participants + 3 lookup helpers (#1072)
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_canonical_event_participants.py
  src/precog/database/crud_canonical_events.py
  tests/unit/database/test_crud_canonical_event_participants_unit.py
  tests/unit/database/test_crud_canonical_events_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(adr): ADR-118 V2.42 — ratify created_at convention + BEFORE UPDATE trigger requirement (#1007) + canonical_events ON DELETE SET NULL (#1004)
  docs/foundation/ARCHITECTURE_DECISIONS.md
Due: validate-docs

docs(adr): ADR-118 V2.42 — ratify created_at convention + BEFORE UPDATE trigger requirement (#1007) + canonical_events ON DELETE SET NULL (#1004) (#1076)
  docs/foundation/ARCHITECTURE_DECISIONS.md
Due: validate-docs

docs+test: session 80 docs-tail bundle (#1064 + #1073 + #1077 + #1078) — 12 doc/test edits across 6 files
  docs/foundation/ARCHITECTURE_DECISIONS.md
  src/precog/database/crud_canonical_event_participants.py
  src/precog/database/crud_canonical_events.py
  src/precog/database/crud_match_algorithm.py
  tests/integration/database/test_migration_0071_match_algorithm.py
  tests/unit/database/test_crud_canonical_event_participants_unit.py
  tests/unit/database/test_crud_canonical_events_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(patterns): promote append-only-migrations to Pattern 87 — DEVELOPMENT_PATTERNS V1.40
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs
