Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

validate-docs:
  name: Documentation Validation (9 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates documentation consistency, cross-references, versioning, phase status, and YAML configs

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check .
  language: system
  pass_filenames: false
  description: Runs Ruff linter for code quality

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check .
  language: system
  pass_filenames: false
  description: Checks code formatting with Ruff (no auto-fix)

mypy:
  name: Mypy Type Checking
  entry: python -m mypy . --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  description: Type checking with mypy

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

fix: Resolve MASTER_INDEX documentation gaps (Issue #130) (#145)
  docs/foundation/MASTER_INDEX_V2.36.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  scripts/validate_docs.py
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Address pre-push validation failures (Pattern 13 + S608)
  pyproject.toml
  src/precog/database/migrations/migration_025_unique_display_order_constraints.py
  tests/integration/database/test_migration_idempotency.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add E2E and stress tests for Issues #125, #126, #128 (#146)
  pyproject.toml
  pytest.ini
  src/precog/database/migrations/migration_025_unique_display_order_constraints.py
  tests/e2e/__init__.py
  tests/e2e/analytics/__init__.py
  tests/e2e/analytics/test_model_manager_e2e.py
  tests/e2e/api_connectors/__init__.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
  tests/e2e/trading/__init__.py
  tests/e2e/trading/test_kelly_criterion_e2e.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/e2e/trading/test_strategy_manager_e2e.py
  tests/integration/database/test_migration_idempotency.py
  tests/stress/__init__.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_logger_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Eliminate all Mypy test type hints errors (Issue #131)
  src/precog/database/crud_operations.py
  tests/conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/fixtures/factories.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/stress/test_config_loader_stress.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/test_database_connection.py
  tests/test_decimal_properties.py
  tests/unit/analytics/test_model_manager.py
  tests/unit/scripts/test_validate_schema_consistency.py
  tests/unit/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Correct Kalshi client tests to use accurate dual-format API mock data
  tests/fixtures/api_responses.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Correct Kalshi client tests to use accurate dual-format API mock data (#147)
  tests/fixtures/api_responses.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Update TypedDicts for Kalshi dual-format pricing (Mypy fixes)
  main.py
  src/precog/api_connectors/types.py
  tests/fixtures/factories.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix(mypy): Add None guards and type fixes to test files
  src/precog/database/crud_operations.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix(tests): Resolve Mypy errors in integration, VCR, stress, and e2e tests
  tests/conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/database/test_migration_idempotency.py
  tests/stress/test_config_loader_stress.py
  tests/test_database_connection.py
  tests/unit/scripts/test_check_warning_debt.py
  tests/unit/scripts/test_validate_schema_consistency.py
  tests/unit/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix(tests): Resolve Mypy errors in integration, VCR, stress, and e2e tests (Issue #131) (#148)
  main.py
  src/precog/api_connectors/types.py
  src/precog/database/crud_operations.py
  tests/conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/fixtures/factories.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/stress/test_config_loader_stress.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/test_database_connection.py
  tests/unit/scripts/test_check_warning_debt.py
  tests/unit/scripts/test_validate_schema_consistency.py
  tests/unit/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve failing tests for Phase 2 readiness
  main.py
  tests/integration/database/test_migration_idempotency.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve failing tests for Phase 2 readiness (#149)
  main.py
  tests/integration/database/test_migration_idempotency.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Phase 2 start protocol preparation
  docs/foundation/MASTER_INDEX_V2.36.md
  docs/testing/PHASE_2_TEST_PLAN_V1.0.md
  scripts/validation_config.yaml
Due: validate-docs

feat(api): Implement ESPN API client with comprehensive test coverage
  src/precog/api_connectors/espn_client.py
  src/precog/data/__init__.py
  src/precog/schedulers/__init__.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/fixtures/__init__.py
  tests/fixtures/espn_responses.py
  tests/fixtures/factories.py
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/property/api_connectors/__init__.py
  tests/property/api_connectors/test_espn_client_properties.py
  tests/stress/api_connectors/__init__.py
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/unit/api_connectors/test_espn_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Add path-based test fixture validation for API integration tests
  scripts/validate_test_fixtures.py
  scripts/validation_config.yaml
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Add ADR-029 ESPN Data Model and implementation plan
  docs/foundation/ADR_INDEX_V1.16.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.22.md
  docs/foundation/MASTER_INDEX_V2.37.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  src/precog/api_connectors/espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Update DEVELOPMENT_PHASES Phase 2 deliverables with detailed checklist
  docs/foundation/DEVELOPMENT_PHASES_V1.6.md
Due: validate-docs

docs: Add REQ-DATA requirements for Phase 2 live data management
  docs/foundation/ARCHITECTURE_DECISIONS_V2.22.md
  docs/foundation/MASTER_INDEX_V2.37.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/REQUIREMENT_INDEX_V1.9.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

feat(db): Add Phase 2 database migrations 011-014 for ESPN data model
  src/precog/database/migrations/011_create_venues_table.sql
  src/precog/database/migrations/012_create_team_rankings_table.sql
  src/precog/database/migrations/013_enhance_teams_table.sql
  src/precog/database/migrations/014_create_game_states_table.sql
Due: none

feat(db): Add CRUD operations for venues, team_rankings, game_states
  src/precog/database/crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Update DATABASE_SCHEMA_SUMMARY V1.11 to V1.12 with Phase 2 tables
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.12.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  docs/foundation/ADR-201_Position_History_Without_SCD_Type_2.md
  docs/foundation/ADR_INDEX_V1.16.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.22.md
  docs/foundation/MASTER_INDEX_V2.37.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  main.py
  scripts/validate_schema_consistency.py
  tests/integration/database/test_migration_idempotency.py
  tests/unit/scripts/test_validate_schema_consistency.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Add ESPN_DATA_MODEL_V1.0.md guide and fix REQ-DATA-003 test coverage
  docs/foundation/MASTER_INDEX_V2.37.md
  docs/guides/ESPN_DATA_MODEL_V1.0.md
  tests/unit/api_connectors/test_espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat(db): Add multi-sport team seeds for Phase 2 ESPN integration
  src/precog/database/seeds/002_nfl_teams_espn_update.sql
  src/precog/database/seeds/003_nba_teams.sql
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/database/seeds/005_wnba_teams.sql
  src/precog/database/seeds/006_ncaaf_teams.sql
  src/precog/database/seeds/007_ncaab_teams.sql
Due: none

fix: Security test Windows file locking + mark REQ-SEC-009 tests as xfail
  docs/foundation/DEVELOPMENT_PHASES_V1.7.md
  docs/foundation/REQUIREMENT_INDEX_V1.10.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.12.md
  tests/security/test_connection_security.py
  tests/security/test_credential_masking.py
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Add strategy-driven data architecture to DATA_COLLECTION_GUIDE
  docs/foundation/DEVELOPMENT_PHASES_V1.7.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
Due: validate-docs

docs: Add ADR-076 and document STRATEGY_DEVELOPMENT_GUIDE as Phase 4 deliverable
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHASES_V1.7.md
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
Due: validate-docs

fix: Update cross-references for document version consistency
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.0.md
Due: validate-docs

docs: Add strategy-driven data architecture to DATA_COLLECTION_GUIDE (#152)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHASES_V1.7.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/REQUIREMENT_INDEX_V1.10.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.1.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.12.md
  tests/security/test_connection_security.py
  tests/security/test_credential_masking.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Phase 2 ESPN API Scheduler and Test Infrastructure
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/foundation/REQUIREMENT_INDEX_V1.11.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.12.md
  scripts/validate_phase_requirements.py
  src/precog/api_connectors/espn_client.py
  src/precog/config/env.template
  src/precog/database/connection.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/__init__.py
  src/precog/schedulers/market_updater.py
  src/precog/utils/logger.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/api_connectors/test_espn_client_properties.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/security/test_credential_masking.py
  tests/security/test_sql_injection.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_logger_stress.py
  tests/unit/api_connectors/test_espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Phase 2 ESPN API Scheduler and Test Infrastructure (#153)
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/foundation/REQUIREMENT_INDEX_V1.11.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.12.md
  scripts/validate_phase_requirements.py
  src/precog/api_connectors/espn_client.py
  src/precog/config/env.template
  src/precog/database/connection.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/__init__.py
  src/precog/schedulers/market_updater.py
  src/precog/utils/logger.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/api_connectors/test_espn_client_properties.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/security/test_credential_masking.py
  tests/security/test_sql_injection.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_logger_stress.py
  tests/unit/api_connectors/test_espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add KalshiMarketPoller for REST API market data polling
  src/precog/schedulers/__init__.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy

feat: Add KalshiWebSocketHandler for real-time market streaming
  src/precog/schedulers/__init__.py
  src/precog/schedulers/kalshi_websocket.py
  tests/unit/schedulers/test_kalshi_websocket.py
Due: ruff-check, ruff-format, mypy

feat: Add MarketDataManager for hybrid polling/WebSocket orchestration
  src/precog/schedulers/__init__.py
  src/precog/schedulers/market_data_manager.py
  tests/unit/schedulers/test_market_data_manager.py
Due: ruff-check, ruff-format, mypy

fix: Warning governance now respects pyproject.toml filterwarnings
  scripts/check_warning_debt.py
  scripts/warning_baseline.json
Due: ruff-check, ruff-format, mypy

feat: Phase 2 Kalshi Market Data Infrastructure + Warning Governance Fix (#154)
  scripts/check_warning_debt.py
  scripts/warning_baseline.json
  src/precog/schedulers/__init__.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/schedulers/market_data_manager.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_kalshi_websocket.py
  tests/unit/schedulers/test_market_data_manager.py
Due: ruff-check, ruff-format, mypy

feat: TESTING_STRATEGY V3.2 - All 8 test types mandatory + enforcement tooling
  .github/workflows/ci.yml
  docs/foundation/ADR_INDEX_V1.16.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TESTING_STRATEGY_V3.2.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/COMPREHENSIVE_TEST_AUDIT_PHASE_1.5_V1.0.md
  docs/testing/PHASE_2_TEST_PLAN_V1.0.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  docs/utility/PHASE_2_TEST_COVERAGE_GAPS_V1.0.md
  scripts/audit_test_type_coverage.py
  tests/property/schedulers/__init__.py
  tests/property/schedulers/test_market_data_manager_properties.py
  tests/stress/schedulers/__init__.py
  tests/stress/schedulers/test_market_data_manager_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: TESTING_STRATEGY V3.2 - All 8 test types mandatory + enforcement tooling (#156)
  .github/workflows/ci.yml
  docs/foundation/ADR_INDEX_V1.16.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.23.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.38.md
  docs/foundation/MASTER_REQUIREMENTS_V2.19.md
  docs/foundation/TESTING_STRATEGY_V3.2.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V1.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/COMPREHENSIVE_TEST_AUDIT_PHASE_1.5_V1.0.md
  docs/testing/PHASE_2_TEST_PLAN_V1.0.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  docs/utility/PHASE_2_TEST_COVERAGE_GAPS_V1.0.md
  scripts/audit_test_type_coverage.py
  tests/property/schedulers/__init__.py
  tests/property/schedulers/test_market_data_manager_properties.py
  tests/stress/schedulers/__init__.py
  tests/stress/schedulers/test_market_data_manager_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Phase 2B Database Migrations - venues, team_rankings, teams, game_states
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/database/migrations/migration_026_create_venues_table.py
  src/precog/database/migrations/migration_027_create_team_rankings_table.py
  src/precog/database/migrations/migration_028_enhance_teams_table.py
  src/precog/database/migrations/migration_029_create_game_states_table.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Phase 2B Database Migrations - venues, team_rankings, teams, game_states (#157)
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/database/migrations/migration_026_create_venues_table.py
  src/precog/database/migrations/migration_027_create_team_rankings_table.py
  src/precog/database/migrations/migration_028_enhance_teams_table.py
  src/precog/database/migrations/migration_029_create_game_states_table.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$
