Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$

test: Improve crud_operations coverage from 84.19% to 97.86% (+13.67pp)
  src/precog/database/__init__.py
  tests/test_crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Improve crud_operations coverage from 84.19% to 97.86% (+13.67pp) (#77)
  src/precog/database/__init__.py
  tests/test_crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

bugfix: Fix imports in test_initialization.py for src/ layout
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

bugfix: Fix imports in test_initialization.py for src/ layout (#78)
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

bugfix: Update test_initialization imports for src/ layout (missed in PR #22) (#76)
  scripts/validate_docs.py
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Fix initialization tests compatibility with security validation
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Phase workflow automation + test fixture security patterns
  docs/foundation/ARCHITECTURE_DECISIONS_V2.15.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.2.md
  docs/foundation/MASTER_INDEX_V2.22.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.3.md
  scripts/check_outstanding_work.sh
  scripts/create_issues_from_reviews.py
  scripts/extract_claude_review_comments.sh
Due: validate-docs, ruff-check, ruff-format, mypy

workflow: Add standardized issue tracking protocol and reconciliation system
  CLAUDE.md
  docs/utility/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  scripts/reconcile_issue_tracking.sh
Due: validate-docs

workflow: Add standardized issue tracking protocol and reconciliation system (#81)
  CLAUDE.md
  docs/utility/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  scripts/reconcile_issue_tracking.sh
Due: validate-docs

bugfix: Fix overly-restrictive security validation in database initialization (16 test failures)
  src/precog/database/initialization.py
  tests/conftest.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Update warning baseline: 68 → 70 warnings (+2)
  docs/utility/WARNING_DEBT_TRACKER.md
  scripts/warning_baseline.json
Due: validate-docs

docs: Add GitHub CLI dependency documentation and developer setup guide
  docs/foundation/MASTER_INDEX_V2.23.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/guides/DEVELOPER_SETUP_GUIDE_V1.0.md
  scripts/reconcile_issue_tracking.sh
Due: validate-docs

bugfix: Fix 16 test failures - security validation and cleanup (#82)
  docs/utility/WARNING_DEBT_TRACKER.md
  scripts/warning_baseline.json
  src/precog/database/initialization.py
  tests/conftest.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Add GitHub CLI dependency documentation and developer setup guide (#83)
  docs/foundation/MASTER_INDEX_V2.23.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/guides/DEVELOPER_SETUP_GUIDE_V1.0.md
  scripts/reconcile_issue_tracking.sh
Due: validate-docs

test: Fix initialization tests compatibility with security validation (#79)
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Phase workflow automation + test fixture security patterns (#80)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.15.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.2.md
  docs/foundation/MASTER_INDEX_V2.23.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.3.md
  scripts/check_outstanding_work.sh
  scripts/create_issues_from_reviews.py
  scripts/extract_claude_review_comments.sh
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Add parallel branch update pattern for efficient multi-PR merges
  CLAUDE.md
Due: validate-docs

docs: Add parallel branch update pattern for efficient multi-PR merges (#84)
  CLAUDE.md
Due: validate-docs

docs: Clarify SESSION_HANDOFF.md workflow (historical record, not task planner)
  CLAUDE.md
Due: validate-docs

chore: Update warning baseline to reflect Mypy regression (70→71)
  scripts/warning_baseline.json
Due: none

chore: Update warning baseline to reflect Mypy regression (70→71) (#85)
  scripts/warning_baseline.json
Due: none

docs: Clarify SESSION_HANDOFF.md workflow (historical record, not task planner) (#86)
  CLAUDE.md
Due: validate-docs

refactor: Add CI path-based filtering and dependency caching
  .github/workflows/ci.yml
Due: validate-docs

refactor: Add CI path-based filtering and dependency caching (#87)
  .github/workflows/ci.yml
Due: validate-docs

feat: Complete 10 deferred tasks (8 quick wins + 2 medium)
  CLAUDE.md
  pyproject.toml
  requirements.txt
  scripts/validate_docs.py
  src/precog/database/initialization.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/property/test_strategy_versioning_properties.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete 10 deferred tasks (8 quick wins + 2 medium) (#88)
  CLAUDE.md
  pyproject.toml
  requirements.txt
  scripts/validate_docs.py
  src/precog/database/initialization.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/property/test_strategy_versioning_properties.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Implement Strategy Manager with comprehensive tests (Phase 1.5)
  docs/foundation/MASTER_INDEX_V2.24.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/testing/PHASE_1.5_TEST_PLAN_V1.0.md
  src/precog/analytics/__init__.py
  src/precog/trading/__init__.py
  src/precog/trading/strategy_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Suppress false positive SQL injection warning (S608)
  src/precog/trading/strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Suppress S608 false positive via pyproject.toml config
  pyproject.toml
Due: none

feat: Implement Model Manager with immutable versioning (Phase 1.5)
  pyproject.toml
  src/precog/analytics/__init__.py
  src/precog/analytics/model_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

wip: Add Model Manager tests (BLOCKER: Schema mismatch)
  tests/unit/analytics/test_model_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Mark Model Manager tests as skipped pending schema fix
  tests/unit/analytics/test_model_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete 10 deferred tasks (8 quick wins + 2 medium)
  .pre-commit-config.yaml
  scripts/validate_schema.py
  src/precog/database/migrations/migration_011_standardize_classification_fields.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete 10 deferred tasks (8 quick wins + 2 medium) (#90)
  .pre-commit-config.yaml
  scripts/validate_schema.py
  src/precog/database/migrations/migration_011_standardize_classification_fields.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Update documentation for schema standardization (Migration 011)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.9.md
  docs/foundation/ADR_INDEX_V1.11.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.16.md
  docs/foundation/MASTER_INDEX_V2.23.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

fix: CI Summary bash arithmetic bug (((SKIPPED++)) fails with -e flag)
  .github/workflows/ci.yml
Due: validate-docs

docs: Schema standardization documentation (Migration 011 - approach/domain) (#91)
  .github/workflows/ci.yml
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.9.md
  docs/foundation/ADR_INDEX_V1.11.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.16.md
  docs/foundation/MASTER_INDEX_V2.23.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/foundation/TESTING_STRATEGY_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

refactor: Update Strategy Manager to use approach/domain fields (Migration 011)
  src/precog/trading/strategy_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Fix test_strategy_lifecycle_end_to_end mock setup (StopIteration)
  tests/unit/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Schema validation and test cleanup for Migration 011/012
  scripts/validate_schema.py
  src/precog/database/migrations/migration_012_fix_approach_constraint.py
  tests/conftest.py
Due: ruff-check, ruff-format, mypy, no-print-in-production
