Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

test(ci): migration round-trip schema-reversibility gate (#1066)
  tests/integration/migrations/__init__.py
  tests/integration/migrations/test_round_trip.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat(cohort-3): #1021 slot 0072 — canonical_market_links + canonical_event_links link tables (Cohort 3 second slot)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0072_canonical_link_tables.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_event_links.py
  src/precog/database/crud_canonical_market_links.py
  tests/integration/database/test_migration_0072_canonical_link_tables.py
  tests/unit/database/test_crud_canonical_event_links_unit.py
  tests/unit/database/test_crud_canonical_market_links_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(cohort-3): #1084 fix — ON DELETE RESTRICT raises FK-violation tuple class
  tests/integration/database/test_migration_0072_canonical_link_tables.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(patterns): promote append-only-migrations to Pattern 87 — DEVELOPMENT_PATTERNS V1.40 (#1080)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

docs+test: session 80 docs-tail bundle (#1064 + #1073 + #1077 + #1078) — 12 doc/test edits across 6 files (#1079)
  docs/foundation/ARCHITECTURE_DECISIONS.md
  src/precog/database/crud_canonical_event_participants.py
  src/precog/database/crud_canonical_events.py
  src/precog/database/crud_match_algorithm.py
  tests/integration/database/test_migration_0071_match_algorithm.py
  tests/unit/database/test_crud_canonical_event_participants_unit.py
  tests/unit/database/test_crud_canonical_events_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(round-trip): apply Joe Chip P1 nits — dead try/except + docstring + db_pool comment
  tests/integration/migrations/test_round_trip.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat(cohort-3): #1021 slot 0072 — canonical_market_links + canonical_event_links link tables (Cohort 3 second slot) (#1084)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0072_canonical_link_tables.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_event_links.py
  src/precog/database/crud_canonical_market_links.py
  tests/integration/database/test_migration_0072_canonical_link_tables.py
  tests/unit/database/test_crud_canonical_event_links_unit.py
  tests/unit/database/test_crud_canonical_market_links_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(ci): migration round-trip schema-reversibility gate (#1066) — P0 Epic #1071 first slot (#1081)
  tests/integration/migrations/__init__.py
  tests/integration/migrations/test_round_trip.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

ci(claude-review): fire only after CI/CD Pipeline succeeds (workflow_run trigger)
  .github/workflows/claude-code-review.yml
Due: validate-docs

ci(claude-review): fire only after CI/CD Pipeline succeeds (workflow_run trigger) (#1088)
  .github/workflows/claude-code-review.yml
Due: validate-docs

feat(cohort-3): #1021 slot 0073 — canonical_match_log audit ledger + crud_canonical_match_log restricted API + Pattern 73 SSOT vocabularies (Cohort 3 third slot)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0073_canonical_match_log.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_match_log.py
  tests/integration/database/test_migration_0073_canonical_match_log.py
  tests/unit/database/test_crud_canonical_match_log_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(cohort-3): #1021 slot 0073 — canonical_match_log audit ledger + crud_canonical_match_log restricted API + Pattern 73 SSOT vocabularies (Cohort 3 third slot) (#1090)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0073_canonical_match_log.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_match_log.py
  tests/integration/database/test_migration_0073_canonical_match_log.py
  tests/unit/database/test_crud_canonical_match_log_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

revert(ci): undo PR #1088 workflow_run trigger — silently broke claude-review on PRs
  .github/workflows/claude-code-review.yml
Due: validate-docs

revert(ci): undo PR #1088 workflow_run trigger — silently broke claude-review on PRs (#1091)
  .github/workflows/claude-code-review.yml
Due: validate-docs

test(integration): extract shared canonical-market helpers — closes #1089 (Glokta P1 from PR #1090)
  tests/integration/database/_canonical_market_helpers.py
  tests/integration/database/test_migration_0072_canonical_link_tables.py
  tests/integration/database/test_migration_0073_canonical_match_log.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(integration): extract shared canonical-market helpers — closes #1089 (Glokta P1 from PR #1090) (#1092)
  tests/integration/database/_canonical_market_helpers.py
  tests/integration/database/test_migration_0072_canonical_link_tables.py
  tests/integration/database/test_migration_0073_canonical_match_log.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(cohort-3): #1021 slot 0075 — observation_source lookup foundation (Cohort 3 fourth slot)
  src/precog/database/alembic/versions/0075_observation_source.py
  src/precog/database/constants.py
  tests/integration/database/test_migration_0075_observation_source.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(cohort-3): #1021 slot 0075 — observation_source lookup foundation (Cohort 3 fourth slot) (#1093)
  src/precog/database/alembic/versions/0075_observation_source.py
  src/precog/database/constants.py
  tests/integration/database/test_migration_0075_observation_source.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(cohort-3): #1021 slot 0074 — canonical_match_overrides + canonical_match_reviews (Cohort 3 fifth slot — Cohort 3 CLOSES)
  src/precog/database/alembic/versions/0074_canonical_match_overrides_reviews.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_match_log.py
  src/precog/database/crud_canonical_match_overrides.py
  src/precog/database/crud_canonical_match_reviews.py
  tests/integration/database/test_migration_0074_canonical_match_overrides_reviews.py
  tests/unit/database/test_crud_canonical_match_overrides_unit.py
  tests/unit/database/test_crud_canonical_match_reviews_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore(audit): register slot-0074 CRUD modules in test-type coverage audit
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix(slot-0074): resolve manual_v1 algorithm_id INSIDE cursor block to short-circuit on validation failure
  src/precog/database/crud_canonical_match_reviews.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(cohort-3): #1021 slot 0074 — canonical_match_overrides + canonical_match_reviews (Cohort 3 CLOSES) (#1094)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0074_canonical_match_overrides_reviews.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_match_log.py
  src/precog/database/crud_canonical_match_overrides.py
  src/precog/database/crud_canonical_match_reviews.py
  tests/integration/database/test_migration_0074_canonical_match_overrides_reviews.py
  tests/unit/database/test_crud_canonical_match_overrides_unit.py
  tests/unit/database/test_crud_canonical_match_reviews_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(infra): autouse fixture to reset module-level lazy cache globals between tests
  tests/conftest.py
  tests/unit/test_conftest_lazy_cache_reset.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test(infra): autouse fixture to reset module-level lazy cache globals between tests (#1096)
  tests/conftest.py
  tests/unit/test_conftest_lazy_cache_reset.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs(schema): DATABASE_SCHEMA_SUMMARY V2.2 — Cohort 3 close (5 migrations, 7 new tables, 8 SSOT vocabularies)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.2.md
Due: validate-docs

feat(canonical): Migration 0076 — generic set_updated_at() trigger retrofit (#1074, ADR-118 V2.42 sub-amendment A)
  src/precog/database/alembic/versions/0076_set_updated_at_generic.py
  src/precog/database/crud_canonical_events.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
  tests/integration/database/test_migration_0072_canonical_link_tables.py
  tests/integration/database/test_migration_0076_set_updated_at_generic.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(canonical): slot 0076 Tier 1 Momentum amendments per Glokta + Ripley reviews
  src/precog/database/alembic/versions/0076_set_updated_at_generic.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #1095 slot 0074 polish bundle — 22 items closeout
  src/precog/database/crud_canonical_match_log.py
  src/precog/database/crud_canonical_match_overrides.py
  src/precog/database/crud_canonical_match_reviews.py
  tests/conftest.py
  tests/integration/database/test_migration_0074_canonical_match_overrides_reviews.py
  tests/unit/database/_crud_unit_helpers.py
  tests/unit/database/test_crud_canonical_match_overrides_unit.py
  tests/unit/database/test_crud_canonical_match_reviews_unit.py
  tests/unit/test_conftest_lazy_cache_reset.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(canonical): #1095 Tier 1 Momentum amendments — Brawne + Ripley reviews
  tests/conftest.py
  tests/unit/database/test_crud_canonical_match_log_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(ci): #1086 ci.yml literal-string drift warning comment
  .github/workflows/ci.yml
Due: validate-docs

feat(canonical): Migration 0076 — generic set_updated_at() trigger retrofit (#1074) (#1098)
  src/precog/database/alembic/versions/0076_set_updated_at_generic.py
  src/precog/database/crud_canonical_events.py
  tests/integration/database/test_migration_0069_canonical_markets_foundation.py
  tests/integration/database/test_migration_0072_canonical_link_tables.py
  tests/integration/database/test_migration_0076_set_updated_at_generic.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(schema): DATABASE_SCHEMA_SUMMARY V2.2 — Cohort 3 close (5 migrations, 7 new tables, 8 SSOT vocabularies) (#1097)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.2.md
Due: validate-docs

ci(parity-hook): #1101 — distinguish test-DB AHEAD vs BEHIND in error message
  scripts/check_test_db_migration_parity.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat(canonical): #1095 slot 0074 polish bundle — 22-item closeout (PR follow-up to #1094) (#1099)
  src/precog/database/crud_canonical_match_log.py
  src/precog/database/crud_canonical_match_overrides.py
  src/precog/database/crud_canonical_match_reviews.py
  tests/conftest.py
  tests/integration/database/test_migration_0074_canonical_match_overrides_reviews.py
  tests/unit/database/_crud_unit_helpers.py
  tests/unit/database/test_crud_canonical_match_log_unit.py
  tests/unit/database/test_crud_canonical_match_overrides_unit.py
  tests/unit/database/test_crud_canonical_match_reviews_unit.py
  tests/unit/test_conftest_lazy_cache_reset.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(ops): #1102 — scripts/align_test_db.sh test-DB-branch-drift recovery wrapper
  scripts/align_test_db.sh
Due: none

fix(ops): #1102 — apply Spock review P1 findings (Tier 1 Momentum)
  scripts/align_test_db.sh
Due: none

docs(ci): #1086 ci.yml literal-string drift warning comment (#1100)
  .github/workflows/ci.yml
Due: validate-docs

fix(ops): #1102 — apply Ripley sentinel Nit findings (Tier 1 Momentum)
  scripts/align_test_db.sh
Due: none

feat(ops): #1102 — scripts/align_test_db.sh test-DB-branch-drift recovery (#1105)
  scripts/align_test_db.sh
Due: none

docs(ci): #1100 follow-up — strip rotting PR/session refs from ci.yml comment
  .github/workflows/ci.yml
Due: validate-docs
