Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

feat: Pre-push docs-only fast path skips test gate (#616)
  scripts/pre-push-validation.sh
Due: none

feat: Pre-push docs-only fast path skips test gate (#616) (#652)
  scripts/pre-push-validation.sh
Due: none

docs: Update CLAUDE.md phase doc reference V1.15 -> ERA2_V1.1
  CLAUDE.md
Due: validate-docs

docs: Update CLAUDE.md phase doc reference V1.15 -> ERA2_V1.1 (#653)
  CLAUDE.md
Due: validate-docs

feat: Add Kalshi demo API verifier script (#335)
  .gitignore
  scripts/verify_kalshi_demo_orders.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add Kalshi demo API verifier script (#335) (#654)
  .gitignore
  scripts/verify_kalshi_demo_orders.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix(ci): Add parallel mode to coverage config for pytest-xdist (#632)
  pyproject.toml
Due: none

fix(ci): Add parallel mode to coverage config for pytest-xdist (#632) (#679)
  pyproject.toml
Due: none

test: Update chaos test mocks for SCD retry helper closure shape
  tests/chaos/test_crud_operations_chaos.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Adopt SCD retry helper at 5 sibling sites + concurrent-close hardening (#623-#627)
  src/precog/database/crud_game_states.py
  src/precog/database/crud_markets.py
  src/precog/database/crud_positions.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/database/test_upsert_game_odds.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Adopt SCD retry helper at 5 sibling sites + concurrent-close hardening (#623-#627) (#665)
  src/precog/database/crud_game_states.py
  src/precog/database/crud_markets.py
  src/precog/database/crud_positions.py
  tests/chaos/test_crud_operations_chaos.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/database/test_upsert_game_odds.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Extract set_trailing_stop_state CRUD + fix latent INSERT...SELECT visibility bug (#629, #628)
  src/precog/database/crud_positions.py
  src/precog/trading/position_manager.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

review: Address Claude Review findings #2 + #3 on PR #671
  src/precog/database/crud_positions.py
  src/precog/trading/position_manager.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(perf): Skip TestSystemPerformance latency tests on CI runners
  tests/performance/cli/test_cli_system_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Extract set_trailing_stop_state CRUD + fix latent INSERT...SELECT visibility bug (#629, #628) (#671)
  src/precog/database/crud_positions.py
  src/precog/trading/position_manager.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
  tests/performance/cli/test_cli_system_performance.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Preserve execution_environment in update_position_price SCD INSERT (#662)
  src/precog/database/crud_positions.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Preserve execution_environment in update_position_price SCD INSERT (#662) (#688)
  src/precog/database/crud_positions.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Cross-environment contamination remediation (#622, #686)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.0.md
  src/precog/cli/kalshi.py
  src/precog/config/__init__.py
  src/precog/config/environment.py
  src/precog/config/system.yaml
  src/precog/config/trading.yaml
  src/precog/database/alembic/versions/0051_account_balance_execution_environment.py
  src/precog/database/crud_account.py
  src/precog/database/crud_analytics.py
  src/precog/database/crud_orders.py
  src/precog/database/crud_positions.py
  src/precog/database/crud_shared.py
  src/precog/trading/position_manager.py
  tests/chaos/trading/test_position_manager_chaos.py
  tests/conftest.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/integration/database/test_account_balance_retry_integration.py
  tests/integration/database/test_crud_account_execution_environment_integration.py
  tests/integration/trading/test_position_manager.py
  tests/race/test_account_balance_concurrent_first_insert.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_edge_crud.py
  tests/unit/database/test_order_crud.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

review: Address Claude Review on PR #690 — consolidate validators
  src/precog/database/crud_orders.py
  src/precog/trading/position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add in-repo design rationale for migration 0051 (#693 partial)
  docs/database/RATIONALE_MIGRATION_0051.md
  src/precog/database/alembic/versions/0051_account_balance_execution_environment.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Cross-environment contamination remediation (#622, #686) (#690)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.0.md
  docs/database/RATIONALE_MIGRATION_0051.md
  src/precog/cli/kalshi.py
  src/precog/config/__init__.py
  src/precog/config/environment.py
  src/precog/config/system.yaml
  src/precog/config/trading.yaml
  src/precog/database/alembic/versions/0051_account_balance_execution_environment.py
  src/precog/database/crud_account.py
  src/precog/database/crud_analytics.py
  src/precog/database/crud_orders.py
  src/precog/database/crud_positions.py
  src/precog/database/crud_shared.py
  src/precog/trading/position_manager.py
  tests/chaos/trading/test_position_manager_chaos.py
  tests/conftest.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/integration/database/test_account_balance_retry_integration.py
  tests/integration/database/test_crud_account_execution_environment_integration.py
  tests/integration/trading/test_position_manager.py
  tests/race/test_account_balance_concurrent_first_insert.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_edge_crud.py
  tests/unit/database/test_order_crud.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

ci: Drop Windows from PR test matrix (#685 — partial)
  .github/workflows/ci.yml
Due: validate-docs

ci: Refine #685 partial — preserve Windows on main only (Claude Review feedback)
  .github/workflows/ci.yml
Due: validate-docs

ci: Fix dead code in test-windows-main if: condition (Claude Review #697)
  .github/workflows/ci.yml
Due: validate-docs

ci: Drop Windows from PR test matrix (#685 partial) (#697)
  .github/workflows/ci.yml
Due: validate-docs

docs: Document restored branch protection on main (session 43)
  CLAUDE.md
Due: validate-docs

docs: Document restored branch protection on main (session 43) (#701)
  CLAUDE.md
Due: validate-docs

docs: Sync CLAUDE.md with actual single-CI-Summary protection rule
  CLAUDE.md
Due: validate-docs

docs: Sync CLAUDE.md with actual single-CI-Summary protection rule (#702)
  CLAUDE.md
Due: validate-docs

fix: Symmetric read-path Decimal decode for trailing_stop_state (#669)
  src/precog/trading/position_manager.py
  tests/integration/trading/test_position_manager_trailing_stop_integration.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Symmetric read-path Decimal decode for trailing_stop_state (#669) (#705)
  src/precog/trading/position_manager.py
  tests/integration/trading/test_position_manager_trailing_stop_integration.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add execution_environment to account_ledger, settlements, position_exits, exit_attempts (#691 Phase A)
  src/precog/database/alembic/versions/0052_account_ledger_execution_environment.py
  src/precog/database/alembic/versions/0053_settlements_execution_environment.py
  src/precog/database/alembic/versions/0054_position_exits_execution_environment.py
  src/precog/database/alembic/versions/0055_exit_attempts_execution_environment.py
  tests/integration/database/test_migration_0052_0055_execution_environment.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Wrap trailing_stop_state with Json(..., dumps=_jsonb_dumps) in 3 remaining CRUD sites (#666, #706)
  src/precog/database/crud_positions.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Wrap trailing_stop_state with Json(..., dumps=_jsonb_dumps) in 3 remaining CRUD sites (#666, #706) (#713)
  src/precog/database/crud_positions.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

perf: Parallelize pre-push test tiers + extend fast paths (47% faster)
  scripts/pre-push-validation.sh
Due: none

feat: Add execution_environment to account_ledger, settlements, position_exits, exit_attempts (#691 Phase A) (#714)
  src/precog/database/alembic/versions/0052_account_ledger_execution_environment.py
  src/precog/database/alembic/versions/0053_settlements_execution_environment.py
  src/precog/database/alembic/versions/0054_position_exits_execution_environment.py
  src/precog/database/alembic/versions/0055_exit_attempts_execution_environment.py
  tests/integration/database/test_migration_0052_0055_execution_environment.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

perf: Parallelize pre-push test tiers + extend fast paths (47% faster) (#715)
  scripts/pre-push-validation.sh
Due: none

feat: Add write-protection triggers for immutability + append-only enforcement (#371, #723)
  src/precog/database/alembic/versions/0056_write_protection_triggers.py
  tests/integration/database/test_migration_0056_write_protection_triggers.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Implement temporal_alignment writer service (#722)
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_shared.py
  src/precog/schedulers/service_supervisor.py
  src/precog/schedulers/temporal_alignment_writer.py
  tests/unit/schedulers/test_temporal_alignment_writer.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
