Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

validate-docs:
  name: Documentation Validation (9 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates documentation consistency, cross-references, versioning, phase status, and YAML configs

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check .
  language: system
  pass_filenames: false
  description: Runs Ruff linter for code quality

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check .
  language: system
  pass_filenames: false
  description: Checks code formatting with Ruff (no auto-fix)

mypy:
  name: Mypy Type Checking
  entry: python -m mypy . --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  description: Type checking with mypy

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

docs: Add DEF-P1-010 (src layout migration) to Phase 1 deferred tasks
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
Due: validate-docs

fix: Add hypothesis to requirements.txt
  requirements.txt
Due: none

fix: Add S603 to ignored Ruff security rules in CI
  .github/workflows/ci.yml
Due: validate-docs

Fix Phase 1 CLI tests: TestConfigValidate and db-init refactoring (#19)
  .github/workflows/ci.yml
  CLAUDE.md
  database/initialization.py
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
  docs/utility/PHASE_COMPLETION_ASSESSMENT_PROTOCOL_V1.0.md
  main.py
  pyproject.toml
  pytest.ini
  requirements.txt
  scripts/check_warning_debt.py
  tests/property/test_config_validation_properties.py
  tests/property/test_edge_detection_properties.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Fix 6 pre-existing test failures (TestConfigShow + property test)
  tests/property/test_strategy_versioning_properties.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

docs: Add Pattern 11 - Test Mocking Patterns (Mock API Boundaries, Not Implementation)
  docs/guides/DEVELOPMENT_PATTERNS_V1.0.md
Due: validate-docs

fix: Fix 6 pre-existing test failures (TestConfigShow + property test) (#20)
  docs/guides/DEVELOPMENT_PATTERNS_V1.0.md
  tests/property/test_strategy_versioning_properties.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy

test: Add comprehensive tests for database/initialization.py (93.18% coverage)
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Update config path in property tests for src/ layout
  tests/property/test_config_validation_properties.py
Due: ruff-check, ruff-format, mypy

fix: Update config path in property tests for src/ layout (#23)
  tests/property/test_config_validation_properties.py
Due: ruff-check, ruff-format, mypy

docs: Update documentation for src/ layout completion (DEF-P1-010)
  CLAUDE.md
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
Due: validate-docs

docs: Update documentation for src/ layout completion (DEF-P1-010) (#24)
  CLAUDE.md
  docs/utility/PHASE_1_DEFERRED_TASKS_V1.0.md
Due: validate-docs

fix: Replace Unicode characters with ASCII for Windows cp1252 compatibility
  main.py
Due: ruff-check, ruff-format, mypy

fix: Add UTF-8 encoding for config file reading (Windows cp1252 compatibility)
  main.py
  src/precog/config/config_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Update Phase 1 success criteria - CLI commands verified working
  docs/foundation/DEVELOPMENT_PHASES_V1.8.md
Due: validate-docs

docs: Enhance Pattern 5 with comprehensive Unicode symbol mapping
  docs/guides/DEVELOPMENT_PATTERNS_V1.0.md
Due: validate-docs

docs: Version bump DEVELOPMENT_PATTERNS V1.0 → V1.2
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.19.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.2.md
Due: validate-docs

Fix config-validate float detection + add coverage tests (84.72%)
  main.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

Add 2 tests to reach \u226585% main.py coverage (87.48%)
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

fix: Windows cp1252 compatibility for CLI commands (Phase 1) (#25)
  CLAUDE.md
  docs/foundation/DEVELOPMENT_PHASES_V1.8.md
  docs/foundation/MASTER_INDEX_V2.19.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.2.md
  main.py
  src/precog/config/config_loader.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Codecov + Sentry observability infrastructure (complete)
  .codecov.yml
  docs/foundation/ADR_INDEX_V1.9.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.14.md
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/foundation/MASTER_INDEX_V2.20.md
  docs/foundation/MASTER_REQUIREMENTS_V2.14.md
  docs/foundation/PROJECT_OVERVIEW_V1.5.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/SENTRY_INTEGRATION_GUIDE_V1.0.md
Due: validate-docs

docs: Add Codecov + Sentry observability infrastructure (complete) (#26)
  .codecov.yml
  docs/foundation/ADR_INDEX_V1.9.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.14.md
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/foundation/MASTER_INDEX_V2.20.md
  docs/foundation/MASTER_REQUIREMENTS_V2.14.md
  docs/foundation/PROJECT_OVERVIEW_V1.5.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/SENTRY_INTEGRATION_GUIDE_V1.0.md
Due: validate-docs

docs: Add Multi-Session Coordination section to CLAUDE.md (V1.16 → V1.17)
  CLAUDE.md
Due: validate-docs

docs: Sync multi-session work (CLAUDE.md V1.17 + DEVELOPMENT_PATTERNS V1.2) (#27)
  CLAUDE.md
Due: validate-docs

docs: Update DEVELOPMENT_PHASES Phase 1 status to COMPLETE (85.48% coverage)
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
Due: validate-docs

docs: Complete Phase 1 with comprehensive 10-step phase completion assessment
  docs/phase-completion/PHASE_1_COMPLETION_REPORT.md
Due: validate-docs

docs: Phase 1 Completion - Comprehensive 10-Step Assessment (#28)
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/phase-completion/PHASE_1_COMPLETION_REPORT.md
Due: validate-docs

fix: Sort imports in test_initialization.py (Ruff I001)
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Add comprehensive tests for database/initialization.py (93.18% coverage) (#21)
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Complete Option A implementation - PR review deferred tasks + CLAUDE.md optimization
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.10.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.15.md
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/foundation/MASTER_INDEX_V2.22.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/PHASE_0.7_DEFERRED_TASKS_V1.4.md
  docs/utility/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  docs/utility/PHASE_COMPLETION_ASSESSMENT_PROTOCOL_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.0.md
  scripts/verify_branch_protection.sh
Due: validate-docs

fix: Add DEF-P1-001 and DEF-P1-003 critical fixes to PR #74
  src/precog/database/crud_operations.py
  src/precog/database/initialization.py
  tests/property/test_strategy_versioning_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Complete Option A: PR Review Deferred Tasks + CLAUDE.md Optimization (#74)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.10.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.15.md
  docs/foundation/DEVELOPMENT_PHASES_V1.9.md
  docs/foundation/MASTER_INDEX_V2.22.md
  docs/foundation/MASTER_REQUIREMENTS_V2.15.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/PHASE_0.7_DEFERRED_TASKS_V1.4.md
  docs/utility/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  docs/utility/PHASE_COMPLETION_ASSESSMENT_PROTOCOL_V1.0.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.0.md
  scripts/verify_branch_protection.sh
  src/precog/database/crud_operations.py
  src/precog/database/initialization.py
  tests/property/test_strategy_versioning_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add API limit validation to fetch-markets (DEF-P1-005)
  main.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

docs: Archive 29 obsolete documents + fix cross-references
  _archive/docs/CLAUDE_CODE_HANDOFF_UPDATED_V1_0.md
  _archive/docs/CLAUDE_CODE_READING_GUIDE_V1_0.md
  _archive/docs/CONFIGURATION_GUIDE_UPDATE_SPEC_V1_0.md
  _archive/docs/DEVELOPMENT_PHASES_V1.9.md
  _archive/docs/DOCUMENTATION_REFACTORING_PLAN_V1.0.md
  _archive/docs/DOCUMENTATION_V2_REVIEW_GUIDE.md
  _archive/docs/ELO_AND_SETTLEMENTS_ARCHITECTURE_ANALYSIS_V1.0.md
  _archive/docs/FILENAME_VERSION_REPORT.md
  _archive/docs/Handoff_Protocol_V1_1.md
  _archive/docs/INFRASTRUCTURE_REVIEW_TEMPLATE_V1.0.md
  _archive/docs/KALSHI_API_STRUCTURE_COMPREHENSIVE_V2.0.md
  _archive/docs/ORDER_EXECUTION_ARCHITECTURE_ASSESSMENT_V1_0.md
  _archive/docs/PHASE_0.7_DEFERRED_TASKS_V1.4.md
  _archive/docs/PHASE_0_5_COMPREHENSIVE_HANDOFF_V1_0.md
  _archive/docs/PHASE_1.5_DEFERRED_PROPERTY_TESTS_V1.0.md
  _archive/docs/PHASE_1_TASK_PLAN_V1.0.md
  _archive/docs/PHASE_COMPLETION_ASSESSMENT_PROTOCOL_V1.0.md
  _archive/docs/PHASE_TEST_PLANNING_TEMPLATE_V1.0.md
  _archive/docs/SCHEMA_DESIGN_QUESTIONS_ANALYSIS_V1.0.md
  _archive/docs/SESSION_HANDOFF_2025-10-29_v0.md
  _archive/docs/SESSION_HANDOFF_2025-10-30_v0.md
  _archive/docs/SESSION_HANDOFF_2025-10-30_v1.md
  _archive/docs/SESSION_HANDOFF_2025-10-30_v2.md
  _archive/docs/SESSION_HANDOFF_TEMPLATE_V1.0.md
  _archive/docs/SETTLEMENTS_AND_ELO_CLARIFICATION_V1.0.md
  _archive/docs/TWO_SESSION_IMPLEMENTATION_PLAN_V1.0.md
  _archive/docs/VERSION_HEADERS_GUIDE_V2_1.md
  _archive/docs/YAML_AND_DOCS_CONSISTENCY_ANALYSIS_V1.0.md
  _archive/docs/YAML_CONSISTENCY_AUDIT_V1_0.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.15.md
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/MASTER_INDEX_V2.22.md
  docs/supplementary/ELO_AND_SETTLEMENTS_ARCHITECTURE_ANALYSIS_V1.0.md
  docs/supplementary/SETTLEMENTS_AND_ELO_CLARIFICATION_V1.0.md
Due: validate-docs

fix: Windows cp1252 compatibility in validate_docs.py
  scripts/validate_docs.py
Due: ruff-check, ruff-format, mypy

feat: Add API limit validation for fetch-markets (DEF-P1-005) (#75)
  _archive/docs/CLAUDE_CODE_HANDOFF_UPDATED_V1_0.md
  _archive/docs/CLAUDE_CODE_READING_GUIDE_V1_0.md
  _archive/docs/CONFIGURATION_GUIDE_UPDATE_SPEC_V1_0.md
  _archive/docs/DEVELOPMENT_PHASES_V1.9.md
  _archive/docs/DOCUMENTATION_REFACTORING_PLAN_V1.0.md
  _archive/docs/DOCUMENTATION_V2_REVIEW_GUIDE.md
  _archive/docs/ELO_AND_SETTLEMENTS_ARCHITECTURE_ANALYSIS_V1.0.md
  _archive/docs/FILENAME_VERSION_REPORT.md
  _archive/docs/Handoff_Protocol_V1_1.md
  _archive/docs/INFRASTRUCTURE_REVIEW_TEMPLATE_V1.0.md
  _archive/docs/KALSHI_API_STRUCTURE_COMPREHENSIVE_V2.0.md
  _archive/docs/ORDER_EXECUTION_ARCHITECTURE_ASSESSMENT_V1_0.md
  _archive/docs/PHASE_0.7_DEFERRED_TASKS_V1.4.md
  _archive/docs/PHASE_0_5_COMPREHENSIVE_HANDOFF_V1_0.md
  _archive/docs/PHASE_1.5_DEFERRED_PROPERTY_TESTS_V1.0.md
  _archive/docs/PHASE_1_TASK_PLAN_V1.0.md
  _archive/docs/PHASE_COMPLETION_ASSESSMENT_PROTOCOL_V1.0.md
  _archive/docs/PHASE_TEST_PLANNING_TEMPLATE_V1.0.md
  _archive/docs/SCHEMA_DESIGN_QUESTIONS_ANALYSIS_V1.0.md
  _archive/docs/SESSION_HANDOFF_2025-10-29_v0.md
  _archive/docs/SESSION_HANDOFF_2025-10-30_v0.md
  _archive/docs/SESSION_HANDOFF_2025-10-30_v1.md
  _archive/docs/SESSION_HANDOFF_2025-10-30_v2.md
  _archive/docs/SESSION_HANDOFF_TEMPLATE_V1.0.md
  _archive/docs/SETTLEMENTS_AND_ELO_CLARIFICATION_V1.0.md
  _archive/docs/TWO_SESSION_IMPLEMENTATION_PLAN_V1.0.md
  _archive/docs/VERSION_HEADERS_GUIDE_V2_1.md
  _archive/docs/YAML_AND_DOCS_CONSISTENCY_ANALYSIS_V1.0.md
  _archive/docs/YAML_CONSISTENCY_AUDIT_V1_0.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.15.md
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/MASTER_INDEX_V2.22.md
  docs/supplementary/ELO_AND_SETTLEMENTS_ARCHITECTURE_ANALYSIS_V1.0.md
  docs/supplementary/SETTLEMENTS_AND_ELO_CLARIFICATION_V1.0.md
  main.py
  scripts/validate_docs.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Update test_initialization imports for src/ layout (missed in PR #22)
  tests/database/test_initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

bugfix: Update YAML validation path for src/ layout (Check #9)
  scripts/validate_docs.py
Due: ruff-check, ruff-format, mypy

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$
