Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$

ci: Add diagnostic output to debug integration test hang
  .github/workflows/ci.yml
Due: validate-docs

ci: Split integration test step for hang diagnosis
  .github/workflows/ci.yml
Due: validate-docs

test: Mark 2 property tests as xfail for local isolation issues
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
Due: ruff-check, ruff-format, mypy

fix: Use playback-only VCR mode in CI to prevent network hangs
  tests/integration/api_connectors/test_espn_client_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Add timeout markers to VCR tests to prevent CI hangs
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Skip ESPN VCR cassette tests in CI to prevent hangs
  tests/integration/api_connectors/test_espn_client_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve CI integration test failures
  tests/conftest.py
  tests/unit/api_connectors/test_rate_limiter.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Set TEST_KALSHI_* env vars in fixture for CI compatibility
  tests/conftest.py
Due: ruff-check, ruff-format, mypy

fix: Mark all 9 connection stress tests as xfail pending testcontainers
  tests/stress/test_connection_stress.py
Due: ruff-check, ruff-format, mypy

fix: Use xfail(run=False) for stress tests in CI
  tests/stress/test_connection_stress.py
Due: ruff-check, ruff-format, mypy

fix: Add xfail(run=False) to CRUD stress tests to prevent CI hangs
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy

fix: Add xfail(run=False) to ALL stress tests for CI stability
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/stress/api_connectors/test_kalshi_auth_race.py
  tests/stress/api_connectors/test_kalshi_auth_stress.py
  tests/stress/api_connectors/test_kalshi_client_race.py
  tests/stress/api_connectors/test_kalshi_client_stress.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/stress/schedulers/test_kalshi_websocket_race.py
  tests/stress/schedulers/test_kalshi_websocket_stress.py
  tests/stress/schedulers/test_market_data_manager_stress.py
  tests/stress/test_logger_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Pattern 28: CI-Safe Stress Testing (DEVELOPMENT_PATTERNS V1.15)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.25.md
  docs/foundation/MASTER_INDEX_V2.43.md
  docs/foundation/TESTING_STRATEGY_V3.3.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.15.md
Due: validate-docs

docs: Clarify Pattern 28 xfail as TEMPORARY workaround
  docs/guides/DEVELOPMENT_PATTERNS_V1.15.md
Due: validate-docs

docs: Add Pattern 28: CI-Safe Stress Testing (DEVELOPMENT_PATTERNS V1.15) (#169)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.25.md
  docs/foundation/MASTER_INDEX_V2.43.md
  docs/foundation/TESTING_STRATEGY_V3.3.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.15.md
Due: validate-docs

feat: Implement testcontainers for database stress tests (Issue #168)
  tests/conftest.py
  tests/fixtures/stress_testcontainers.py
  tests/stress/test_connection_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/unit/api_connectors/test_rate_limiter.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Refactor stress tests for CI-safe execution (Issue #168)
  tests/fixtures/stress_testcontainers.py
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/stress/api_connectors/test_kalshi_auth_race.py
  tests/stress/api_connectors/test_kalshi_auth_stress.py
  tests/stress/api_connectors/test_kalshi_client_race.py
  tests/stress/api_connectors/test_kalshi_client_stress.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/stress/schedulers/test_kalshi_websocket_race.py
  tests/stress/schedulers/test_kalshi_websocket_stress.py
  tests/stress/schedulers/test_market_data_manager_stress.py
  tests/stress/test_logger_stress.py
  tests/unit/api_connectors/test_rate_limiter.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Preserve real Kalshi credentials in test conftest
  tests/conftest.py
Due: ruff-check, ruff-format, mypy

perf: Optimize stress test fixtures for CI (session-scoped container)
  tests/fixtures/stress_testcontainers.py
Due: ruff-check, ruff-format, mypy

fix: E2E tests detect fake credentials from conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Remove conflicting fixture dependencies from CRUD stress tests
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy

fix: Replace raw threading.Barrier with CISafeBarrier to prevent CI hangs
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy

fix: Add CI-aware iteration counts to stress tests for faster CI completion
  tests/fixtures/stress_testcontainers.py
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy

fix: Add --timeout-method=thread for stress tests in CI
  .github/workflows/ci.yml
Due: validate-docs

fix: Skip database stress tests in CI (Issue #168)
  tests/fixtures/stress_testcontainers.py
  tests/stress/test_connection_stress.py
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy

fix: Skip all stress tests in CI to prevent hangs (Issue #168)
  tests/stress/test_config_loader_stress.py
  tests/stress/test_logger_stress.py
Due: ruff-check, ruff-format, mypy

docs: Add Pattern 28 CI-Safe Stress Testing and fix flaky CLI tests (#168)
  docs/foundation/ADR_INDEX_V1.19.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.16.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  tests/integration/cli/test_cli_database_integration.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Implement testcontainers for database stress tests (Issue #168) (#170)
  .github/workflows/ci.yml
  docs/foundation/ADR_INDEX_V1.19.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.16.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  tests/conftest.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
  tests/fixtures/stress_testcontainers.py
  tests/integration/cli/test_cli_database_integration.py
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/stress/api_connectors/test_kalshi_auth_race.py
  tests/stress/api_connectors/test_kalshi_auth_stress.py
  tests/stress/api_connectors/test_kalshi_client_race.py
  tests/stress/api_connectors/test_kalshi_client_stress.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/stress/schedulers/test_kalshi_websocket_race.py
  tests/stress/schedulers/test_kalshi_websocket_stress.py
  tests/stress/schedulers/test_market_data_manager_stress.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/stress/test_logger_stress.py
  tests/unit/api_connectors/test_rate_limiter.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Testcontainers fixture registration and deprecated parameter (Issue #168)
  tests/conftest.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
Due: ruff-check, ruff-format, mypy

fix: Testcontainers fixture registration and deprecated parameter (Issue #168) (#172)
  tests/conftest.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
Due: ruff-check, ruff-format, mypy

feat: Implement hybrid test isolation strategy (Issue #171)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.17.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  tests/conftest.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/cli/test_cli_database_integration.py
  tests/integration/fixtures/test_transaction_fixtures.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Add Pattern 30 (stale bytecode cleanup) and pre-push hook Step 0.25
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.18.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
Due: validate-docs

feat: Implement hybrid test isolation strategy (Issue #171) (#173)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.18.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  tests/conftest.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/cli/test_cli_database_integration.py
  tests/integration/fixtures/test_transaction_fixtures.py
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Eliminate test skips and fix ConfigLoader thread-safety (Issue #175)
  src/precog/config/config_loader.py
  src/precog/utils/logger.py
  tests/database/test_initialization.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/utils/test_logger_e2e.py
  tests/integration/analytics/test_model_manager.py
  tests/performance/analytics/test_model_manager_performance.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/security/test_connection_security.py
  tests/stress/test_config_loader_stress.py
  tests/test_error_handling.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Mock timeout test to avoid CI network dependency (Issue #175)
  tests/security/test_connection_security.py
Due: ruff-check, ruff-format, mypy

bugfix: Fix ConfigLoader thread-safety and improve test quality (Issue #175) (#176)
  src/precog/config/config_loader.py
  src/precog/utils/logger.py
  tests/database/test_initialization.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/utils/test_logger_e2e.py
  tests/integration/analytics/test_model_manager.py
  tests/performance/analytics/test_model_manager_performance.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/security/test_connection_security.py
  tests/stress/test_config_loader_stress.py
  tests/test_error_handling.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Property test fixture race condition (Issue #175)
  tests/property/test_database_crud_properties.py
Due: ruff-check, ruff-format, mypy

fix: Property test fixture race condition (Issue #175) (#177)
  tests/property/test_database_crud_properties.py
Due: ruff-check, ruff-format, mypy

feat: Persist pre-push hook test results for debugging (Issue #174)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.26.md
  docs/foundation/MASTER_INDEX_V2.44.md
  docs/foundation/MASTER_REQUIREMENTS_V2.20.md
  docs/foundation/REQUIREMENT_INDEX_V1.12.md
  docs/foundation/TESTING_STRATEGY_V3.4.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.19.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  scripts/analyze_test_history.py
Due: validate-docs, ruff-check, ruff-format, mypy
