Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

refactor: #887 Slices 1+2 — test type coverage audit CI→pre-push + crud_lookups unit tests (#888)
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/audit_test_type_coverage.py
  scripts/pre-push-validation.sh
  tests/unit/database/test_crud_lookups.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #887 Slice 2 #2 — rename crud_ledger sibling tests to match audit pattern
  tests/unit/database/test_crud_ledger_account.py
  tests/unit/database/test_crud_ledger_temporal.py
  tests/unit/database/test_crud_ledger_trades.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #887 Slice 2 #2 — rename crud_ledger sibling tests to match audit pattern (#889)
  tests/unit/database/test_crud_ledger_account.py
  tests/unit/database/test_crud_ledger_temporal.py
  tests/unit/database/test_crud_ledger_trades.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #829 CLI db tables --filter — rename param to avoid built-in shadow + disable Rich highlighter on interpolated messages
  src/precog/cli/db.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: #889 S68 follow-up — update stale pytest paths in renamed-test docstrings
  tests/unit/database/test_crud_ledger_account.py
  tests/unit/database/test_crud_ledger_temporal.py
  tests/unit/database/test_crud_ledger_trades.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #887 Slice 3 — rename crud_orders + crud_historical sibling tests to match audit glob
  tests/unit/database/test_crud_historical.py
  tests/unit/database/test_crud_orders.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #891 — remove dead get_current_model (zero callers, docstring self-inconsistent)
  src/precog/database/crud_probability_models.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: #889 S68 follow-up — update stale pytest paths in renamed-test docstrings (#892)
  tests/unit/database/test_crud_ledger_account.py
  tests/unit/database/test_crud_ledger_temporal.py
  tests/unit/database/test_crud_ledger_trades.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: G5-BUILD db tables --filter (glob pattern) (#829)
  src/precog/cli/db.py
  tests/integration/cli/test_cli_db_integration.py
  tests/unit/cli/test_cli_db.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: point CLAUDE.md at SCHEMA_SUMMARY_V2.0 (supersedes V1.16)
  CLAUDE.md
Due: validate-docs

docs: point CLAUDE.md at SCHEMA_SUMMARY_V2.0 (supersedes V1.16) (#898)
  CLAUDE.md
Due: validate-docs

feat: #887 Slice 4 — crud_positions unit tests (Class B gap closure)
  tests/unit/database/test_crud_positions.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #891 — remove dead get_current_model (zero callers, docstring self-inconsistent) (#895)
  src/precog/database/crud_probability_models.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #887 Slice 4 — crud_positions unit tests (Class B gap closure) (#900)
  tests/unit/database/test_crud_positions.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #887 Slice 3 — rename crud_orders + crud_historical sibling tests to match audit glob (#894)
  tests/unit/database/test_crud_historical.py
  tests/unit/database/test_crud_orders.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: C2c Gap A — explicit SCD2 columns in StrategyManager.create_strategy
  src/precog/trading/strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: #899 — add PR template with Closes #NNN placeholder reminder
  .github/PULL_REQUEST_TEMPLATE.md
Due: validate-docs

docs: #899 — add PR template with Closes #NNN placeholder reminder (#908)
  .github/PULL_REQUEST_TEMPLATE.md
Due: validate-docs

refactor: C2c Gap A — explicit SCD2 columns in StrategyManager.create_strategy (#907)
  src/precog/trading/strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #909 — edge_lifecycle realized_pnl sign-inversion (YES-side position semantics)
  src/precog/database/alembic/versions/0065_fix_edge_lifecycle_realized_pnl.py
  src/precog/database/crud_analytics.py
  tests/integration/database/test_edge_lifecycle_view.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #909 — edge_lifecycle realized_pnl sign-inversion (YES-side position semantics) (#918)
  src/precog/database/alembic/versions/0065_fix_edge_lifecycle_realized_pnl.py
  src/precog/database/crud_analytics.py
  tests/integration/database/test_edge_lifecycle_view.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: pre-S68 backlog bundle — #914, #915, #916, #917 (mechanical cleanup)
  scripts/fix_espn_team_ids.py
  src/precog/database/crud_events.py
  src/precog/schedulers/espn_game_poller.py
  tests/property/database/test_crud_operations_properties.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: pre-S68 backlog bundle — #914, #915, #916, #917 (mechanical cleanup) (#928)
  scripts/fix_espn_team_ids.py
  src/precog/database/crud_events.py
  src/precog/schedulers/espn_game_poller.py
  tests/property/database/test_crud_operations_properties.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: #929 — codify Pattern 73 (Single Source of Truth) at CLAUDE.md Critical Patterns
  CLAUDE.md
Due: validate-docs

docs: #929 — codify Pattern 73 (Single Source of Truth) at CLAUDE.md Critical Patterns (#932)
  CLAUDE.md
Due: validate-docs

fix: #933 — demote idx_games_espn_event UNIQUE → non-unique (Epic #935 Phase 1)
  src/precog/database/alembic/versions/0066_demote_games_espn_event_unique.py
  src/precog/database/crud_game_states.py
  src/precog/database/seeding/historical_games_loader.py
  tests/integration/database/test_migration_0066_espn_event_demote.py
  tests/integration/schedulers/test_espn_poller_933_regression.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: promote 7 feedback patterns to DEVELOPMENT_PATTERNS_V1.33 (S80 first periodic sweep)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.33.md
Due: validate-docs

docs: promote 7 feedback patterns to DEVELOPMENT_PATTERNS_V1.33 (S80 first periodic sweep) (#939)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.33.md
Due: validate-docs

fix: #911 — update_edge_outcome emits edge_status='void' for void outcomes (Micro-ANNOUNCE)
  src/precog/database/crud_analytics.py
  tests/integration/database/test_crud_analytics_911_void_status.py
  tests/unit/database/test_edge_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #911 — update_edge_outcome emits edge_status='void' for void outcomes (Micro-ANNOUNCE) (#944)
  src/precog/database/crud_analytics.py
  tests/integration/database/test_crud_analytics_911_void_status.py
  tests/unit/database/test_edge_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #933 — demote idx_games_espn_event UNIQUE → non-unique (Epic #935 Phase 1) (#938)
  src/precog/database/alembic/versions/0066_demote_games_espn_event_unique.py
  src/precog/database/crud_game_states.py
  src/precog/database/seeding/historical_games_loader.py
  tests/integration/database/test_migration_0066_espn_event_demote.py
  tests/integration/schedulers/test_espn_poller_933_regression.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #893 Option 1 — split test_crud_operations_unit.py into 5 per-module files
  tests/unit/database/test_crud_events_unit.py
  tests/unit/database/test_crud_game_states_unit.py
  tests/unit/database/test_crud_markets_unit.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/database/test_crud_schedulers_unit.py
  tests/unit/database/test_crud_teams_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #893 Option 1 — split test_crud_operations_unit.py into 5 per-module files (#956)
  tests/unit/database/test_crud_events_unit.py
  tests/unit/database/test_crud_game_states_unit.py
  tests/unit/database/test_crud_markets_unit.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/database/test_crud_schedulers_unit.py
  tests/unit/database/test_crud_teams_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: #936 + Epic #935 Phase 2 — ADR-117 Three-Tier Identity Model + Pattern 79 (V1.34)
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.36.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.34.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: #936 — address Librarian P1 findings (Pattern 73 compliance + missed V2.35 backrefs + V1.34 self-ref)
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.34.md
Due: validate-docs

docs: #936 + Epic #935 Phase 2 — ADR-117 Three-Tier Identity Model + Pattern 79 (V1.34) (#957)
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.36.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.34.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: #912 — pass page_size=len(params) to execute_values for accurate rowcount
  src/precog/database/crud_ledger.py
  tests/unit/database/test_crud_ledger_temporal.py
  tests/unit/database/test_crud_ledger_trades.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #912 — pass page_size=len(params) to execute_values for accurate rowcount (#958)
  src/precog/database/crud_ledger.py
  tests/unit/database/test_crud_ledger_temporal.py
  tests/unit/database/test_crud_ledger_trades.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #952 — PositionResponse.market_id int correction (Phase 2 blocker)
  src/precog/trading/types.py
  tests/unit/trading/test_types_contracts.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
