Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$

feat: Complete Phase 2 Issues #193 (Service Runner) and #194 (NCAAW Seeding) (#212)
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.1.md
  main.py
  scripts/run_data_collector.py
  src/precog/database/alembic/versions/0004_add_ncaaw_support.py
  src/precog/database/seeding/seeding_manager.py
  src/precog/database/seeds/008_ncaaw_teams.sql
  tests/unit/database/seeding/test_seeding_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete 8 test type coverage for all 11 infrastructure modules
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.5.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/api_connectors/espn_client.py
  tests/chaos/api_connectors/test_espn_client_chaos.py
  tests/chaos/config/test_config_loader_chaos.py
  tests/chaos/database/test_connection_chaos.py
  tests/chaos/utils/test_logger_chaos.py
  tests/stress/config/__init__.py
  tests/stress/config/test_config_loader_race.py
  tests/stress/database/__init__.py
  tests/stress/database/test_connection_race.py
  tests/stress/utils/__init__.py
  tests/stress/utils/test_logger_race.py
  tests/unit/api_connectors/test_espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Add fast_retries fixture to ESPN chaos tests for CI
  tests/chaos/api_connectors/test_espn_client_chaos.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Fast Chaos Tests Pattern to TESTING_STRATEGY V3.6
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.6.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
Due: validate-docs

feat: Complete 8 test type coverage for all 11 infrastructure modules (#213)
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.6.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/api_connectors/espn_client.py
  tests/chaos/api_connectors/test_espn_client_chaos.py
  tests/chaos/config/test_config_loader_chaos.py
  tests/chaos/database/test_connection_chaos.py
  tests/chaos/utils/test_logger_chaos.py
  tests/stress/config/__init__.py
  tests/stress/config/test_config_loader_race.py
  tests/stress/database/__init__.py
  tests/stress/database/test_connection_race.py
  tests/stress/utils/__init__.py
  tests/stress/utils/test_logger_race.py
  tests/unit/api_connectors/test_espn_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

refactor: Move service runner to proper module structure
  main.py
  src/precog/runners/__init__.py
  src/precog/runners/service_runner.py
  tests/unit/runners/__init__.py
  tests/unit/runners/test_service_runner.py
Due: ruff-check, ruff-format, mypy

test: Add ESPN edge case E2E tests (Issue #207)
  tests/e2e/api_connectors/test_espn_edge_cases.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

refactor: Move service runner to proper module structure (#214)
  main.py
  src/precog/runners/__init__.py
  src/precog/runners/service_runner.py
  tests/unit/runners/__init__.py
  tests/unit/runners/test_service_runner.py
Due: ruff-check, ruff-format, mypy

test: Add ESPN edge case E2E tests (Issue #207) (#215)
  tests/e2e/api_connectors/test_espn_edge_cases.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Correct Kalshi credential environment variable naming
  .env.template
  src/precog/schedulers/service_supervisor.py
  tests/integration/schedulers/test_service_supervisor_integration.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy

test: Add E2E tests for service_supervisor credential detection
  tests/e2e/schedulers/__init__.py
  tests/e2e/schedulers/test_service_supervisor_e2e.py
Due: ruff-check, ruff-format, mypy

fix: Correct Kalshi credential environment variable naming (#216)
  .env.template
  src/precog/schedulers/service_supervisor.py
  tests/e2e/schedulers/__init__.py
  tests/e2e/schedulers/test_service_supervisor_e2e.py
  tests/integration/schedulers/test_service_supervisor_integration.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy

fix: Resolve Kalshi poller database integration bugs and add E2E tests
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.7.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  src/precog/database/crud_operations.py
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/schedulers/kalshi_poller.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Add missing get_or_create_event mock to unit tests
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy

fix: Resolve Kalshi poller database integration bugs and add E2E tests (#218)
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.7.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  src/precog/database/crud_operations.py
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/schedulers/kalshi_poller.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Filter null characters from property test to support Windows
  tests/property/database/test_initialization_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Correct test expectations to match actual codebase behavior
  tests/stress/api_connectors/test_rate_limiter_stress.py
  tests/stress/config/test_environment_chaos.py
  tests/stress/database/test_lookup_helpers_race.py
  tests/stress/runners/test_service_runner_race.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Fix test skip conditions for better coverage
  tests/e2e/database/test_initialization_e2e.py
  tests/integration/database/test_initialization_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve pre-push validation failures
  scripts/validate_test_fixtures.py
  scripts/warning_baseline.json
  tests/integration/database/test_initialization_integration.py
  tests/integration/database/test_lookup_helpers_integration.py
  tests/integration/trading/test_kelly_criterion_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Strict pattern matching in test coverage audit (Issue #217)
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy

test: Add property and integration tests for service_runner (Issue #217)
  tests/integration/runners/__init__.py
  tests/integration/runners/test_service_runner_integration.py
  tests/property/runners/__init__.py
  tests/property/runners/test_service_runner_properties.py
Due: ruff-check, ruff-format, mypy

bugfix: Resolve test expectation mismatches and pre-push validation failures (#220)
  scripts/validate_test_fixtures.py
  scripts/warning_baseline.json
  tests/e2e/database/test_initialization_e2e.py
  tests/integration/database/test_initialization_integration.py
  tests/integration/database/test_lookup_helpers_integration.py
  tests/integration/trading/test_kelly_criterion_integration.py
  tests/stress/api_connectors/test_rate_limiter_stress.py
  tests/stress/config/test_environment_chaos.py
  tests/stress/database/test_lookup_helpers_race.py
  tests/stress/runners/test_service_runner_race.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Property test for PID 0 on Linux (kernel scheduler exists)
  tests/property/runners/test_service_runner_properties.py
Due: ruff-check, ruff-format, mypy

fix: Handle non-positive PIDs in is_process_running (cross-platform)
  src/precog/runners/service_runner.py
  tests/property/runners/test_service_runner_properties.py
Due: ruff-check, ruff-format, mypy

fix: Update tests for balance cents-to-dollars conversion
  main.py
  src/precog/api_connectors/__init__.py
  src/precog/api_connectors/kalshi_client.py
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/cli/test_cli_database_integration.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add branch naming conventions to SESSION_WORKFLOW_GUIDE V1.2
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.2.md
Due: validate-docs

perf: Optimize pre-push hooks with Mypy caching and A+C parallelization
  .pre-commit-config.yaml
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  scripts/pre-push-hook.sh
  scripts/run_parallel_checks.py
  scripts/validate_quick.sh
  tests/property/test_crud_operations_properties.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Add branch naming conventions to SESSION_WORKFLOW_GUIDE V1.2 (#226)
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/utility/SESSION_WORKFLOW_GUIDE_V1.2.md
Due: validate-docs

fix: Update E2E tests for balance cents-to-dollars conversion
  tests/e2e/api_connectors/test_kalshi_client_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

perf: Optimize pre-push hooks with Mypy caching and A+C parallelization (#227)
  .pre-commit-config.yaml
  docs/foundation/ADR_INDEX_V1.22.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.29.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.49.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  scripts/pre-push-hook.sh
  scripts/run_parallel_checks.py
  scripts/validate_quick.sh
  tests/property/test_crud_operations_properties.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy

bugfix: Update tests for balance cents-to-dollars conversion (#225)
  main.py
  src/precog/api_connectors/__init__.py
  src/precog/api_connectors/kalshi_client.py
  tests/e2e/api_connectors/test_kalshi_client_e2e.py
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/cli/test_cli_database_integration.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Fix kalshi_validation tests to match actual API
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/utility/PHASE_2.5_DEFERRED_TASKS_V1.3.md
  scripts/audit_test_type_coverage.py
  src/precog/validation/__init__.py
  src/precog/validation/kalshi_validation.py
  tests/chaos/validation/test_kalshi_validation_chaos.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/integration/validation/test_kalshi_validation_integration.py
  tests/performance/validation/test_kalshi_validation_performance.py
  tests/property/validation/test_kalshi_validation_properties.py
  tests/stress/validation/test_kalshi_validation_race.py
  tests/stress/validation/test_kalshi_validation_stress.py
  tests/unit/validation/test_kalshi_validation.py
Due: validate-docs, ruff-check, ruff-format, mypy

fix: Improve pre-push hook failure reporting and fix string conversion bug
  scripts/run_parallel_checks.py
  src/precog/trading/strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Add log rotation to pre-push hook (keep last 10)
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy
