Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$

Fix: Eliminate 32 structlog warnings in CLI tests
  utils/logger.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Implement comprehensive multi-source warning governance infrastructure
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.6.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.12.md
  docs/foundation/MASTER_INDEX_V2.13.md
  docs/foundation/MASTER_REQUIREMENTS_V2.11.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/WARNING_DEBT_TRACKER.md
  scripts/check_warning_debt.py
  scripts/warning_baseline.json
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy

Implement Part 1.6: CLI error handling tests (95.90% coverage)
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy

Add CLI testing infrastructure + warning governance (95.90% coverage) (#11)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.6.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.12.md
  docs/foundation/MASTER_INDEX_V2.13.md
  docs/foundation/MASTER_REQUIREMENTS_V2.11.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/GITHUB_BRANCH_PROTECTION_CONFIG.md
  docs/utility/PHASE_0.7_DEFERRED_TASKS_V1.3.md
  docs/utility/WARNING_DEBT_TRACKER.md
  main.py
  scripts/check_warning_debt.py
  scripts/warning_baseline.json
  tests/unit/test_main.py
  utils/logger.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Add Part 2 Kalshi API integration tests (35 tests total, all passing)
  pyproject.toml
  tests/fixtures/generate_test_key.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Add configuration validation property tests + fix ConfigLoader Decimal bug
  config/config_loader.py
  tests/property/test_config_validation_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Doc: Phase 1.5 property testing complete - update foundation docs
  docs/foundation/DEVELOPMENT_PHASES_V1.4.md
  docs/foundation/MASTER_INDEX_V2.14.md
  docs/foundation/MASTER_REQUIREMENTS_V2.11.md
  docs/utility/PHASE_1.5_DEFERRED_PROPERTY_TESTS_V1.0.md
Due: validate-docs

Add Part 3: Integration test housekeeping + bug fix
  pytest.ini
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/__init__.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Add Kalshi API integration tests + Phase 1.5 property testing completion (75 tests) (#12)
  config/config_loader.py
  docs/foundation/DEVELOPMENT_PHASES_V1.4.md
  docs/foundation/MASTER_INDEX_V2.14.md
  docs/foundation/MASTER_REQUIREMENTS_V2.11.md
  docs/utility/PHASE_1.5_DEFERRED_PROPERTY_TESTS_V1.0.md
  pyproject.toml
  pytest.ini
  tests/fixtures/api_responses.py
  tests/fixtures/generate_test_key.py
  tests/integration/api_connectors/__init__.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/property/test_config_validation_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat(cli): Add database integration for fetch-balance, fetch-markets, fetch-settlements
  CLAUDE.md
  database/crud_operations.py
  main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Fix JSONB serialization in CRUD operations + add CLI database integration tests
  database/crud_operations.py
  src/api_connectors/__init__.py
  src/database/__init__.py
  src/database/migrations/schema_v1.3_to_v1.4_migration.sql
  src/database/migrations/schema_v1.4_to_v1.5_migration.sql
  src/database/schema.sql
  src/database/schema_enhanced.sql
  src/models/__init__.py
  src/trading/__init__.py
  src/utils/__init__.py
  tests/integration/cli/__init__.py
  tests/integration/cli/test_cli_database_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

feat: Complete Phase 1.5 CLI integration + property-based testing (Priorities 1-3)
  CLAUDE_PROMPT_PRECOG_V1.md
  PHASE_CHECKLISTS_AND_TEMPLATES.md
  SESSION_HANDOFF.md
  SESSION_SUMMARY_2025-11-09.md
  _debug_validate_docs.txt
  config/config_loader.py
  config/markets.yaml
  config/position_management.yaml
  config/probability_models.yaml
  config/trade_strategies.yaml
  config/trading.yaml
  coverage.json
  database/crud_operations.py
  pytest.ini
  scripts/fix_yaml_floats.py
  test_warnings.txt
  tests/conftest.py
  tests/property/strategies.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/test_logger.py
  utils/logger.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Fix Phase 0.6c scripts: Windows compatibility and cross-platform support
  CLAUDE.md
  SESSION_HANDOFF.md
  docs/utility/WARNING_DEBT_TRACKER.md
  scripts/warning_baseline.json
Due: validate-docs

Rename DEVELOPMENT_PHASES V1.4 → V1.5 to match header version
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
Due: validate-docs

Update DEVELOPMENT_PHASES V1.4 → V1.5 and fix all cross-references
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.1.md
  docs/foundation/MASTER_INDEX_V2.14.md
Due: validate-docs

Add Phase 0.7b review templates (fix broken cross-references)
  docs/utility/CODE_REVIEW_TEMPLATE_V1.0.md
  docs/utility/INFRASTRUCTURE_REVIEW_TEMPLATE_V1.0.md
  docs/utility/SECURITY_REVIEW_CHECKLIST.md
Due: validate-docs

Untrack SESSION_HANDOFF.md + add pre-commit enforcement hooks
  .gitignore
  .pre-commit-config.yaml
  SESSION_HANDOFF.md
Due: validate-docs

Warning governance: Fix Ruff violations, update baseline 312→32, add persistent logging
  docs/foundation/MASTER_INDEX_V2.15.md
  scripts/log_validation_results.py
  scripts/validate_code_quality.py
  scripts/view_validation_logs.py
  scripts/warning_baseline.json
Due: validate-docs, ruff-check, ruff-format, mypy

Phase 0.7c: Template enforcement automation with defense-in-depth validation
  CLAUDE.md
  docs/foundation/DEVELOPMENT_PHASES_V1.6.md
  docs/foundation/MASTER_INDEX_V2.15.md
  docs/foundation/MASTER_REQUIREMENTS_V2.12.md
  docs/foundation/REQUIREMENT_INDEX.md
  scripts/validate_security_patterns.py
Due: validate-docs, ruff-check, ruff-format, mypy

chore: Remove outdated MASTER_REQUIREMENTS V2.11 (superseded by V2.12)
  docs/foundation/MASTER_REQUIREMENTS_V2.11.md
Due: validate-docs

fix: Update cross-references from V2.11 to V2.12
  docs/foundation/MASTER_REQUIREMENTS_V2.12.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

fix: Add S105 exception for validate_security_patterns.py regex patterns
  pyproject.toml
Due: none

chore: Update warning baseline 32 → 68 (+36 Mypy test type hints)
  scripts/warning_baseline.json
Due: none

fix: Update REQ-ML-001 status from In Progress to Planned
  docs/foundation/MASTER_REQUIREMENTS_V2.12.md
  docs/foundation/REQUIREMENT_INDEX.md
Due: validate-docs

Phase 0.7c: Warning Governance Infrastructure + Template Enforcement (#14)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  SESSION_HANDOFF.md
  docs/foundation/DEVELOPMENT_PHASES_V1.6.md
  docs/foundation/MASTER_INDEX_V2.15.md
  docs/foundation/MASTER_REQUIREMENTS_V2.12.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  pyproject.toml
  scripts/log_validation_results.py
  scripts/validate_code_quality.py
  scripts/validate_security_patterns.py
  scripts/view_validation_logs.py
  scripts/warning_baseline.json
Due: validate-docs, ruff-check, ruff-format, mypy

Add validation performance optimizations: parallel execution + runtime tracking
  scripts/check_warning_debt.py
  scripts/log_validation_results.py
  scripts/view_validation_logs.py
Due: ruff-check, ruff-format, mypy

Add validation performance optimizations: parallel execution + runtime tracking (#15)
  scripts/check_warning_debt.py
  scripts/log_validation_results.py
  scripts/view_validation_logs.py
Due: ruff-check, ruff-format, mypy

Document strategic research priorities (ADR-076, ADR-077) + Phase 4.5 research phase
  docs/foundation/ADR_INDEX_V1.7.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.13.md
  docs/foundation/DEVELOPMENT_PHASES_V1.7.md
  docs/foundation/MASTER_INDEX_V2.16.md
  docs/foundation/MASTER_REQUIREMENTS_V2.12.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/PHASE_4_DEFERRED_TASKS_V1.0.md
  docs/utility/STRATEGIC_WORK_ROADMAP_V1.0.md
Due: validate-docs

Document strategic research priorities (ADR-076, ADR-077) + Phase 4.5 research phase (#16)
  docs/foundation/ADR_INDEX_V1.7.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.13.md
  docs/foundation/DEVELOPMENT_PHASES_V1.7.md
  docs/foundation/MASTER_INDEX_V2.16.md
  docs/foundation/MASTER_REQUIREMENTS_V2.12.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/utility/PHASE_4_DEFERRED_TASKS_V1.0.md
  docs/utility/STRATEGIC_WORK_ROADMAP_V1.0.md
Due: validate-docs

Fix CLI commands + config YAML Unicode encoding issues
  CLAUDE.md
  config/probability_models.yaml
  config/trade_strategies.yaml
  main.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Complete Phases 6-9 analytics infrastructure documentation (8 ADRs + guide)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.8.md
  docs/foundation/ADR_INDEX_V1.8.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.13.md
  docs/foundation/DEVELOPMENT_PHASES_V1.8.md
  docs/foundation/MASTER_INDEX_V2.17.md
  docs/foundation/MASTER_REQUIREMENTS_V2.13.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/guides/MODEL_EVALUATION_GUIDE_V1.0.md
  docs/utility/STRATEGIC_WORK_ROADMAP_V1.1.md
Due: validate-docs

Add 4 analytics implementation guides for Phases 6-9 (~2,100 lines)
  docs/foundation/MASTER_INDEX_V2.18.md
  docs/guides/AB_TESTING_GUIDE_V1.0.md
  docs/guides/ANALYTICS_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/DASHBOARD_DEVELOPMENT_GUIDE_V1.0.md
  docs/guides/PERFORMANCE_TRACKING_GUIDE_V1.0.md
Due: validate-docs

Fix documentation cross-references + increase Mypy timeout (PR #17 CI fixes)
  docs/foundation/DEVELOPMENT_PHASES_V1.8.md
  docs/foundation/MASTER_REQUIREMENTS_V2.13.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  scripts/check_warning_debt.py
Due: validate-docs, ruff-check, ruff-format, mypy

Fix Mypy timeout for parallel execution (60s → 120s)
  scripts/check_warning_debt.py
Due: ruff-check, ruff-format, mypy

feat: Complete Phases 6-9 analytics infrastructure documentation (8 ADRs + guide) (#17)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.8.md
  docs/foundation/ADR_INDEX_V1.8.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.13.md
  docs/foundation/DEVELOPMENT_PHASES_V1.8.md
  docs/foundation/MASTER_INDEX_V2.18.md
  docs/foundation/MASTER_REQUIREMENTS_V2.13.md
  docs/foundation/REQUIREMENT_INDEX.md
  docs/foundation/TESTING_STRATEGY_V2.0.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/AB_TESTING_GUIDE_V1.0.md
  docs/guides/ANALYTICS_ARCHITECTURE_GUIDE_V1.0.md
  docs/guides/DASHBOARD_DEVELOPMENT_GUIDE_V1.0.md
  docs/guides/MODEL_EVALUATION_GUIDE_V1.0.md
  docs/guides/PERFORMANCE_TRACKING_GUIDE_V1.0.md
  docs/utility/STRATEGIC_WORK_ROADMAP_V1.1.md
  scripts/check_warning_debt.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Reduce CLAUDE.md size by 48.3% (3,723 → 1,924 lines)
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.19.md
  docs/foundation/MASTER_REQUIREMENTS_V2.13.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.0.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
Due: validate-docs

feat: Add comprehensive workflow safety system (4 layers)
  CLAUDE.md
Due: validate-docs

feat: Add comprehensive workflow safety + CLAUDE.md reduction (48.3%) (#18)
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.19.md
  docs/foundation/MASTER_REQUIREMENTS_V2.13.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.0.md
  docs/utility/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
Due: validate-docs

Fix Phase 1 CLI tests: TestConfigValidate and db-init refactoring
  CLAUDE.md
  database/initialization.py
  docs/utility/PHASE_COMPLETION_ASSESSMENT_PROTOCOL_V1.0.md
  main.py
  pyproject.toml
  pytest.ini
  scripts/check_warning_debt.py
  tests/property/test_config_validation_properties.py
  tests/property/test_edge_detection_properties.py
  tests/unit/test_main.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production
