Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

docs: Add ADR-115 — Database Domain Module Architecture
  docs/foundation/ARCHITECTURE_DECISIONS_V2.35.md
Due: validate-docs

fix: Add last_play to hockey TRACKED_SITUATION_KEYS
  src/precog/database/crud_game_states.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Consolidate ESPN rate limiting to generic TokenBucket (C18 JC-4)
  src/precog/api_connectors/espn_client.py
  src/precog/cli/espn.py
  tests/unit/api_connectors/test_espn_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: Update integration/e2e tests for TokenBucket rate limiter
  tests/e2e/api_connectors/test_espn_client_e2e.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/integration/api_connectors/test_espn_client_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Compute adaptive polling throttle from rate budget (#560)
  src/precog/schedulers/espn_game_poller.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test: Rewrite ESPN stress tests for TokenBucket rate limiter
  tests/stress/api_connectors/test_espn_client_stress.py
  tests/stress/api_connectors/test_espn_rate_limits.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Address Spock+Ripley review — ZeroDivisionError, budget math, validation
  src/precog/schedulers/espn_game_poller.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Fix chaos/race/stress tests for TokenBucket rate limiter
  src/precog/schedulers/espn_game_poller.py
  tests/chaos/api_connectors/test_espn_client_chaos.py
  tests/race/api_connectors/test_espn_client_race.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add Pattern 46 — Mock Patch Migration on Module Extraction (V1.29)
  docs/guides/DEVELOPMENT_PATTERNS_V1.28.md
Due: validate-docs

fix: Update ESPN property tests for TokenBucket rate limiter
  tests/property/api_connectors/test_espn_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add last_play to hockey property test fixture
  tests/property/database/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Fix flaky supervisor integration test — race in scheduler_status cleanup
  tests/integration/schedulers/test_service_supervisor_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

cleanup: Remove TUI dead code — 4,537 src + 1,620 test lines (#558)
  pyproject.toml
  scripts/audit_test_type_coverage.py
  src/precog/cli/__init__.py
  src/precog/tui/__init__.py
  src/precog/tui/__main__.py
  src/precog/tui/app.py
  src/precog/tui/screens/__init__.py
  src/precog/tui/screens/base_screen.py
  src/precog/tui/screens/help_screen.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/screens/market_browser.py
  src/precog/tui/screens/monitoring_dashboard.py
  src/precog/tui/screens/position_viewer.py
  src/precog/tui/screens/scheduler_control.py
  src/precog/tui/screens/settings.py
  src/precog/tui/styles/precog_acid.tcss
  src/precog/tui/styles/precog_classic.tcss
  src/precog/tui/styles/precog_cyberpunk.tcss
  src/precog/tui/styles/precog_dark.tcss
  src/precog/tui/widgets/__init__.py
  src/precog/tui/widgets/breadcrumb.py
  src/precog/tui/widgets/environment_bar.py
  src/precog/tui/widgets/header.py
  tests/unit/tui/__init__.py
  tests/unit/tui/screens/__init__.py
  tests/unit/tui/screens/test_main_menu.py
  tests/unit/tui/screens/test_market_browser.py
  tests/unit/tui/screens/test_monitoring_dashboard.py
  tests/unit/tui/screens/test_position_viewer.py
  tests/unit/tui/screens/test_scheduler_control.py
  tests/unit/tui/screens/test_settings.py
  tests/unit/tui/test_app.py
  tests/unit/tui/test_tui_rendering.py
  tests/unit/tui/widgets/__init__.py
  tests/unit/tui/widgets/test_breadcrumb.py
  tests/unit/tui/widgets/test_header.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Priority-based adaptive polling for ESPN game poller (#560)
  src/precog/cli/scheduler.py
  src/precog/config/data_sources.yaml
  src/precog/database/crud_markets.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/league_priority.py
  tests/unit/schedulers/test_league_priority_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Resolve Test Type Coverage Audit — 77/77 modules passing
  scripts/audit_test_type_coverage.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_crud_analytics_unit.py
  tests/unit/database/test_crud_elo_unit.py
  tests/unit/database/test_crud_events_unit.py
  tests/unit/database/test_crud_game_states_unit.py
  tests/unit/database/test_crud_historical_unit.py
  tests/unit/database/test_crud_ledger_unit.py
  tests/unit/database/test_crud_markets_unit.py
  tests/unit/database/test_crud_orders_unit.py
  tests/unit/database/test_crud_positions_unit.py
  tests/unit/database/test_crud_schedulers_unit.py
  tests/unit/database/test_crud_shared_unit.py
  tests/unit/database/test_crud_strategies_unit.py
  tests/unit/database/test_crud_teams_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add last_play to hockey TRACKED_SITUATION_KEYS (#559)
  src/precog/database/crud_game_states.py
  tests/property/database/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

cleanup: Remove TUI dead code — 4,537 src + 1,620 test lines (#558) (#563)
  pyproject.toml
  scripts/audit_test_type_coverage.py
  src/precog/cli/__init__.py
  src/precog/tui/__init__.py
  src/precog/tui/__main__.py
  src/precog/tui/app.py
  src/precog/tui/screens/__init__.py
  src/precog/tui/screens/base_screen.py
  src/precog/tui/screens/help_screen.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/screens/market_browser.py
  src/precog/tui/screens/monitoring_dashboard.py
  src/precog/tui/screens/position_viewer.py
  src/precog/tui/screens/scheduler_control.py
  src/precog/tui/screens/settings.py
  src/precog/tui/styles/precog_acid.tcss
  src/precog/tui/styles/precog_classic.tcss
  src/precog/tui/styles/precog_cyberpunk.tcss
  src/precog/tui/styles/precog_dark.tcss
  src/precog/tui/widgets/__init__.py
  src/precog/tui/widgets/breadcrumb.py
  src/precog/tui/widgets/environment_bar.py
  src/precog/tui/widgets/header.py
  tests/unit/tui/__init__.py
  tests/unit/tui/screens/__init__.py
  tests/unit/tui/screens/test_main_menu.py
  tests/unit/tui/screens/test_market_browser.py
  tests/unit/tui/screens/test_monitoring_dashboard.py
  tests/unit/tui/screens/test_position_viewer.py
  tests/unit/tui/screens/test_scheduler_control.py
  tests/unit/tui/screens/test_settings.py
  tests/unit/tui/test_app.py
  tests/unit/tui/test_tui_rendering.py
  tests/unit/tui/widgets/__init__.py
  tests/unit/tui/widgets/test_breadcrumb.py
  tests/unit/tui/widgets/test_header.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

Session 38-39: ESPN rate limit consolidation, adaptive polling, priority throttling (#560) (#562)
  docs/guides/DEVELOPMENT_PATTERNS_V1.28.md
  scripts/audit_test_type_coverage.py
  src/precog/api_connectors/espn_client.py
  src/precog/cli/espn.py
  src/precog/cli/scheduler.py
  src/precog/config/data_sources.yaml
  src/precog/database/crud_markets.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/league_priority.py
  tests/chaos/api_connectors/test_espn_client_chaos.py
  tests/e2e/api_connectors/test_espn_client_e2e.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/integration/schedulers/test_service_supervisor_integration.py
  tests/property/api_connectors/test_espn_client_properties.py
  tests/race/api_connectors/test_espn_client_race.py
  tests/stress/api_connectors/test_espn_client_stress.py
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/unit/api_connectors/test_espn_client.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_crud_analytics_unit.py
  tests/unit/database/test_crud_elo_unit.py
  tests/unit/database/test_crud_events_unit.py
  tests/unit/database/test_crud_game_states_unit.py
  tests/unit/database/test_crud_historical_unit.py
  tests/unit/database/test_crud_ledger_unit.py
  tests/unit/database/test_crud_markets_unit.py
  tests/unit/database/test_crud_orders_unit.py
  tests/unit/database/test_crud_positions_unit.py
  tests/unit/database/test_crud_schedulers_unit.py
  tests/unit/database/test_crud_shared_unit.py
  tests/unit/database/test_crud_strategies_unit.py
  tests/unit/database/test_crud_teams_unit.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_league_priority_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Schema Summary V2.0 + Desktop Deployment Guide V2.0
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.0.md
  docs/guides/DESKTOP_DEPLOYMENT_GUIDE_V2.0.md
Due: validate-docs

docs: Add backup/restore, data migration, and dual-machine workflow
  docs/guides/DESKTOP_DEPLOYMENT_GUIDE_V2.0.md
Due: validate-docs

docs: Schema Summary V2.0 + Desktop Deployment Guide V2.0 (#564)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.0.md
  docs/guides/DESKTOP_DEPLOYMENT_GUIDE_V2.0.md
Due: validate-docs

Session 41: Era 2 roadmap, Phase 2 requirements, schema migrations
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.0.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/REQUIREMENT_INDEX_V1.17.md
  src/precog/database/alembic/versions/0049_account_balance_scd_temporal_columns.py
  src/precog/database/alembic/versions/0050_phase2_trade_indexes.py
  src/precog/database/crud_account.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Session 41: Era 2 roadmap, Phase 2 requirements, schema migrations (#584)
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.0.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/REQUIREMENT_INDEX_V1.17.md
  src/precog/database/alembic/versions/0049_account_balance_scd_temporal_columns.py
  src/precog/database/alembic/versions/0050_phase2_trade_indexes.py
  src/precog/database/crud_account.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Session 42: C4 hardening — ESPN validation, gap detection, Decimal, E2E tests
  src/precog/api_connectors/espn_client.py
  src/precog/schedulers/espn_game_poller.py
  tests/e2e/api_connectors/test_espn_edge_cases.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/e2e/schedulers/test_service_supervisor_lifecycle_e2e.py
  tests/fixtures/espn_responses.py
  tests/property/database/test_validate_decimal_properties.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Session 42: C4 hardening — ESPN validation, gap detection, Decimal, E2E tests (#585)
  src/precog/api_connectors/espn_client.py
  src/precog/schedulers/espn_game_poller.py
  tests/e2e/api_connectors/test_espn_edge_cases.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/e2e/schedulers/test_service_supervisor_lifecycle_e2e.py
  tests/fixtures/espn_responses.py
  tests/property/database/test_validate_decimal_properties.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Automated backup system with pluggable storage backends (#565)
  src/precog/backup/__init__.py
  src/precog/backup/_base.py
  src/precog/backup/_registry.py
  src/precog/backup/_types.py
  src/precog/backup/orchestrator.py
  src/precog/backup/storage_filen.py
  src/precog/backup/storage_local.py
  src/precog/cli/__init__.py
  src/precog/cli/backup.py
  src/precog/config/system.yaml
  src/precog/database/crud_shared.py
  tests/unit/backup/__init__.py
  tests/unit/backup/test_orchestrator.py
  tests/unit/backup/test_registry.py
  tests/unit/backup/test_storage_local.py
  tests/unit/backup/test_types.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Automated backup system with pluggable storage backends (#565) (#597)
  src/precog/backup/__init__.py
  src/precog/backup/_base.py
  src/precog/backup/_registry.py
  src/precog/backup/_types.py
  src/precog/backup/orchestrator.py
  src/precog/backup/storage_filen.py
  src/precog/backup/storage_local.py
  src/precog/cli/__init__.py
  src/precog/cli/backup.py
  src/precog/config/system.yaml
  src/precog/database/crud_shared.py
  tests/unit/backup/__init__.py
  tests/unit/backup/test_orchestrator.py
  tests/unit/backup/test_registry.py
  tests/unit/backup/test_storage_local.py
  tests/unit/backup/test_types.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Claude Review + S68 bugs — race condition, blocking acquire, priority wiring (#586, #587, #588)
  src/precog/api_connectors/espn_client.py
  src/precog/backup/orchestrator.py
  src/precog/cli/scheduler.py
  src/precog/database/crud_account.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/service_supervisor.py
  src/precog/validation/kalshi_validation.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Claude Review + S68 bugs — race condition, blocking acquire, priority wiring (#586, #587, #588) (#601)
  src/precog/api_connectors/espn_client.py
  src/precog/backup/orchestrator.py
  src/precog/cli/scheduler.py
  src/precog/database/crud_account.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/service_supervisor.py
  src/precog/validation/kalshi_validation.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Phase doc V1.1 — signal sources + probability estimation reframe
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.0.md
Due: validate-docs

docs: Add Patterns 47-50 from Session 42c (V1.30)
  docs/guides/DEVELOPMENT_PATTERNS_V1.28.md
Due: validate-docs

docs: PR #612 Claude Review fixes for Phase doc V1.1
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.1.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
Due: validate-docs

docs: Phase doc V1.1 — signal sources + probability estimation reframe (#612)
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.1.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.28.md
Due: validate-docs

docs: Rename DEVELOPMENT_PATTERNS V1.28 -> V1.30 to match content
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.30.md
Due: validate-docs

test: Harden 2 flaky race tests blocking unrelated docs commits
  tests/race/cli/test_cli_db_race.py
  tests/race/schedulers/test_espn_game_poller_race.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Patterns V1.28 -> V1.30 + harden 2 flaky race tests (#615)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.30.md
  tests/race/cli/test_cli_db_race.py
  tests/race/schedulers/test_espn_game_poller_race.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: SCD first-insert race prevention helper for account_balance (#613)
  src/precog/database/crud_account.py
  src/precog/database/crud_shared.py
  tests/integration/database/test_account_balance_retry_integration.py
  tests/race/test_account_balance_concurrent_first_insert.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_crud_shared_retry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: PR #631 review feedback + audit drift unblock (#613)
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_account.py
  tests/race/test_account_balance_concurrent_first_insert.py
  tests/unit/backup/test_storage_filen.py
  tests/unit/cli/test_cli_backup.py
  tests/unit/database/_psycopg2_stubs.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_crud_shared_retry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: SCD first-insert race prevention helper for account_balance (#613) (#631)
  scripts/audit_test_type_coverage.py
  src/precog/database/crud_account.py
  src/precog/database/crud_shared.py
  tests/integration/database/test_account_balance_retry_integration.py
  tests/race/test_account_balance_concurrent_first_insert.py
  tests/unit/backup/test_storage_filen.py
  tests/unit/cli/test_cli_backup.py
  tests/unit/database/_psycopg2_stubs.py
  tests/unit/database/test_crud_account_unit.py
  tests/unit/database/test_crud_shared_retry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check
