Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

fix: Address Glokta/Ripley review — settlement comment, boundary tests
  src/precog/api_connectors/types.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Wire KalshiDataValidator into ingestion pipeline (#337)
  src/precog/schedulers/kalshi_poller.py
  src/precog/validation/kalshi_validation.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Wire KalshiDataValidator into ingestion pipeline (#337) (#384)
  src/precog/schedulers/kalshi_poller.py
  src/precog/validation/kalshi_validation.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Status-gate validator checks to eliminate false positives (#385)
  src/precog/schedulers/kalshi_poller.py
  src/precog/validation/kalshi_validation.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/integration/validation/test_kalshi_validation_integration.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test: Add status-gating coverage to property and chaos tests (#385)
  tests/chaos/validation/test_kalshi_validation_chaos.py
  tests/property/validation/test_kalshi_validation_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add validation error rate alerting and anomaly deduplication (#386)
  src/precog/database/__init__.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/validation/kalshi_validation.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Address Glokta/Ripley review — settlement comment, boundary tests
  src/precog/api_connectors/espn_client.py
  tests/unit/api_connectors/test_espn_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Address Spock N2/Ripley S3+S5 — docstring accuracy, per-sport empty tests
  src/precog/api_connectors/espn_client.py
  tests/unit/api_connectors/test_espn_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Expand desktop migration guide V1.2 — migration sync, monitoring, tuning
  docs/guides/DESKTOP_MIGRATION_GUIDE_V1.0.md
Due: validate-docs

fix: Replace conn.execute() with get_cursor() in DB CLI commands (#406)
  src/precog/cli/db.py
  src/precog/cli/system.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update integration/e2e DB CLI tests to mock get_cursor (#406)
  tests/e2e/cli/test_cli_db_e2e.py
  tests/integration/cli/test_cli_db_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update all CLI test types to mock get_cursor instead of get_connection (#406)
  tests/chaos/cli/test_cli_chaos.py
  tests/performance/cli/test_cli_performance.py
  tests/property/cli/test_cli_system_properties.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_db_stress.py
  tests/stress/cli/test_cli_stress.py
  tests/stress/cli/test_cli_system_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add CI skip guard for flaky config loader performance test
  tests/performance/config/test_config_loader_performance.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

feat: Add staleness detection + timestamp validation to Kalshi validator (#387)
  src/precog/validation/kalshi_validation.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Replace conn.execute() with get_cursor() in DB CLI commands (#406) (#408)
  src/precog/cli/db.py
  src/precog/cli/system.py
  tests/chaos/cli/test_cli_chaos.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/integration/cli/test_cli_db_integration.py
  tests/performance/cli/test_cli_performance.py
  tests/performance/config/test_config_loader_performance.py
  tests/property/cli/test_cli_system_properties.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_db_stress.py
  tests/stress/cli/test_cli_stress.py
  tests/stress/cli/test_cli_system_stress.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

feat: Add staleness detection + timestamp validation to Kalshi validator (#387) (#409)
  src/precog/validation/kalshi_validation.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add concurrent scheduler startup guard (#363)
  src/precog/cli/scheduler.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add scheduler_status cleanup fixture for integration tests
  tests/integration/schedulers/test_service_supervisor_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add scheduler_status cleanup for stress/chaos tests
  tests/chaos/schedulers/conftest.py
  tests/stress/schedulers/conftest.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Align position/settlement validators with TypedDict field names (#388)
  src/precog/validation/kalshi_validation.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Status-gate ESPN validator to eliminate false positives (#391)
  src/precog/validation/espn_validation.py
  tests/unit/validation/test_espn_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add game_status to integration/e2e tests for status-aware validation
  tests/e2e/validation/test_espn_validation_e2e.py
  tests/integration/validation/test_espn_validation_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use denylist (not allowlist) for status gating — safe default for unknown
  src/precog/validation/espn_validation.py
  tests/unit/validation/test_espn_validation.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Wire system_health table with CRUD, supervisor integration, and CLI (#389)
  src/precog/cli/system.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/cli/test_cli_system.py
  tests/unit/database/test_crud_system_health.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Wire circuit_breaker_events table with CRUD, CLI, and auto-trip (#390)
  src/precog/cli/__init__.py
  src/precog/cli/circuit_breaker.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/cli/test_cli_circuit_breaker.py
  tests/unit/database/test_crud_circuit_breaker.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use correct BatchInsertResult field names in race test
  tests/race/database/seeding/test_historical_elo_loader_race.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Remove legacy single-job polling, per-league is now the only mode (#310)
  scripts/pre-push-validation.sh
  src/precog/schedulers/espn_game_poller.py
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
  tests/property/schedulers/test_espn_game_poller_properties.py
  tests/race/schedulers/test_espn_game_poller_race.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Mock poller constructors in CLI race test to prevent live API calls
  tests/race/cli/test_cli_race.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add surrogate PK to series table, update events FK to integer (migration 0019)
  src/precog/database/alembic/versions/0019_series_surrogate_pk.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/conftest.py
  tests/fixtures/testcontainers_fixtures.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/database/test_series_crud_integration.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/property/database/test_series_crud_properties.py
  tests/property/test_database_crud_properties.py
  tests/test_attribution.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Reorder migration 0019 steps — drop events FK before series PK
  src/precog/database/alembic/versions/0019_series_surrogate_pk.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Migration 0019 — series surrogate PK + events FK to integer (#427)
  src/precog/database/alembic/versions/0019_series_surrogate_pk.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/conftest.py
  tests/fixtures/testcontainers_fixtures.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/database/test_series_crud_integration.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/property/database/test_series_crud_properties.py
  tests/property/test_database_crud_properties.py
  tests/test_attribution.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add surrogate PK to events table, update markets FK to integer (migration 0020)
  src/precog/database/alembic/versions/0020_events_surrogate_pk.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/conftest.py
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/property/test_database_crud_properties.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update remaining test files for markets.event_internal_id FK + add Pattern 38
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/integration/trading/test_position_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use tuple index for raw psycopg2 cursor in position_manager test
  tests/integration/trading/test_position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Migration 0020 — events surrogate PK + markets FK to integer (#430)
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
  src/precog/database/alembic/versions/0020_events_surrogate_pk.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/conftest.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/integration/trading/test_position_manager.py
  tests/property/test_database_crud_properties.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add surrogate PK to markets, split into dimension + snapshots (migration 0021)
  src/precog/database/alembic/versions/0021_markets_split.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/tui/screens/market_browser.py
  tests/conftest.py
  tests/fixtures/testcontainers_fixtures.py
  tests/property/test_database_crud_properties.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_kalshi_websocket.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update integration/e2e tests for markets split (migration 0021)
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/integration/database/test_migration_idempotency.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/integration/schedulers/test_kalshi_websocket_integration.py
  tests/integration/trading/test_position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Fix remaining integration/e2e tests + add historical_elo to container
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/trading/test_position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add missing columns to testcontainers fixture (pre-existing gaps)
  tests/fixtures/testcontainers_fixtures.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
