Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

docs: Add NHL Elo source and MLB computation strategy
  data/historical/README.md
Due: validate-docs

feat: Add Neil Paine NHL Elo loader (137k games 1917-2025)
  src/precog/database/seeding/historical_elo_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add team_season_records VIEW and MLB Elo pipeline
  data/historical/README.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.32.md
  docs/foundation/DEVELOPMENT_PHASES_V1.14.md
  docs/foundation/MASTER_INDEX_V2.52.md
  docs/guides/ELO_COMPUTATION_GUIDE_V1.2.md
  src/precog/database/alembic/versions/0014_create_team_season_records_view.py
  src/precog/database/seeding/historical_games_loader.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: NHL Elo validation + team_season_records VIEW + cross-sport bug fix
  src/precog/database/alembic/versions/0014_create_team_season_records_view.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/team_history.py
  tests/unit/database/seeding/test_team_history.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Update historical data sources - FiveThirtyEight → Neil Paine archives
  data/historical/README.md
Due: validate-docs

docs: Complete Neil Paine data source migration documentation
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
  docs/foundation/DEVELOPMENT_PHASES_V1.15.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/REQUIREMENT_INDEX_V1.17.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

fix: Cross-reference validator + team code mapping test
  scripts/validate_docs.py
  tests/unit/database/seeding/test_historical_elo_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Migration 0014 column reference + JUnit logging docs
  docs/foundation/ADR_INDEX_V1.25.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  src/precog/database/alembic/versions/0014_create_team_season_records_view.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add Era Registry pattern for scalable time-based configurations (#276)
  data/historical/README.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.32.md
  docs/foundation/DEVELOPMENT_PHASES_V1.14.md
  docs/foundation/MASTER_INDEX_V2.52.md
  docs/guides/ELO_COMPUTATION_GUIDE_V1.2.md
  src/precog/analytics/elo_computation_service.py
  src/precog/analytics/elo_engine.py
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0014_create_team_season_records_view.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  tests/unit/analytics/test_elo_computation_service.py
  tests/unit/analytics/test_elo_engine_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: NHL Elo validation + team_season_records VIEW + documentation updates (#279)
  docs/foundation/ADR_INDEX_V1.25.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
  docs/foundation/DEVELOPMENT_PHASES_V1.15.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/REQUIREMENT_INDEX_V1.17.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/TESTING_ANTIPATTERNS_V1.0.md
  scripts/validate_docs.py
  src/precog/database/alembic/versions/0014_create_team_season_records_view.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/team_history.py
  tests/unit/database/seeding/test_historical_elo_loader.py
  tests/unit/database/seeding/test_team_history.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Complete Tier 1 tasks - TUI screens + elo_rating_history removal
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.15.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0015_drop_deprecated_elo_rating_history.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/seeding_manager.py
  src/precog/tui/screens/__init__.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/screens/market_browser.py
  src/precog/tui/screens/monitoring_dashboard.py
  src/precog/tui/screens/position_viewer.py
  src/precog/tui/screens/scheduler_control.py
  src/precog/tui/screens/settings.py
  tests/fixtures/testcontainers_fixtures.py
  tests/unit/tui/screens/test_market_browser.py
  tests/unit/tui/screens/test_monitoring_dashboard.py
  tests/unit/tui/screens/test_position_viewer.py
  tests/unit/tui/screens/test_scheduler_control.py
  tests/unit/tui/screens/test_settings.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use bare type ignore for cross-platform mypy compatibility
  src/precog/tui/screens/scheduler_control.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add explicit type annotation for cross-platform mypy compatibility
  src/precog/tui/screens/scheduler_control.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Complete Tier 1 tasks - TUI screens + elo_rating_history removal (#284)
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.15.md
  docs/database/DATABASE_TABLES_REFERENCE.md
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0015_drop_deprecated_elo_rating_history.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/seeding_manager.py
  src/precog/tui/screens/__init__.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/screens/market_browser.py
  src/precog/tui/screens/monitoring_dashboard.py
  src/precog/tui/screens/position_viewer.py
  src/precog/tui/screens/scheduler_control.py
  src/precog/tui/screens/settings.py
  tests/fixtures/testcontainers_fixtures.py
  tests/unit/tui/screens/test_market_browser.py
  tests/unit/tui/screens/test_monitoring_dashboard.py
  tests/unit/tui/screens/test_position_viewer.py
  tests/unit/tui/screens/test_scheduler_control.py
  tests/unit/tui/screens/test_settings.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add soak testing infrastructure + fix CLI installation
  .gitignore
  pyproject.toml
  scripts/run_soak_test.py
  src/precog/cli/__init__.py
  src/precog/tui/__main__.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Prevent pre-push hook freezes from orphaned processes
  scripts/cleanup_frozen_processes.py
  scripts/run_parallel_checks.py
  src/precog/tui/app.py
  src/precog/tui/screens/main_menu.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Correct mock patching in CLI unit tests for parallel execution
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_scheduler.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test_connection mock to stress/performance tests
  tests/performance/cli/test_cli_db_performance.py
  tests/performance/cli/test_cli_performance.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/stress/cli/test_cli_db_stress.py
  tests/stress/cli/test_cli_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test_connection mock to integration/e2e db status tests
  tests/e2e/cli/test_cli_db_e2e.py
  tests/integration/cli/test_cli_db_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test_connection mock and accept exit code 5 in property tests
  tests/property/cli/test_cli_db_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test_connection mock to remaining e2e/performance tests
  tests/e2e/cli/test_cli_db_e2e.py
  tests/performance/cli/test_cli_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test_connection mock to system e2e health tests
  tests/e2e/cli/test_cli_system_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test_connection mock and relax threshold for test_tables_latency
  tests/performance/cli/test_cli_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add missing database mocks to e2e CLI db tests
  tests/e2e/cli/test_cli_db_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Comprehensive test isolation fixes for parallel execution
  tests/e2e/cli/test_cli_system_e2e.py
  tests/performance/cli/test_cli_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Additional test isolation and threshold fixes for parallel execution
  tests/performance/database/seeding/test_seeding_manager_performance.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
  tests/performance/schedulers/test_service_supervisor_performance.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/property/cli/test_cli_system_properties.py
  tests/stress/test_logger_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add isolated_app fixture for E2E CLI db tests
  tests/e2e/cli/test_cli_db_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add isolated_app fixture to test_cli_system_e2e.py for parallel execution
  tests/e2e/cli/test_cli_system_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test isolation for CLI tests to prevent race conditions
  tests/e2e/cli/test_cli_scheduler_e2e.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/integration/cli/test_cli_system_integration.py
  tests/performance/cli/test_cli_performance.py
  tests/property/cli/test_cli_db_properties.py
  tests/property/cli/test_cli_scheduler_properties.py
  tests/property/cli/test_cli_system_properties.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Handle cross-platform mypy type checking for unreachable code
  scripts/cleanup_frozen_processes.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Add Pattern 35 - CLI Test Isolation for Parallel Execution
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
Due: validate-docs

fix: Remove incompatible mix_stderr parameter from CliRunner
  tests/e2e/cli/test_cli_scheduler_e2e.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/integration/cli/test_cli_system_integration.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add test isolation for CLI tests to prevent race conditions (#285)
  .gitignore
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
  pyproject.toml
  scripts/cleanup_frozen_processes.py
  scripts/run_parallel_checks.py
  scripts/run_soak_test.py
  src/precog/cli/__init__.py
  src/precog/tui/__main__.py
  src/precog/tui/app.py
  src/precog/tui/screens/main_menu.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/e2e/cli/test_cli_scheduler_e2e.py
  tests/e2e/cli/test_cli_system_e2e.py
  tests/integration/cli/test_cli_db_integration.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/integration/cli/test_cli_system_integration.py
  tests/performance/cli/test_cli_db_performance.py
  tests/performance/cli/test_cli_performance.py
  tests/performance/database/seeding/test_seeding_manager_performance.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
  tests/performance/schedulers/test_service_supervisor_performance.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/property/cli/test_cli_db_properties.py
  tests/property/cli/test_cli_scheduler_properties.py
  tests/property/cli/test_cli_system_properties.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_db_stress.py
  tests/stress/cli/test_cli_stress.py
  tests/stress/test_logger_stress.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_scheduler.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Simplify CLAUDE.md and archive process ceremony docs
  CLAUDE.md
  _archive/CLAUDE_PROMPT_PRECOG_V1.md
  _archive/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  _archive/DOCUMENT_MAINTENANCE_LOG.md
  _archive/PHASE_1.5_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_1.9_TEST_INFRASTRUCTURE_PLAN_V1.0.md
  _archive/PHASE_1_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_2.5_DEFERRED_TASKS_V1.3.md
  _archive/PHASE_2_TEST_COVERAGE_GAPS_V1.0.md
  _archive/PHASE_4_DEFERRED_TASKS_V1.0.md
  _archive/PROJECT_STATUS.md
  _archive/SESSION_SUMMARY_2025-11-09.md
  _archive/SESSION_SUMMARY_2025-11-21.md
  _archive/SESSION_WORKFLOW_GUIDE_V1.2.md
  _archive/STRATEGIC_WORK_ROADMAP_V1.1.md
  _archive/TESTING_GAPS_ANALYSIS.md
  _archive/TOKEN_MONITORING_PROTOCOL.md
Due: validate-docs

chore: Slim pre-commit, pre-push, and CI validation hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/validate_docs.py
  scripts/validate_quick.sh
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use environment-prefixed DB vars (DEV_DB_*, TEST_DB_*, etc.)
  src/precog/config/__init__.py
  src/precog/config/env.template
  src/precog/config/environment.py
  src/precog/database/alembic/env.py
  src/precog/database/connection.py
  tests/unit/config/test_environment.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add Educational Notes to new environment functions
  src/precog/config/environment.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

test: Update integration/e2e tests for prefixed env var resolution
  tests/e2e/config/test_environment_e2e.py
  tests/integration/config/test_environment_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

fix: Implement cursor-based pagination for Kalshi API client
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/types.py
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: TUI screen enhancements with pagination, themes, and CRUD support
  pyproject.toml
  src/precog/database/crud_operations.py
  src/precog/tui/app.py
  src/precog/tui/screens/base_screen.py
  src/precog/tui/screens/help_screen.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/screens/market_browser.py
  src/precog/tui/screens/monitoring_dashboard.py
  src/precog/tui/screens/position_viewer.py
  src/precog/tui/screens/scheduler_control.py
  src/precog/tui/screens/settings.py
  src/precog/tui/styles/precog_acid.tcss
  src/precog/tui/styles/precog_classic.tcss
  src/precog/tui/styles/precog_cyberpunk.tcss
  src/precog/tui/widgets/breadcrumb.py
  src/precog/tui/widgets/environment_bar.py
  tests/unit/tui/screens/test_settings.py
  tests/unit/tui/test_app.py
  tests/unit/tui/test_tui_rendering.py
  tests/unit/tui/widgets/test_breadcrumb.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check
