Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

fix: Settlement detection on create path + warning for unexpected results
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Set prefixed env vars in stress test main process to match Alembic subprocess
  tests/fixtures/stress_testcontainers.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Session 29 Kalshi enrichment + stress test env fix (#512)
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
  src/precog/database/alembic/versions/0044_drop_game_state_id_column.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Read settlement_value_dollars from Kalshi API instead of deriving from result (#513)
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/types.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Read settlement_value_dollars from Kalshi API instead of deriving from result (#513) (#515)
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/types.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Reduce team code collision log noise — INFO to DEBUG with summary
  src/precog/matching/team_code_registry.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: Reduce team code collision log noise — INFO to DEBUG with summary (#517)
  src/precog/matching/team_code_registry.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Enrichment data gaps — upsert NULL fields, populate event result, add backfill script (#513)
  scripts/backfill_enrichment.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Enrichment data gaps — upsert NULL fields, populate event result, add backfill script (#513) (#519)
  scripts/backfill_enrichment.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add --kalshi-env flag to backfill script, fix "live" → "prod" env name
  scripts/backfill_enrichment.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: External team codes table — persistent cross-platform team mapping (#516)
  scripts/seed_external_team_codes.py
  src/precog/database/alembic/versions/0045_create_external_team_codes.py
  src/precog/database/crud_operations.py
  src/precog/matching/team_code_registry.py
  tests/unit/database/test_external_team_codes_crud.py
  tests/unit/matching/test_team_code_registry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add Team Data Pipeline Guide V1.0 — end-to-end team/matching documentation
  docs/guides/TEAM_DATA_PIPELINE_GUIDE_V1.0.md
Due: validate-docs

fix: Add --kalshi-env flag to backfill script, fix "live" → "prod" env name (#522)
  scripts/backfill_enrichment.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Add Team Data Pipeline Guide V1.0 — end-to-end team/matching documentation (#525)
  docs/guides/TEAM_DATA_PIPELINE_GUIDE_V1.0.md
Due: validate-docs

feat: External team codes table — persistent cross-platform team mapping (#516) (#523)
  scripts/seed_external_team_codes.py
  src/precog/database/alembic/versions/0045_create_external_team_codes.py
  src/precog/database/crud_operations.py
  src/precog/matching/team_code_registry.py
  tests/unit/database/test_external_team_codes_crud.py
  tests/unit/matching/test_team_code_registry.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: ESPN historical game backfill + matching improvements (#524)
  scripts/backfill_espn_games.py
  src/precog/database/crud_operations.py
  src/precog/matching/event_game_matcher.py
  tests/unit/matching/test_event_game_matcher.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Address Glokta + Ripley review findings on backfill (#524)
  scripts/backfill_espn_games.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Kalshi API enrichment P1 — depth signals + daily movement (#513)
  src/precog/api_connectors/types.py
  src/precog/database/alembic/versions/0046_market_depth_and_daily_movement.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Remove redundant event_id column from events table (#530)
  scripts/backfill_enrichment.py
  src/precog/database/alembic/versions/0047_drop_redundant_event_id_column.py
  src/precog/database/crud_operations.py
  tests/conftest.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/fixtures/testcontainers_fixtures.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/cli/_deprecated_test_cli_database_integration.py
  tests/integration/fixtures/test_transaction_fixtures.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/integration/trading/test_position_manager.py
  tests/property/test_database_crud_properties.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add home_win_probability to property test situation strategies
  tests/property/database/test_crud_operations_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: ESPN win probability + attendance + play metadata capture (#518)
  src/precog/api_connectors/espn_client.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/espn_game_poller.py
  tests/unit/api_connectors/test_espn_client.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Kalshi API _fp suffix field name mismatch — restore volume/depth data (#513)
  src/precog/api_connectors/types.py
  src/precog/cli/kalshi.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/tui/screens/market_browser.py
  src/precog/validation/kalshi_validation.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Kalshi API _fp suffix field name mismatch — restore volume/depth data (#513) (#537)
  src/precog/api_connectors/types.py
  src/precog/cli/kalshi.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/kalshi_websocket.py
  src/precog/tui/screens/market_browser.py
  src/precog/validation/kalshi_validation.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update test fixtures for Kalshi _fp suffix field names (#536)
  tests/chaos/validation/test_kalshi_validation_chaos.py
  tests/e2e/api_connectors/test_kalshi_client_e2e.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/integration/validation/test_kalshi_validation_integration.py
  tests/performance/api_connectors/test_kalshi_client_performance.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/performance/validation/test_kalshi_validation_performance.py
  tests/property/schedulers/test_kalshi_poller_properties.py
  tests/property/validation/test_kalshi_validation_properties.py
  tests/stress/validation/test_kalshi_validation_race.py
  tests/stress/validation/test_kalshi_validation_stress.py
  tests/unit/api_connectors/test_kalshi_client.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update test fixtures for Kalshi _fp suffix field names (#536) (#539)
  tests/chaos/validation/test_kalshi_validation_chaos.py
  tests/e2e/api_connectors/test_kalshi_client_e2e.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/integration/validation/test_kalshi_validation_integration.py
  tests/performance/api_connectors/test_kalshi_client_performance.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/performance/validation/test_kalshi_validation_performance.py
  tests/property/schedulers/test_kalshi_poller_properties.py
  tests/property/validation/test_kalshi_validation_properties.py
  tests/stress/validation/test_kalshi_validation_race.py
  tests/stress/validation/test_kalshi_validation_stress.py
  tests/unit/api_connectors/test_kalshi_client.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: ESPN DraftKings odds extraction with SCD Type 2 line tracking (#533)
  src/precog/api_connectors/espn_client.py
  src/precog/api_connectors/types.py
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0048_rename_historical_odds_to_game_odds.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/game_odds_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/sources/base_source.py
  src/precog/database/seeding/sources/betting_csv.py
  src/precog/schedulers/espn_game_poller.py
  tests/integration/database/test_crud_operations_integration.py
  tests/unit/api_connectors/test_espn_odds_parsing.py
  tests/unit/database/seeding/test_game_odds_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
  tests/unit/database/seeding/test_progress.py
  tests/unit/database/test_upsert_game_odds.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: ESPN DraftKings odds extraction with SCD Type 2 line tracking (#533) (#549)
  src/precog/api_connectors/espn_client.py
  src/precog/api_connectors/types.py
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0048_rename_historical_odds_to_game_odds.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/game_odds_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/sources/base_source.py
  src/precog/database/seeding/sources/betting_csv.py
  src/precog/schedulers/espn_game_poller.py
  tests/integration/database/test_crud_operations_integration.py
  tests/unit/api_connectors/test_espn_odds_parsing.py
  tests/unit/database/seeding/test_game_odds_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
  tests/unit/database/seeding/test_progress.py
  tests/unit/database/test_upsert_game_odds.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Update DEVELOPMENT_PATTERNS V1.23 with patterns 42-43
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
Due: validate-docs

docs: Update DEVELOPMENT_PATTERNS V1.23 with patterns 42-43 (#550)
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
Due: validate-docs

fix: Wire game_odds team IDs, clamp negative depths, fix test infra (#538, #542)
  src/precog/database/crud_operations.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  tests/fixtures/schema_utils.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
  tests/stress/test_logger_stress.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add incident response protocol V1.0 (#520)
  docs/guides/INCIDENT_RESPONSE_PROTOCOL_V1.0.md
Due: validate-docs

docs: Update DATABASE_SCHEMA_SUMMARY to V1.16 (migrations 0044-0048)
  CLAUDE.md
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.16.md
Due: validate-docs

fix: Session 36 — team IDs, negative depths, testcontainers, incident response (#538, #542) (#552)
  CLAUDE.md
  docs/database/DATABASE_SCHEMA_SUMMARY_V1.16.md
  docs/guides/INCIDENT_RESPONSE_PROTOCOL_V1.0.md
  src/precog/database/crud_operations.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  tests/fixtures/schema_utils.py
  tests/fixtures/stress_testcontainers.py
  tests/fixtures/testcontainers_fixtures.py
  tests/stress/test_logger_stress.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: C18 audit fixes — env prefix alignment, doc renames, ADR-304 phantom refs
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.35.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.28.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  docs/supplementary/DATA_SOURCES_SPECIFICATION_V1.0.md
  src/precog/config/config_loader.py
  tests/property/config/test_config_loader_properties.py
  tests/stress/config/test_config_loader_race.py
  tests/test_config_loader.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

refactor: Extract ledger, account, orders from crud_operations.py (Phase 1a)
  src/precog/database/crud_account.py
  src/precog/database/crud_ledger.py
  src/precog/database/crud_operations.py
  src/precog/database/crud_orders.py
  src/precog/database/crud_shared.py
  tests/unit/database/test_account_ledger_crud.py
  tests/unit/database/test_market_trades_crud.py
  tests/unit/database/test_order_crud.py
  tests/unit/database/test_temporal_alignment_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update validate_critical_tables with 9 missing operational tables (C18 JC-7)
  src/precog/database/initialization.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Remove version numbers from DATABASE_SCHEMA_SUMMARY refs (C18 JC-5)
  src/precog/analytics/model_manager.py
  src/precog/cli/db.py
  src/precog/config/system.yaml
  src/precog/database/connection.py
  src/precog/database/crud_account.py
  src/precog/database/crud_operations.py
  src/precog/database/initialization.py
  src/precog/trading/position_manager.py
  src/precog/trading/strategy_manager.py
  src/precog/trading/types.py
  tests/integration/database/test_initialization_integration.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Register 5 new modules in test coverage audit (Phase 1a + game_odds)
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: Extract 11 domain modules from crud_operations.py (Phase 1b/1c)
  scripts/audit_test_type_coverage.py
  src/precog/cli/data.py
  src/precog/database/crud_analytics.py
  src/precog/database/crud_elo.py
  src/precog/database/crud_events.py
  src/precog/database/crud_game_states.py
  src/precog/database/crud_historical.py
  src/precog/database/crud_markets.py
  src/precog/database/crud_operations.py
  src/precog/database/crud_positions.py
  src/precog/database/crud_schedulers.py
  src/precog/database/crud_strategies.py
  src/precog/database/crud_system.py
  src/precog/database/crud_teams.py
  tests/chaos/test_crud_operations_chaos.py
  tests/unit/database/test_analytics_crud.py
  tests/unit/database/test_crud_circuit_breaker.py
  tests/unit/database/test_crud_operations_unit.py
  tests/unit/database/test_crud_system_health.py
  tests/unit/database/test_edge_crud.py
  tests/unit/database/test_external_team_codes_crud.py
  tests/unit/database/test_historical_data_crud.py
  tests/unit/database/test_upsert_game_odds.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
