Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

validate-docs:
  name: Documentation Validation (9 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates documentation consistency, cross-references, versioning, phase status, and YAML configs

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check .
  language: system
  pass_filenames: false
  description: Runs Ruff linter for code quality

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check .
  language: system
  pass_filenames: false
  description: Checks code formatting with Ruff (no auto-fix)

mypy:
  name: Mypy Type Checking
  entry: python -m mypy . --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  description: Type checking with mypy

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

fix: Update schema validation to V1.11 (Issue #36)
  scripts/validate_schema_consistency.py
Due: ruff-check, ruff-format, mypy

fix: Update schema validation to V1.11 (Issue #36) (#100)
  scripts/validate_schema_consistency.py
Due: ruff-check, ruff-format, mypy

docs: Phase 1.5 completion documentation (Step 8 - Archive & Version Management)
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/MASTER_INDEX_V2.29.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/phase-completion/PHASE_1.5_COMPLETION_REPORT.md
  docs/utility/PHASE_1.5_DEFERRED_TASKS_V1.0.md
Due: validate-docs

fix: Improve SCD validation accuracy and defer 21 violations to Phase 2
  docs/utility/PHASE_1.5_DEFERRED_TASKS_V1.0.md
  scripts/validate_scd_queries.py
  scripts/validation_config.yaml
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Add Pattern 18 (Avoid Technical Debt - Fix Root Causes, Not Symptoms)
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
Due: validate-docs

docs: Complete Phase 1.5 Step 7 - AI Code Review Analysis (100% coverage)
  docs/phase-completion/PHASE_1.5_AI_CODE_REVIEW_TRIAGE_REPORT.md
  docs/phase-completion/PHASE_1.5_COMPLETION_REPORT.md
Due: validate-docs

docs: Session 3 comprehensive documentation - user guides and test audit
  CLAUDE.md
  docs/foundation/MASTER_INDEX_V2.30.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/CONFIG_LOADER_USER_GUIDE_V1.0.md
  docs/guides/KALSHI_CLIENT_USER_GUIDE_V1.0.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.0.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.0.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.0.md
  docs/testing/COMPREHENSIVE_TEST_AUDIT_PHASE_1.5_V1.0.md
Due: validate-docs

docs: Session 3 comprehensive documentation - user guides and test audit (#122)
  CLAUDE.md
  docs/foundation/DEVELOPMENT_PHASES_V1.5.md
  docs/foundation/MASTER_INDEX_V2.30.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/CONFIG_LOADER_USER_GUIDE_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.5.md
  docs/guides/KALSHI_CLIENT_USER_GUIDE_V1.0.md
  docs/guides/KALSHI_MARKET_TERMINOLOGY_GUIDE_V1.0.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.0.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.0.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.0.md
  docs/phase-completion/PHASE_1.5_AI_CODE_REVIEW_TRIAGE_REPORT.md
  docs/phase-completion/PHASE_1.5_COMPLETION_REPORT.md
  docs/testing/COMPREHENSIVE_TEST_AUDIT_PHASE_1.5_V1.0.md
  docs/utility/PHASE_1.5_DEFERRED_TASKS_V1.0.md
  scripts/validate_scd_queries.py
  scripts/validation_config.yaml
Due: validate-docs, ruff-check, ruff-format, mypy

fix: SESSION 4 Warning Debt Reduction (ResourceWarning + Hypothesis Decimal)
  scripts/warning_baseline.json
  src/precog/utils/logger.py
  tests/property/test_config_validation_properties.py
  tests/property/test_edge_detection_properties.py
  tests/property/test_kelly_criterion_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: SESSION 4 Warning Debt Reduction (ResourceWarning + Hypothesis Decimal) (#123)
  scripts/warning_baseline.json
  src/precog/utils/logger.py
  tests/property/test_config_validation_properties.py
  tests/property/test_edge_detection_properties.py
  tests/property/test_kelly_criterion_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Document Patterns 19-21 and map test gaps to GitHub issues
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/MASTER_INDEX_V2.31.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.9.md
  docs/testing/TEST_GAP_GITHUB_ISSUE_MAPPING_V1.0.md
Due: validate-docs

docs: Document Patterns 19-21 and map test gaps to GitHub issues (#133)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/MASTER_INDEX_V2.31.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.9.md
  docs/testing/TEST_GAP_GITHUB_ISSUE_MAPPING_V1.0.md
Due: validate-docs

feat: Add list_strategies() method with flexible filtering
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.0.md
  src/precog/trading/strategy_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Add list_strategies() method with flexible filtering (#134)
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.0.md
  src/precog/trading/strategy_manager.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Implement Kalshi sub-penny pricing (GitHub #124 - Parts 1-6)
  docs/api-integration/KALSHI_SUBPENNY_PRICING_IMPLEMENTATION_V1.0.md
  docs/foundation/MASTER_INDEX_V2.32.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  src/precog/api_connectors/kalshi_client.py
  tests/cassettes/kalshi_get_balance.yaml
  tests/cassettes/kalshi_get_fills.yaml
  tests/cassettes/kalshi_get_markets.yaml
  tests/cassettes/kalshi_get_positions.yaml
  tests/cassettes/kalshi_get_settlements.yaml
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

docs: Add Pattern 22 (VCR Pattern for Real API Responses) to Development Patterns (GitHub #124.9)
  docs/guides/DEVELOPMENT_PATTERNS_V1.10.md
Due: validate-docs

docs: Update manager user guides V1.0 → V1.1 with Future Enhancements
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/DEVELOPMENT_PHASES_V1.6.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.33.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
Due: validate-docs

docs: Add Pattern 22 (VCR Pattern) to Development Patterns (GitHub #124.9) (#138)
  docs/api-integration/KALSHI_SUBPENNY_PRICING_IMPLEMENTATION_V1.0.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/DEVELOPMENT_PHASES_V1.6.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.33.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.10.md
  docs/guides/MODEL_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/POSITION_MANAGER_USER_GUIDE_V1.1.md
  docs/guides/STRATEGY_MANAGER_USER_GUIDE_V1.1.md
  src/precog/api_connectors/kalshi_client.py
  tests/cassettes/kalshi_get_balance.yaml
  tests/cassettes/kalshi_get_fills.yaml
  tests/cassettes/kalshi_get_markets.yaml
  tests/cassettes/kalshi_get_positions.yaml
  tests/cassettes/kalshi_get_settlements.yaml
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

test: Add explicit db_cursor fixtures for Pattern 13 compliance (GitHub #124.8)
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/cli/test_cli_database_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

test: Add explicit db_cursor fixtures for Pattern 13 compliance (GitHub #124.8) (#136)
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/cli/test_cli_database_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add 5 supplementary specs and guides for Phase 3+ automation
  docs/foundation/MASTER_INDEX_V2.34.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.0.md
  docs/guides/EDGE_CALCULATION_GUIDE_V1.0.md
  docs/guides/MODEL_TRAINING_GUIDE_V1.0.md
  docs/supplementary/AB_TESTING_FRAMEWORK_SPEC_V1.0.md
  docs/supplementary/STRATEGY_EVALUATION_SPEC_V1.0.md
Due: validate-docs

fix: Remove strategies/models from SCD Type 2 validation (immutable versioning)
  scripts/validate_scd_queries.py
Due: ruff-check, ruff-format, mypy

fix: Add row_current_ind filters to 12 SCD Type 2 queries
  src/precog/trading/position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Add row_current_ind filters to SCD Type 2 queries (Pattern 2) (#139)
  scripts/validate_scd_queries.py
  src/precog/trading/position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

docs: Add 5 supplementary specs and guides for Phase 3+ automation (#140)
  docs/foundation/MASTER_INDEX_V2.34.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.0.md
  docs/guides/EDGE_CALCULATION_GUIDE_V1.0.md
  docs/guides/MODEL_TRAINING_GUIDE_V1.0.md
  docs/supplementary/AB_TESTING_FRAMEWORK_SPEC_V1.0.md
  docs/supplementary/STRATEGY_EVALUATION_SPEC_V1.0.md
Due: validate-docs

refactor: Improve SCD Type 2 validation to skip docstring parameters
  scripts/validate_scd_queries.py
Due: ruff-check, ruff-format, mypy

feat: Add property tests for Kalshi API client and auth (Issue #127)
  tests/property/api_connectors/test_kalshi_client_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Align property test requirements with Issue #127 scope
  scripts/check_warning_debt.py
  scripts/validation_config.yaml
Due: validate-docs, ruff-check, ruff-format, mypy

docs: Add Pattern 23 for validation failure handling (V1.10→V1.11)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/MASTER_INDEX_V2.34.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.11.md
Due: validate-docs

test: Add comprehensive security test suite (Issue #129)
  tests/security/__init__.py
  tests/security/test_connection_security.py
  tests/security/test_credential_masking.py
  tests/security/test_sql_injection.py
Due: ruff-check, ruff-format, mypy

fix: Eliminate SCD Type 2 validation false positives and add property tests (Issue #127) (#141)
  scripts/check_warning_debt.py
  scripts/validate_scd_queries.py
  scripts/validation_config.yaml
  tests/property/api_connectors/test_kalshi_client_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

chore: Update warning baseline for security test suite
  scripts/warning_baseline.json
Due: none

feat: Implement 10 deferred tasks and close 30 GitHub issues (rounds 2-3)
  docs/foundation/MASTER_INDEX_V2.35.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/guides/COLUMN_RENAME_DEPRECATION_PATTERN_V1.0.md
  main.py
  src/precog/analytics/model_manager.py
  src/precog/database/crud_operations.py
  src/precog/database/migrations/migration_024_historical_query_indexes.py
  src/precog/database/migrations/migration_025_unique_display_order_constraints.py
  src/precog/trading/strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

feat: Round 5 implementations - 10 issues closed
  database/queries/check_view_staleness.sql
  main.py
  src/precog/analytics/__init__.py
  src/precog/analytics/types.py
  src/precog/config/config_loader.py
  src/precog/database/migrations/migration_utils.py
  src/precog/trading/__init__.py
  src/precog/trading/kelly_criterion.py
  src/precog/trading/types.py
  tests/integration/database/__init__.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/test_kelly_criterion_properties.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_check_warning_debt.py
  tests/unit/scripts/test_validate_schema_consistency.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve S608 and S110 security scan failures
  .github/workflows/ci.yml
  src/precog/database/migrations/migration_025_unique_display_order_constraints.py
  src/precog/database/migrations/migration_utils.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

Round 5: Close 10 issues via implementation (#143)
  .github/workflows/ci.yml
  database/queries/check_view_staleness.sql
  docs/foundation/ARCHITECTURE_DECISIONS_V2.21.md
  docs/foundation/MASTER_INDEX_V2.35.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  docs/foundation/TESTING_STRATEGY_V3.1.md
  docs/guides/COLUMN_RENAME_DEPRECATION_PATTERN_V1.0.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.11.md
  main.py
  scripts/warning_baseline.json
  src/precog/analytics/__init__.py
  src/precog/analytics/model_manager.py
  src/precog/analytics/types.py
  src/precog/config/config_loader.py
  src/precog/database/crud_operations.py
  src/precog/database/migrations/migration_024_historical_query_indexes.py
  src/precog/database/migrations/migration_025_unique_display_order_constraints.py
  src/precog/database/migrations/migration_utils.py
  src/precog/trading/__init__.py
  src/precog/trading/kelly_criterion.py
  src/precog/trading/strategy_manager.py
  src/precog/trading/types.py
  tests/integration/database/__init__.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/test_kelly_criterion_properties.py
  tests/security/__init__.py
  tests/security/test_connection_security.py
  tests/security/test_credential_masking.py
  tests/security/test_sql_injection.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_check_warning_debt.py
  tests/unit/scripts/test_validate_schema_consistency.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Eliminate all 117 Mypy type errors (87% warning reduction)
  .github/workflows/ci.yml
  docs/guides/DEVELOPMENT_PATTERNS_V1.11.md
  main.py
  pyproject.toml
  scripts/warning_baseline.json
  src/precog/api_connectors/types.py
  src/precog/database/migrations/migration_025_unique_display_order_constraints.py
  tests/conftest.py
  tests/fixtures/api_responses.py
  tests/fixtures/factories.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/integration/cli/test_cli_database_integration.py
  tests/integration/database/test_migration_idempotency.py
  tests/property/test_database_crud_properties.py
  tests/property/test_strategy_versioning_properties.py
  tests/security/test_connection_security.py
  tests/security/test_credential_masking.py
  tests/security/test_sql_injection.py
  tests/test_attribution.py
  tests/test_attribution_comprehensive.py
  tests/test_crud_operations.py
  tests/test_database_connection.py
  tests/test_decimal_properties.py
  tests/unit/analytics/test_model_manager.py
  tests/unit/api_connectors/test_kalshi_client.py
  tests/unit/scripts/test_validate_schema_consistency.py
  tests/unit/test_main.py
  tests/unit/trading/test_strategy_manager.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production

fix: Replace Unicode arrow with ASCII in log messages (Pattern 5 compliance)
  src/precog/analytics/model_manager.py
  src/precog/trading/strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

fix: Resolve MASTER_INDEX documentation gaps (Issue #130)
  docs/foundation/MASTER_INDEX_V2.36.md
  docs/foundation/MASTER_REQUIREMENTS_V2.18.md
  scripts/validate_docs.py
Due: validate-docs, ruff-check, ruff-format, mypy

feat: Add E2E and stress tests for Issues #125, #126, #128
  pyproject.toml
  pytest.ini
  tests/e2e/__init__.py
  tests/e2e/analytics/__init__.py
  tests/e2e/analytics/test_model_manager_e2e.py
  tests/e2e/api_connectors/__init__.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/e2e/api_connectors/test_kalshi_e2e.py
  tests/e2e/trading/__init__.py
  tests/e2e/trading/test_kelly_criterion_e2e.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/e2e/trading/test_strategy_manager_e2e.py
  tests/stress/__init__.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_logger_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$
