Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

feat: Add per-league adaptive polling for ESPN rate limit compliance
  src/precog/schedulers/espn_game_poller.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Address code review findings for per-league polling
  src/precog/schedulers/espn_game_poller.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update tests for per-league polling compatibility
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/schedulers/test_market_updater.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Prevent integration CLI tests from starting real pollers
  tests/integration/cli/test_cli_scheduler_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Move initial polls outside lock to prevent deadlock
  src/precog/schedulers/espn_game_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Resolve deadlock and test compatibility for per-league polling
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add per_league_polling=False to remaining e2e and integration tests
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update factory test to verify per-league DISCOVERY interval behavior
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use faster poll intervals in integration tests for parallel reliability
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add per_league_polling=False to stress and chaos tests
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add per_league_polling=False to property tests
  tests/property/schedulers/test_espn_game_poller_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

chore: Lower coverage threshold to 44% temporarily
  pyproject.toml
Due: none

feat: Add ESPN team ID validation and fix corrupted IDs
  scripts/fix_espn_ids.sql
  scripts/fix_espn_team_ids.py
  src/precog/api_connectors/espn_team_validator.py
  src/precog/database/alembic/versions/0017_add_espn_team_id_league_unique_constraint.py
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/schedulers/espn_game_poller.py
  tests/unit/api_connectors/test_espn_team_validator.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Auto-create missing teams, improve logging and shutdown for 24/7 operation
  src/precog/api_connectors/espn_team_validator.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/cli/scheduler.py
  src/precog/config/system.yaml
  src/precog/database/__init__.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/base_poller.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/utils/logger.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Resolve CI failures — register espn_team_validator module and relax start latency threshold
  scripts/audit_test_type_coverage.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Classify espn_team_validator as business tier (not experimental)
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Only redirect test logs to subdirectory for default log path
  src/precog/utils/logger.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

feat: Prevent Windows sleep during long-running data collection
  src/precog/runners/service_runner.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: Replace UNIQUE(team_code, sport) with partial index for pro leagues
  src/precog/analytics/elo_computation_service.py
  src/precog/database/alembic/versions/0018_replace_team_code_sport_unique_with_partial.py
  src/precog/database/crud_operations.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/seeding_manager.py
  src/precog/database/seeds/008_ncaaw_teams.sql
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/database/seeds/010_mls_teams.sql
  tests/e2e/database/seeding/test_seeding_manager_e2e.py
  tests/fixtures/testcontainers_fixtures.py
  tests/integration/database/seeding/test_batch_error_handling_integration.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: ESPN-ID-first validator lookup and periodic team validation
  src/precog/api_connectors/espn_team_validator.py
  src/precog/schedulers/espn_game_poller.py
  tests/unit/api_connectors/test_espn_team_validator.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Land ADR-113 (FastAPI web backend) and declare Two-Era model
  docs/foundation/ARCHITECTURE_DECISIONS_V2.33.md
  docs/foundation/DEVELOPMENT_PHASES_V1.15.md
Due: validate-docs

feat: Add sleep prevention, startup validation, and heartbeat logging for soak tests
  src/precog/cli/scheduler.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Resolve mypy unreachable-code error on Linux CI
  src/precog/cli/scheduler.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: ESPN validator ping-pong, sleep prevention, and supervisor metrics
  src/precog/api_connectors/espn_team_validator.py
  src/precog/cli/scheduler.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/api_connectors/test_espn_team_validator.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Prevent ESPN validator cascade corruption for shared team codes
  src/precog/api_connectors/espn_team_validator.py
  tests/unit/api_connectors/test_espn_team_validator.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Desktop migration Part 1 — ThreadedConnectionPool, dead code removal, migration guide
  CLAUDE.md
  docs/guides/DESKTOP_MIGRATION_GUIDE_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/database/connection.py
  src/precog/runners/__init__.py
  src/precog/runners/service_runner.py
  tests/chaos/runners/test_service_runner_chaos.py
  tests/e2e/runners/test_service_runner_e2e.py
  tests/integration/runners/test_service_runner_integration.py
  tests/performance/runners/test_service_runner_performance.py
  tests/property/runners/test_service_runner_properties.py
  tests/security/test_connection_security.py
  tests/stress/database/test_connection_race.py
  tests/stress/runners/test_service_runner_race.py
  tests/stress/runners/test_service_runner_stress.py
  tests/unit/runners/test_service_runner.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Handle ThreadedConnectionPool concurrent close in race test
  tests/stress/database/test_connection_race.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Update migration guide V1.1 — GPU setup, remote dev, Kalshi mode fix
  docs/guides/DESKTOP_MIGRATION_GUIDE_V1.0.md
Due: validate-docs

docs: Fix guide accuracy — stale credentials, polling, cross-refs (#356)
  docs/guides/CONFIGURATION_GUIDE_V3.1.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/ENVIRONMENT_CONFIGURATION_GUIDE_V1.0.md
  docs/guides/ESPN_DATA_MODEL_V1.0.md
  docs/guides/LIVE_DATA_INTEGRATION_GUIDE_V1.1.md
  docs/guides/MANAGER_ARCHITECTURE_GUIDE_V1.0.md
  src/precog/schedulers/espn_game_poller.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

chore: Repository cleanup — untrack archives, remove stale files, consolidate dirs
  _archive/CLAUDE_PROMPT_PRECOG_V1.md
  _archive/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  _archive/DOCUMENT_MAINTENANCE_LOG.md
  _archive/PHASE_1.5_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_1.9_TEST_INFRASTRUCTURE_PLAN_V1.0.md
  _archive/PHASE_1_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_2.5_DEFERRED_TASKS_V1.3.md
  _archive/PHASE_2_TEST_COVERAGE_GAPS_V1.0.md
  _archive/PHASE_4_DEFERRED_TASKS_V1.0.md
  _archive/PROJECT_STATUS.md
  _archive/SESSION_SUMMARY_2025-11-09.md
  _archive/SESSION_SUMMARY_2025-11-21.md
  _archive/SESSION_WORKFLOW_GUIDE_V1.2.md
  _archive/STRATEGIC_WORK_ROADMAP_V1.1.md
  _archive/TESTING_GAPS_ANALYSIS.md
  _archive/TOKEN_MONITORING_PROTOCOL.md
  _debug_validate_docs.txt
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/supplementary/SPORTS_WIN_PROBABILITIES_RESEARCH.md
  docs/utility/CODE_REVIEW_TEMPLATE_V1.0.md
  docs/utility/ENFORCEMENT_MAINTENANCE_GUIDE.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  docs/utility/TDD_FAILURE_ROOT_CAUSE_ANALYSIS_V1.0.md
  docs/utility/TECH_STACK_OPTIONS.md
  docs/utility/WARNING_DEBT_TRACKER.md
  docs_files_list.txt
  docs_structure.txt
  railway.toml
  requirements-phase1.txt
Due: validate-docs

docs: Add patterns for ESPN ID stability and settled market semantics
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
  src/precog/database/crud_operations.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore: Repository cleanup — untrack archives, remove stale files, consolidate dirs (#360)
  _archive/CLAUDE_PROMPT_PRECOG_V1.md
  _archive/DOCUMENTATION_WORKFLOW_GUIDE_V1.0.md
  _archive/DOCUMENT_MAINTENANCE_LOG.md
  _archive/PHASE_1.5_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_1.9_TEST_INFRASTRUCTURE_PLAN_V1.0.md
  _archive/PHASE_1_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_1_PR_REVIEW_DEFERRED_TASKS_V1.0.md
  _archive/PHASE_2.5_DEFERRED_TASKS_V1.3.md
  _archive/PHASE_2_TEST_COVERAGE_GAPS_V1.0.md
  _archive/PHASE_4_DEFERRED_TASKS_V1.0.md
  _archive/PROJECT_STATUS.md
  _archive/SESSION_SUMMARY_2025-11-09.md
  _archive/SESSION_SUMMARY_2025-11-21.md
  _archive/SESSION_WORKFLOW_GUIDE_V1.2.md
  _archive/STRATEGIC_WORK_ROADMAP_V1.1.md
  _archive/TESTING_GAPS_ANALYSIS.md
  _archive/TOKEN_MONITORING_PROTOCOL.md
  _debug_validate_docs.txt
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/supplementary/SPORTS_WIN_PROBABILITIES_RESEARCH.md
  docs/utility/CODE_REVIEW_TEMPLATE_V1.0.md
  docs/utility/ENFORCEMENT_MAINTENANCE_GUIDE.md
  docs/utility/ESPN_DATA_MODEL_IMPLEMENTATION_PLAN_V1.0.md
  docs/utility/TDD_FAILURE_ROOT_CAUSE_ANALYSIS_V1.0.md
  docs/utility/TECH_STACK_OPTIONS.md
  docs/utility/WARNING_DEBT_TRACKER.md
  docs_files_list.txt
  docs_structure.txt
  railway.toml
  requirements-phase1.txt
Due: validate-docs

docs: Add patterns for ESPN ID stability and settled market semantics (#361)
  docs/guides/DEVELOPMENT_PATTERNS_V1.23.md
  src/precog/database/crud_operations.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add examples to system CLI commands and enforce self-documenting CLI
  src/precog/cli/system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Correct price semantics — widen bounds, clarify ask vs probability
  docs/api-integration/KALSHI_DECIMAL_PRICING_CHEAT_SHEET_V1.0.md
  src/precog/api_connectors/types.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/trading/position_manager.py
  tests/unit/trading/test_position_manager_trailing_stops.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update integration tests for widened price bounds [0.00, 1.00]
  tests/integration/trading/test_position_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update chaos boundary tests for widened price range [0.00, 1.00]
  tests/chaos/trading/test_position_manager_chaos.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update property tests for widened current_price range [0.00, 1.00]
  tests/property/trading/test_position_manager_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Lower flaky stress test thresholds for parallel test execution
  tests/stress/test_config_loader_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check
