Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

docs: Add Pattern 32 (Windows subprocess pipe deadlock) and enhance Pattern 28
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.20.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.0.md
Due: validate-docs

docs: Add Pattern 32 (Windows subprocess pipe deadlock) and enhance Pattern 28 (#243)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/REQUIREMENT_INDEX_V1.14.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.20.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.0.md
Due: validate-docs

feat: Add migration 0008 for execution_environment column (ADR-107)
  docs/foundation/ADR_INDEX_V1.23.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.20.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.1.md
  src/precog/database/_archived_legacy_migrations/README.md
  src/precog/database/alembic/versions/0008_add_execution_environment_column.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix(mypy): Address 38 type errors in test suite (Issue #239)
  tests/chaos/api_connectors/test_espn_client_chaos.py
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
  tests/chaos/trading/test_strategy_manager_chaos.py
  tests/chaos/validation/test_espn_validation_chaos.py
  tests/conftest.py
  tests/e2e/schedulers/test_base_poller_e2e.py
  tests/fixtures/factories.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/property/database/seeding/test_historical_elo_loader_properties.py
  tests/race/database/seeding/test_seeding_manager_race.py
  tests/race/schedulers/test_espn_game_poller_race.py
  tests/stress/database/seeding/test_seeding_manager_stress.py
  tests/stress/database/test_lookup_helpers_race.py
  tests/stress/test_crud_operations_stress.py
  tests/test_decimal_properties.py
  tests/unit/database/seeding/test_base_source.py
  tests/unit/database/seeding/test_betting_csv_source.py
  tests/unit/database/seeding/test_historical_elo_loader.py
  tests/unit/database/seeding/test_historical_games_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
  tests/unit/validation/test_espn_validation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add migration 0008 for execution_environment column (ADR-107) (#244)
  docs/foundation/ADR_INDEX_V1.23.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.30.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.20.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.1.md
  src/precog/database/_archived_legacy_migrations/README.md
  src/precog/database/alembic/versions/0008_add_execution_environment_column.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix(mypy): Continue mypy tech debt reduction (235->168 errors)
  pyproject.toml
  src/precog/cli/scheduler.py
  test-results-ubuntu-latest-py3.12/test_results/README.md
  test-results-ubuntu-latest-py3.13/test_results/README.md
  test-results-ubuntu-latest-py3.14/test_results/README.md
  test-results-windows-latest-py3.12/test_results/README.md
  test-results-windows-latest-py3.13/test_results/README.md
  test-results-windows-latest-py3.14/test_results/README.md
  test-type-coverage-report/test_type_coverage.json
  tests/chaos/trading/test_strategy_manager_chaos.py
  tests/chaos/validation/test_kalshi_validation_chaos.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/e2e/schedulers/test_base_poller_e2e.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/e2e/schedulers/test_kalshi_websocket_e2e.py
  tests/e2e/schedulers/test_market_data_manager_e2e.py
  tests/e2e/trading/test_position_manager_e2e.py
  tests/e2e/validation/test_kalshi_validation_e2e.py
  tests/integration/analytics/test_model_manager.py
  tests/integration/database/test_crud_operations_integration.py
  tests/integration/schedulers/test_base_poller_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
  tests/integration/schedulers/test_service_supervisor_integration.py
  tests/integration/validation/test_kalshi_validation_integration.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/unit/database/seeding/test_seeding_manager.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_service_supervisor.py
  tests/unit/scripts/test_check_warning_debt.py
  tests/unit/scripts/test_seed_multi_sport_teams.py
  tests/unit/validation/test_espn_validation.py
  tests/unit/validation/test_kalshi_validation.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Complete mypy tech debt - zero type errors (Issue #239)
  pyproject.toml
  src/precog/api_connectors/espn_client.py
  tests/chaos/schedulers/test_base_poller_chaos.py
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/chaos/schedulers/test_service_supervisor_chaos.py
  tests/chaos/trading/test_strategy_manager_chaos.py
  tests/chaos/validation/test_espn_validation_chaos.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/database/test_crud_operations_e2e.py
  tests/e2e/schedulers/test_kalshi_websocket_e2e.py
  tests/e2e/schedulers/test_market_data_manager_e2e.py
  tests/e2e/validation/test_espn_validation_e2e.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/api_connectors/test_espn_client_integration.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/database/test_crud_operations_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
  tests/integration/schedulers/test_kalshi_websocket_integration.py
  tests/integration/schedulers/test_market_data_manager_integration.py
  tests/integration/validation/test_espn_validation_integration.py
  tests/performance/api_connectors/test_espn_client_performance.py
  tests/performance/schedulers/test_market_data_manager_performance.py
  tests/performance/trading/test_position_manager_performance.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/property/config/test_config_loader_properties.py
  tests/property/validation/test_espn_validation_properties.py
  tests/race/analytics/test_model_manager_race.py
  tests/race/database/seeding/test_seeding_manager_race.py
  tests/race/schedulers/test_espn_game_poller_race.py
  tests/stress/runners/test_service_runner_race.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/unit/analytics/test_model_manager_unit.py
  tests/unit/api_connectors/test_kalshi_client.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/validation/test_kalshi_validation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add ADR-108 Hybrid Cloud Architecture + Phase 2.5/3.5 updates (#247)
  docs/foundation/ADR-108_Hybrid_Cloud_Architecture.md
  docs/foundation/ADR_INDEX_V1.24.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.31.md
  docs/foundation/DEVELOPMENT_PHASES_V1.12.md
  docs/foundation/DEVELOPMENT_PHILOSOPHY_V1.3.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.22.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  tests/chaos/trading/test_strategy_manager_chaos.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update property test to handle Unicode whitespace stripping
  tests/property/trading/test_strategy_manager_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Integrate execution_environment column in CRUD operations (Issue #242)
  .gitignore
  src/precog/database/__init__.py
  src/precog/database/crud_operations.py
  tests/test_crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add StatsRecord/RankingRecord infrastructure (Issue #236)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.31.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.23.md
  docs/foundation/REQUIREMENT_INDEX_V1.15.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0009_add_historical_stats_and_rankings.py
  src/precog/database/seeding/sources/__init__.py
  src/precog/database/seeding/sources/base_source.py
  src/precog/database/seeding/sources/nfl_data_py_source.py
  tests/unit/database/seeding/test_base_source.py
  tests/unit/database/seeding/test_nfl_data_py_source.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Integrate execution_environment column in CRUD operations (Issue #242) (#250)
  .gitignore
  src/precog/database/__init__.py
  src/precog/database/crud_operations.py
  tests/test_crud_operations.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add StatsRecord/RankingRecord infrastructure (Issue #236) (#251)
  docs/foundation/ARCHITECTURE_DECISIONS_V2.31.md
  docs/foundation/MASTER_INDEX_V2.50.md
  docs/foundation/MASTER_REQUIREMENTS_V2.23.md
  docs/foundation/REQUIREMENT_INDEX_V1.15.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  scripts/audit_test_type_coverage.py
  src/precog/cli/data.py
  src/precog/database/alembic/versions/0009_add_historical_stats_and_rankings.py
  src/precog/database/seeding/sources/__init__.py
  src/precog/database/seeding/sources/base_source.py
  src/precog/database/seeding/sources/nfl_data_py_source.py
  tests/unit/database/seeding/test_base_source.py
  tests/unit/database/seeding/test_nfl_data_py_source.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Add DATABASE_ENVIRONMENT_GUIDE for data seeding architecture
  docs/foundation/MASTER_INDEX_V2.51.md
  docs/foundation/MASTER_REQUIREMENTS_V2.23.md
  docs/guides/DATABASE_ENVIRONMENT_GUIDE_V1.0.md
  docs/guides/DATABASE_ENVIRONMENT_STRATEGY_V1.0.md
Due: validate-docs

feat: Add Railway deployment configuration
  .dockerignore
  Dockerfile
  railway.toml
Due: none

feat: Add Railway deployment configuration (Issue #248) (#261)
  .dockerignore
  Dockerfile
  docs/foundation/MASTER_INDEX_V2.51.md
  docs/foundation/MASTER_REQUIREMENTS_V2.23.md
  docs/guides/DATABASE_ENVIRONMENT_GUIDE_V1.0.md
  docs/guides/DATABASE_ENVIRONMENT_STRATEGY_V1.0.md
  railway.toml
Due: validate-docs

docs: Update README with installation instructions for multiple environments
  README.md
Due: validate-docs

refactor: Remove additional development artifacts from git tracking
  .gitignore
  PHASE_CHECKLISTS_AND_TEMPLATES.md
  phase05 updates/ADR_020_DEFERRED_EXECUTION.md
  phase05 updates/ADR_021_METHOD_ABSTRACTION.md
  phase05 updates/CLAUDE_CODE_HANDOFF_SUMMARY.md
  phase05 updates/CLAUDE_CODE_HANDOFF_UPDATED_V1_0.md
  phase05 updates/CLAUDE_CODE_READING_GUIDE_V1_0.md
  phase05 updates/CONFIGURATION_GUIDE_UPDATE_SPEC_V1_0.md
  phase05 updates/ORDER_EXECUTION_ARCHITECTURE_ASSESSMENT_V1_0.md
  phase05 updates/PHASE_0_5_COMPREHENSIVE_HANDOFF_V1_0.md
  phase05 updates/PHASE_5_EVENT_LOOP_ARCHITECTURE_V1_0.md
  phase05 updates/PHASE_5_EXIT_EVALUATION_SPEC_V1_0.md
  phase05 updates/PHASE_5_POSITION_MONITORING_SPEC_V1_0.md
  phase05 updates/PHASE_8_ADVANCED_EXECUTION_SPEC.md
  phase05 updates/SESSION_7_HANDOFF.md
  phase05 updates/SESSION_8_SUMMARY.md
  phase05 updates/USER_CUSTOMIZATION_STRATEGY_V1_0.md
  phase05 updates/YAML_CONSISTENCY_AUDIT_V1_0.md
  test-results-ubuntu-latest-py3.12/test_results/README.md
  test-results-ubuntu-latest-py3.13/test_results/README.md
  test-results-ubuntu-latest-py3.14/test_results/README.md
  test-results-windows-latest-py3.12/test_results/README.md
  test-results-windows-latest-py3.13/test_results/README.md
  test-results-windows-latest-py3.14/test_results/README.md
  test-type-coverage-report/test_type_coverage.json
  test_warnings.txt
Due: validate-docs

fix: Remove broken cross-reference to test_results/README.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

feat: Add CRUD operations for historical_stats and historical_rankings (Issue #253)
  src/precog/database/crud_operations.py
  tests/unit/database/test_historical_data_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add CRUD operations for historical_stats and historical_rankings (Issue #253) (#263)
  src/precog/database/crud_operations.py
  tests/unit/database/test_historical_data_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add progress bars for seeding operations (Issue #254)
  scripts/audit_test_type_coverage.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/progress.py
  tests/unit/database/seeding/test_progress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add BatchInsertResult with error handling modes (Issue #255)
  scripts/audit_test_type_coverage.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/batch_result.py
  src/precog/database/seeding/historical_elo_loader.py
  tests/unit/database/seeding/test_batch_result.py
  tests/unit/database/seeding/test_historical_elo_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Integrate BatchInsertResult with historical_games_loader (Issue #255)
  src/precog/database/seeding/historical_games_loader.py
  tests/unit/database/seeding/test_historical_games_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Integrate BatchInsertResult with historical_odds_loader (Issue #255)
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: Add integration tests for batch error handling modes (Issue #255)
  tests/integration/database/seeding/test_batch_error_handling_integration.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add progress bars for seeding operations (Issue #254) (#264)
  scripts/audit_test_type_coverage.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  src/precog/database/seeding/progress.py
  tests/unit/database/seeding/test_progress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update property tests for BatchInsertResult API (Issue #255)
  tests/property/database/seeding/test_historical_elo_loader_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update performance test and tier config for BatchInsertResult API (Issue #255)
  scripts/audit_test_type_coverage.py
  tests/performance/database/seeding/test_historical_elo_loader_performance.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Update ADR-108 cost projections with Railway pricing analysis (Issue #256)
  docs/foundation/ADR-108_Hybrid_Cloud_Architecture.md
Due: validate-docs

feat: Issue #257 - Unified team history mapping for multi-sport relocations
  scripts/audit_test_type_coverage.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/sources/sports/nfl_data_py_adapter.py
  src/precog/database/seeding/team_history.py
  tests/unit/database/seeding/test_historical_elo_loader.py
  tests/unit/database/seeding/test_nfl_data_py_adapter.py
  tests/unit/database/seeding/test_team_history.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Issue #258 - Create shared CLI test fixtures
  tests/chaos/cli/test_cli_chaos.py
  tests/conftest.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/helpers/__init__.py
  tests/helpers/cli_helpers.py
  tests/integration/cli/test_cli_db_integration.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Correct scheduler CLI imports and add import verification tests
  pyproject.toml
  src/precog/cli/scheduler.py
  tests/unit/cli/test_cli_scheduler.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Issue #258 - Create shared CLI test fixtures + Fix scheduler imports (#269)
  pyproject.toml
  src/precog/cli/scheduler.py
  tests/chaos/cli/test_cli_chaos.py
  tests/conftest.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/helpers/__init__.py
  tests/helpers/cli_helpers.py
  tests/integration/cli/test_cli_db_integration.py
  tests/performance/validation/test_espn_validation_performance.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/cli/test_cli_system.py
  tests/unit/test_main.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Issue #268 - Add Textual TUI scaffold
  pyproject.toml
  src/precog/cli/__init__.py
  src/precog/tui/__init__.py
  src/precog/tui/app.py
  src/precog/tui/screens/__init__.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/styles/precog_dark.tcss
  src/precog/tui/widgets/__init__.py
  src/precog/tui/widgets/header.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Populate series_id when creating events in KalshiMarketPoller
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check
