Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

fix: Create fallback series records when Kalshi API is unreachable
  src/precog/schedulers/kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add importorskip guards for TUI tests and exclude TUI from CI mypy
  scripts/validate_quick.sh
  tests/unit/tui/test_tui_rendering.py
  tests/unit/tui/widgets/test_breadcrumb.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Handle silent API failures in sync_series with fallback records
  src/precog/schedulers/kalshi_poller.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add fetch_all_series() to eliminate silent series truncation
  src/precog/api_connectors/kalshi_client.py
  src/precog/database/seeding/kalshi_historical_cache.py
  src/precog/schedulers/kalshi_poller.py
  tests/integration/api_connectors/test_kalshi_series_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Drop series frequency constraint and expand ESPN e2e tests
  src/precog/database/alembic/versions/0016_drop_series_frequency_constraint.py
  src/precog/database/crud_operations.py
  tests/e2e/api_connectors/test_espn_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Skip throughput tests in CI, fix ESPN mock, register TUI modules
  scripts/audit_test_type_coverage.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/performance/trading/test_kelly_criterion_performance.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Drop series frequency constraint and expand ESPN e2e tests (#296)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0016_drop_series_frequency_constraint.py
  src/precog/database/crud_operations.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/performance/trading/test_kelly_criterion_performance.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Replace broken pagination in fetch_and_cache_markets() (#291)
  src/precog/database/seeding/kalshi_historical_cache.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Implement get_active_market_count() with CRUD query
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Switch poller to fetch_all_markets() to eliminate 200-market truncation
  src/precog/schedulers/kalshi_poller.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/performance/schedulers/test_kalshi_poller_performance.py
  tests/property/schedulers/test_kalshi_poller_properties.py
  tests/stress/schedulers/test_kalshi_poller_race.py
  tests/stress/schedulers/test_kalshi_poller_stress.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Seed 66 missing NCAAF teams and add 'determined' status mapping
  src/precog/database/seeds/006_ncaaf_teams.sql
  src/precog/schedulers/kalshi_poller.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/property/schedulers/test_kalshi_poller_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Expand default polling to NFL, NCAAF, and NBA
  src/precog/cli/scheduler.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/market_data_manager.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Expand default polling to NFL, NCAAF, and NBA
  src/precog/cli/scheduler.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/market_data_manager.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_market_updater.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Separate supervisor deployment env from Kalshi API env
  src/precog/cli/scheduler.py
  src/precog/schedulers/service_supervisor.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Thread CLI parameters through to supervisor service factories
  src/precog/cli/scheduler.py
  src/precog/schedulers/service_supervisor.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Correct rate limits, polling intervals, and scheduler status persistence
  src/precog/api_connectors/espn_client.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/rate_limiter.py
  src/precog/cli/scheduler.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/base_poller.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/service_supervisor.py
  src/precog/tui/screens/settings.py
  src/precog/utils/logger.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
  tests/property/schedulers/test_kalshi_poller_properties.py
  tests/unit/api_connectors/test_espn_client.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_market_updater.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update integration/e2e tests for new rate limits and polling intervals
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update remaining ESPN e2e tests for MIN_POLL_INTERVAL=15
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update ESPN property test strategy for MIN_POLL_INTERVAL=15
  tests/property/schedulers/test_espn_game_poller_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Prevent orphaned APScheduler threads from leaking between tests (#292)
  src/precog/schedulers/base_poller.py
  src/precog/schedulers/espn_game_poller.py
  tests/conftest.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use non-blocking pool.shutdown() to prevent indefinite hangs (#292)
  src/precog/schedulers/base_poller.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add CI skip guards for stress and chaos tests (#292)
  tests/chaos/conftest.py
  tests/stress/conftest.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Correct mock targets in CLI stress tests to prevent SSL hangs
  tests/stress/cli/test_cli_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Enable stress/chaos tests in CI with selective skip (70 of 74 files)
  .github/workflows/ci.yml
  tests/chaos/conftest.py
  tests/stress/conftest.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_logger_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Refine CI skip from file-level to class/test-level, recovering 174 tests
  tests/chaos/conftest.py
  tests/chaos/schedulers/test_base_poller_chaos.py
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/stress/conftest.py
  tests/stress/schedulers/test_base_poller_stress.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Address pre-MVP Analyst audit findings (4 issues)
  .github/workflows/ci.yml
  src/precog/schedulers/__init__.py
  src/precog/schedulers/espn_game_poller.py
  tests/conftest.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/schedulers/test_market_updater.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Accept decimal clock format (e.g., "47.9") in ESPN e2e test
  tests/e2e/api_connectors/test_espn_e2e.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Correct rate limits, polling intervals, and scheduler persistence (#304)
  .github/workflows/ci.yml
  src/precog/api_connectors/espn_client.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/rate_limiter.py
  src/precog/cli/scheduler.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/__init__.py
  src/precog/schedulers/base_poller.py
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/service_supervisor.py
  src/precog/tui/screens/settings.py
  src/precog/utils/logger.py
  tests/chaos/conftest.py
  tests/chaos/schedulers/test_base_poller_chaos.py
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/conftest.py
  tests/e2e/api_connectors/test_espn_e2e.py
  tests/e2e/schedulers/test_espn_game_poller_e2e.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/integration/api_connectors/test_kalshi_client_integration.py
  tests/integration/schedulers/test_espn_game_poller_integration.py
  tests/property/schedulers/test_espn_game_poller_properties.py
  tests/property/schedulers/test_kalshi_poller_properties.py
  tests/stress/cli/test_cli_stress.py
  tests/stress/conftest.py
  tests/stress/schedulers/test_base_poller_stress.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_logger_stress.py
  tests/unit/api_connectors/test_espn_client.py
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_market_updater.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use quiet mode for stress/chaos CI and increase step timeout
  .github/workflows/ci.yml
Due: validate-docs

fix: Move stress/chaos tests to pre-push only, collection-only in CI
  .github/workflows/ci.yml
Due: validate-docs

perf: Optimize CI pipeline and reduce stress/chaos test iterations
  .github/workflows/ci.yml
  CLAUDE.md
  tests/chaos/api_connectors/test_kalshi_auth_chaos.py
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
  tests/chaos/database/test_lookup_helpers_chaos.py
  tests/chaos/schedulers/test_base_poller_chaos.py
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/chaos/schedulers/test_kalshi_websocket_chaos.py
  tests/chaos/validation/test_espn_validation_chaos.py
  tests/stress/analytics/test_model_manager_stress.py
  tests/stress/api_connectors/test_espn_client_stress.py
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/stress/config/test_environment_chaos.py
  tests/stress/config/test_environment_stress.py
  tests/stress/database/seeding/test_historical_elo_loader_stress.py
  tests/stress/database/seeding/test_seeding_manager_stress.py
  tests/stress/database/test_initialization_stress.py
  tests/stress/database/test_lookup_helpers_stress.py
  tests/stress/runners/test_service_runner_stress.py
  tests/stress/schedulers/test_base_poller_stress.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
  tests/stress/schedulers/test_kalshi_websocket_stress.py
  tests/stress/schedulers/test_market_data_manager_stress.py
  tests/stress/schedulers/test_service_supervisor_stress.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/stress/test_logger_stress.py
  tests/stress/trading/test_kelly_criterion_stress.py
  tests/stress/trading/test_position_manager_stress.py
  tests/stress/trading/test_strategy_manager_stress.py
  tests/stress/validation/test_espn_validation_stress.py
  tests/stress/validation/test_kalshi_validation_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: Remove stress/chaos CI job (now pre-push only)
  .github/workflows/ci.yml
Due: validate-docs

fix: Update poll_interval in performance tests to respect MIN_POLL_INTERVAL=15
  tests/performance/schedulers/test_espn_game_poller_performance.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: Remove validate-quick job and optimize pre-commit to changed files only
  .github/workflows/ci.yml
Due: validate-docs

perf: Optimize CI pipeline and reduce stress/chaos test iterations (#305)
  .github/workflows/ci.yml
  CLAUDE.md
  tests/chaos/api_connectors/test_kalshi_auth_chaos.py
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
  tests/chaos/database/test_lookup_helpers_chaos.py
  tests/chaos/schedulers/test_base_poller_chaos.py
  tests/chaos/schedulers/test_espn_game_poller_chaos.py
  tests/chaos/schedulers/test_kalshi_poller_chaos.py
  tests/chaos/schedulers/test_kalshi_websocket_chaos.py
  tests/chaos/validation/test_espn_validation_chaos.py
  tests/performance/schedulers/test_espn_game_poller_performance.py
  tests/stress/analytics/test_model_manager_stress.py
  tests/stress/api_connectors/test_espn_client_stress.py
  tests/stress/api_connectors/test_espn_rate_limits.py
  tests/stress/config/test_environment_chaos.py
  tests/stress/config/test_environment_stress.py
  tests/stress/database/seeding/test_historical_elo_loader_stress.py
  tests/stress/database/seeding/test_seeding_manager_stress.py
  tests/stress/database/test_initialization_stress.py
  tests/stress/database/test_lookup_helpers_stress.py
  tests/stress/runners/test_service_runner_stress.py
  tests/stress/schedulers/test_base_poller_stress.py
  tests/stress/schedulers/test_espn_game_poller_stress.py
  tests/stress/schedulers/test_kalshi_websocket_stress.py
  tests/stress/schedulers/test_market_data_manager_stress.py
  tests/stress/schedulers/test_service_supervisor_stress.py
  tests/stress/test_config_loader_stress.py
  tests/stress/test_connection_stress.py
  tests/stress/test_crud_operations_stress.py
  tests/stress/test_logger_stress.py
  tests/stress/trading/test_kelly_criterion_stress.py
  tests/stress/trading/test_position_manager_stress.py
  tests/stress/trading/test_strategy_manager_stress.py
  tests/stress/validation/test_espn_validation_stress.py
  tests/stress/validation/test_kalshi_validation_stress.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add NBA and NHL to default polled leagues/series
  src/precog/api_connectors/espn_client.py
  src/precog/cli/scheduler.py
  src/precog/config/markets.yaml
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/market_data_manager.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_market_updater.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Relax flaky performance test thresholds for CI runner variability
  tests/performance/config/test_config_loader_performance.py
  tests/performance/schedulers/test_service_supervisor_performance.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, decimal-precision-check

feat: Add NBA and NHL to default polled leagues (#306)
  src/precog/api_connectors/espn_client.py
  src/precog/cli/scheduler.py
  src/precog/config/markets.yaml
  src/precog/schedulers/espn_game_poller.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/schedulers/market_data_manager.py
  tests/performance/config/test_config_loader_performance.py
  tests/performance/schedulers/test_service_supervisor_performance.py
  tests/unit/schedulers/test_espn_game_poller_unit.py
  tests/unit/schedulers/test_kalshi_poller.py
  tests/unit/schedulers/test_market_updater.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add Kalshi 'inactive' status mapping and safer unknown default
  src/precog/schedulers/kalshi_poller.py
  tests/e2e/schedulers/test_kalshi_poller_e2e.py
  tests/property/schedulers/test_kalshi_poller_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check
