Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

docs: #959 — ADR_INDEX V1.25 → V1.26 refresh (ADRs 110-117 + self-consistency fixes)
  docs/foundation/ADR_INDEX_V1.26.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
Due: validate-docs

fix: #952 — PositionResponse.market_id int correction (Phase 2 blocker) (#961)
  src/precog/trading/types.py
  tests/unit/trading/test_types_contracts.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #896 — first integration test type for temporal_alignment_writer (+ prod bug fix)
  src/precog/schedulers/temporal_alignment_writer.py
  tests/integration/schedulers/test_temporal_alignment_writer_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: #896 — fixture _PREFIX TEMPALI → TEST-TEMPALI for shared-cleanup compatibility
  tests/integration/schedulers/test_temporal_alignment_writer_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: #755 — scheduler shutdown discipline (DELETE-in-finally + interruptible restart backoff)
  src/precog/database/crud_schedulers.py
  src/precog/schedulers/service_supervisor.py
  tests/e2e/schedulers/test_service_supervisor_lifecycle_e2e.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: test_concurrent_help_calls flake — use per-thread CliRunner
  tests/race/cli/test_cli_system_race.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: #959 — ADR_INDEX V1.25 → V1.26 refresh (ADRs 110-117 + self-consistency fixes) (#962)
  docs/foundation/ADR_INDEX_V1.26.md
  docs/foundation/MASTER_INDEX_V2.53.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
Due: validate-docs

feat: #896 first integration test + #755 scheduler shutdown root-cause fix + CliRunner race fix (7-week flake era ends) (#967)
  src/precog/database/crud_schedulers.py
  src/precog/schedulers/service_supervisor.py
  src/precog/schedulers/temporal_alignment_writer.py
  tests/e2e/schedulers/test_service_supervisor_lifecycle_e2e.py
  tests/integration/schedulers/test_temporal_alignment_writer_integration.py
  tests/race/cli/test_cli_system_race.py
  tests/unit/schedulers/test_service_supervisor.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: ADR-118 + ADR-119 drafts (session 70 Task 5 canonical layer)
  docs/foundation/ADR_118_DRAFT_canonical_identity.md
  docs/foundation/ADR_119_DRAFT_business_key_and_weather.md
Due: validate-docs

docs: ADR-118 + ADR-119 drafts (session 70 Task 5 canonical layer) (#975)
  docs/foundation/ADR_118_DRAFT_canonical_identity.md
  docs/foundation/ADR_119_DRAFT_business_key_and_weather.md
Due: validate-docs

docs: #973 Cohort 9 — ADR-118 + ADR-119 canonical integration + Pattern 80 promotion
  CLAUDE.md
  docs/foundation/ADR_118_DRAFT_canonical_identity.md
  docs/foundation/ADR_119_DRAFT_business_key_and_weather.md
  docs/foundation/ADR_INDEX_V1.27.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.37.md
  docs/foundation/MASTER_INDEX_V2.54.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.34.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: #973 Cohort 9 follow-up — supersede-and-delete V1.31-V1.34 pattern guides
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.33.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.34.md
  scripts/lint_doc_version_refs.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: #973 Cohort 9 — Tier 1 Momentum nits from Scheherazade review
  docs/foundation/ARCHITECTURE_DECISIONS_V2.37.md
Due: validate-docs

docs: #973 Cohort 9 — canonical ADR-118/119 integration + Pattern 80 promotion + supersede-and-delete convention (#979)
  CLAUDE.md
  docs/foundation/ADR_118_DRAFT_canonical_identity.md
  docs/foundation/ADR_119_DRAFT_business_key_and_weather.md
  docs/foundation/ADR_INDEX_V1.27.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.37.md
  docs/foundation/MASTER_INDEX_V2.54.md
  docs/foundation/MASTER_REQUIREMENTS_V2.25.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.31.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.34.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
  scripts/lint_adr_drift.py
  scripts/lint_doc_version_refs.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: task 9 — MCP/LLM Epic scaffold + DEVELOPMENT_PHASES V1.2 + MASTER_REQUIREMENTS V2.26
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.37.md
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.2.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
Due: validate-docs

docs: Task 9 Scope C — Jorge + Librarian review responses applied
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.2.md
  docs/foundation/MASTER_INDEX_V2.54.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
Due: validate-docs

docs: Task 9 — MCP/LLM Epic #990 + 11 child issues + REQ-LLM-001..016 + dev-plan bumps (#995)
  CLAUDE.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.37.md
  docs/foundation/DEVELOPMENT_PHASES_ERA2_V1.2.md
  docs/foundation/MASTER_INDEX_V2.54.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/TEST_REQUIREMENTS_COMPREHENSIVE_V2.1.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
Due: validate-docs

docs: #996 — Cohort 1 ADR-118 amendment (V2.38) — 4 lookup tables + CONSTRAINT TRIGGER typed back-ref + sequence_number
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.28.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.38.md
  docs/foundation/MASTER_INDEX_V2.55.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: #996 — Cohort 1 ADR-118 amendment (V2.38) — 4 lookup tables + CONSTRAINT TRIGGER typed back-ref + sequence_number (#1003)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.28.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.38.md
  docs/foundation/MASTER_INDEX_V2.55.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Cohort 1 Migration 0067 — canonical_event_domains + canonical_event_types + canonical_events foundation
  src/precog/database/alembic/versions/0067_canonical_events_foundation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Cohort 1 Migration 0067 — canonical_event_domains + canonical_event_types + canonical_events foundation (#1005)
  src/precog/database/alembic/versions/0067_canonical_events_foundation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore: #997 — Pattern 80 code example signature fix (add connection parameter)
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
Due: validate-docs

chore: #997 — Pattern 80 code example signature fix (add connection parameter) (#1006)
  docs/guides/DEVELOPMENT_PATTERNS_V1.35.md
Due: validate-docs

feat: Cohort 1 Migration 0068 — canonical_entity + CONSTRAINT TRIGGER + canonical_event_participants
  src/precog/database/alembic/versions/0068_canonical_entity_foundation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Cohort 1 Migration 0068 — canonical_entity + CONSTRAINT TRIGGER + canonical_event_participants (#1008)
  src/precog/database/alembic/versions/0068_canonical_entity_foundation.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DEVELOPMENT_PATTERNS V1.36 — Pattern 81 (open canonical enum → lookup table) + Pattern 82 (CONSTRAINT TRIGGER polymorphic typed back-ref)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.28.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.38.md
  docs/foundation/MASTER_INDEX_V2.55.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
  scripts/lint_doc_version_refs.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: DEVELOPMENT_PATTERNS V1.36 — Pattern 81 (open canonical enum → lookup table) + Pattern 82 (CONSTRAINT TRIGGER polymorphic typed back-ref) (#1009)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.28.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.38.md
  docs/foundation/MASTER_INDEX_V2.55.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
  scripts/lint_doc_version_refs.py
  tests/integration/api_connectors/test_espn_client_vcr.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: #1010 + S68 follow-up bundle — ADR_INDEX V1.28 footer + V1.36 Pattern 81 corrections
  docs/foundation/ADR_INDEX_V1.28.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
Due: validate-docs

docs: #1010 + S68 follow-up bundle — ADR_INDEX V1.28 footer + V1.36 Pattern 81 corrections (#1013)
  docs/foundation/ADR_INDEX_V1.28.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
Due: validate-docs

docs: ADR-118 v2.39 — Cohort 2 amendment (canonical_markets)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.29.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.39.md
  docs/foundation/MASTER_INDEX_V2.56.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: ADR-118 v2.39 — Cohort 2 amendment (canonical_markets) (#1018)
  CLAUDE.md
  docs/foundation/ADR_INDEX_V1.29.md
  docs/foundation/ARCHITECTURE_DECISIONS_V2.39.md
  docs/foundation/MASTER_INDEX_V2.56.md
  docs/foundation/MASTER_REQUIREMENTS_V2.26.md
  docs/foundation/TESTING_STRATEGY_V3.9.md
  docs/foundation/VALIDATION_LINTING_ARCHITECTURE_V1.0.md
  docs/guides/DATA_COLLECTION_GUIDE_V1.2.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.36.md
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Cohort 2 Migration 0069 + crud_canonical_markets + 20 unit tests
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0069_canonical_markets_foundation.py
  src/precog/database/crud_canonical_markets.py
  tests/unit/database/test_crud_canonical_markets_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Cohort 2 Migration 0069 + crud_canonical_markets + 20 unit tests (#1022)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0069_canonical_markets_foundation.py
  src/precog/database/crud_canonical_markets.py
  tests/unit/database/test_crud_canonical_markets_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: crud_elo unit tests — retires crud_elo from SKIP_TEST_TYPE_AUDIT bypass set (#1019 chaser)
  tests/unit/database/test_crud_elo_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: crud_elo unit tests — retires crud_elo from SKIP_TEST_TYPE_AUDIT bypass set (#1019 chaser) (#1023)
  tests/unit/database/test_crud_elo_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore: GHA minutes reduction — concurrency groups + drop Py 3.12 + skip claude-review on docs-only
  .github/workflows/auto-update-pr-branches.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: validate-docs

chore: GHA minutes reduction — concurrency groups + drop Py 3.12 + skip claude-review on docs-only (#1024)
  .github/workflows/auto-update-pr-branches.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: validate-docs

test: temporal_alignment_writer 6-type backfill — RETIRES SKIP_TEST_TYPE_AUDIT bypass entirely (#1019)
  tests/chaos/schedulers/test_temporal_alignment_writer_chaos.py
  tests/e2e/schedulers/test_temporal_alignment_writer_e2e.py
  tests/performance/schedulers/test_temporal_alignment_writer_performance.py
  tests/property/schedulers/test_temporal_alignment_writer_properties.py
  tests/race/schedulers/test_temporal_alignment_writer_race.py
  tests/stress/schedulers/test_temporal_alignment_writer_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test: temporal_alignment_writer 6-type backfill — RETIRES SKIP_TEST_TYPE_AUDIT bypass entirely (#1019) (#1025)
  tests/chaos/schedulers/test_temporal_alignment_writer_chaos.py
  tests/e2e/schedulers/test_temporal_alignment_writer_e2e.py
  tests/performance/schedulers/test_temporal_alignment_writer_performance.py
  tests/property/schedulers/test_temporal_alignment_writer_properties.py
  tests/race/schedulers/test_temporal_alignment_writer_race.py
  tests/stress/schedulers/test_temporal_alignment_writer_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Migration 0070 — Cohort 1 carry-forward hardening (#1011 items 1 + 3)
  src/precog/database/alembic/versions/0070_cohort_1_carryforward_hardening.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
