Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

fix: Add missing COALESCE on league_id in upsert_external_team_code
  src/precog/database/crud_teams.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: G7 ADR drift pre-commit hook (Option B criterion 7)
  .pre-commit-config.yaml
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: G7 ADR drift pre-commit hook (Option B criterion 7) (#848)
  .pre-commit-config.yaml
  scripts/lint_adr_drift.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Phase A' exit — #816 test-decay cluster + G5 CLI alignment + S75 auto-discovery
  scripts/lint_cli_flag_references.py
  src/precog/cli/db.py
  src/precog/cli/system.py
  tests/conftest.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/integration/cli/test_cli_db_integration.py
  tests/property/cli/test_cli_db_properties.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Auto-update BEHIND PR branches with auto-merge queued (#8 fallback) (#836)
  .github/workflows/auto-update-pr-branches.yml
Due: validate-docs

fix: Update migration 0060 down_revision 0058→0059 (chain #839 merge)
  src/precog/database/alembic/versions/0060_lookup_tables_sports_leagues_a1.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Startup migration-drift check — block scheduler if DB behind (#792) (#804)
  scripts/check_migration_parity_hook.py
  src/precog/cli/scheduler.py
  src/precog/database/migration_check.py
  tests/chaos/cli/test_cli_chaos.py
  tests/chaos/cli/test_cli_db_chaos.py
  tests/chaos/cli/test_cli_scheduler_chaos.py
  tests/chaos/cli/test_cli_system_chaos.py
  tests/e2e/cli/test_cli_scheduler_e2e.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/performance/cli/test_cli_scheduler_performance.py
  tests/property/cli/test_cli_scheduler_properties.py
  tests/race/cli/test_cli_race.py
  tests/race/cli/test_cli_scheduler_race.py
  tests/stress/cli/test_cli_scheduler_stress.py
  tests/stress/cli/test_cli_stress.py
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/database/test_migration_check.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #738 A1 — sports + leagues lookup tables + nullable FK backfill + dual-write CRUD (#840)
  src/precog/analytics/elo_computation_service.py
  src/precog/database/alembic/versions/0060_lookup_tables_sports_leagues_a1.py
  src/precog/database/crud_elo.py
  src/precog/database/crud_game_states.py
  src/precog/database/crud_historical.py
  src/precog/database/crud_lookups.py
  src/precog/database/crud_teams.py
  src/precog/database/seeding/epa_seeder.py
  src/precog/database/seeding/game_odds_loader.py
  src/precog/database/seeding/historical_games_loader.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #738 A2 — SET NOT NULL on 12 FK columns + drop 9 CHECK constraints
  src/precog/database/alembic/versions/0061_lookup_tables_a2_not_null.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add sport_id/league_id to test fixtures and seed SQL for A2 NOT NULL
  src/precog/database/seeds/001_nfl_teams_initial_elo.sql
  src/precog/database/seeds/003_nba_teams.sql
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/database/seeds/005_wnba_teams.sql
  src/precog/database/seeds/006_ncaaf_teams.sql
  src/precog/database/seeds/007_ncaab_teams.sql
  src/precog/database/seeds/008_ncaaw_teams.sql
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/database/seeds/010_mls_teams.sql
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/seeding/test_batch_error_handling_integration.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
  tests/integration/database/test_crud_operations_integration.py
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/performance/test_crud_operations_performance.py
  tests/property/test_crud_operations_properties.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #738 A2 — SET NOT NULL on 12 FK columns + drop 9 CHECK constraints (#855)
  src/precog/database/alembic/versions/0061_lookup_tables_a2_not_null.py
  src/precog/database/seeds/001_nfl_teams_initial_elo.sql
  src/precog/database/seeds/003_nba_teams.sql
  src/precog/database/seeds/004_nhl_teams.sql
  src/precog/database/seeds/005_wnba_teams.sql
  src/precog/database/seeds/006_ncaaf_teams.sql
  src/precog/database/seeds/007_ncaab_teams.sql
  src/precog/database/seeds/008_ncaaw_teams.sql
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/database/seeds/010_mls_teams.sql
  tests/e2e/database/test_crud_operations_e2e.py
  tests/integration/database/seeding/test_batch_error_handling_integration.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
  tests/integration/database/test_crud_operations_integration.py
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/performance/test_crud_operations_performance.py
  tests/property/test_crud_operations_properties.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/stress/test_crud_operations_stress.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Make 0061 CHECK drops idempotent + fix docstring count (11→12)
  src/precog/database/alembic/versions/0061_lookup_tables_a2_not_null.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use direct click imports for mypy compatibility in S75 linter
  scripts/lint_cli_flag_references.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Make 0061 CHECK drops idempotent + fix docstring count (11→12) (#857)
  src/precog/database/alembic/versions/0061_lookup_tables_a2_not_null.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #791 C2c — Migration 0062 business key columns + CRUD two-step INSERT
  src/precog/database/alembic/versions/0062_business_key_columns.py
  src/precog/database/crud_events.py
  src/precog/database/crud_game_states.py
  src/precog/database/crud_markets.py
  src/precog/database/seeding/historical_games_loader.py
  tests/conftest.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
  tests/integration/database/test_migration_0052_0055_execution_environment.py
  tests/integration/database/test_migration_0056_write_protection_triggers.py
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/integration/database/test_migration_0062_business_keys.py
  tests/integration/database/test_scd_copy_forward.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_position_manager_trailing_stop_integration.py
  tests/property/test_database_crud_properties.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/test_attribution.py
  tests/test_database_connection.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update 0062-affected test mocks (Pattern 43 mock fidelity)
  tests/chaos/test_crud_operations_chaos.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use click.Command/click.Group for S75 linter (#849 real mypy fix)
  scripts/lint_cli_flag_references.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: #791 C2c — Migration 0062 business key columns + CRUD two-step INSERT (#861)
  src/precog/database/alembic/versions/0062_business_key_columns.py
  src/precog/database/crud_events.py
  src/precog/database/crud_game_states.py
  src/precog/database/crud_markets.py
  src/precog/database/seeding/historical_games_loader.py
  tests/chaos/test_crud_operations_chaos.py
  tests/conftest.py
  tests/fixtures/transaction_fixtures.py
  tests/integration/database/test_crud_positions_trailing_stop_integration.py
  tests/integration/database/test_migration_0052_0055_execution_environment.py
  tests/integration/database/test_migration_0056_write_protection_triggers.py
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/integration/database/test_migration_0062_business_keys.py
  tests/integration/database/test_scd_copy_forward.py
  tests/integration/trading/test_position_manager.py
  tests/integration/trading/test_position_manager_trailing_stop_integration.py
  tests/property/test_database_crud_properties.py
  tests/race/test_scd_sibling_first_insert_races.py
  tests/test_attribution.py
  tests/test_database_connection.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #725 item 11 — Migration 0063 orderbook_snapshot_id FK on orders + edges
  src/precog/database/alembic/versions/0063_orderbook_snapshot_fk.py
  src/precog/database/crud_analytics.py
  src/precog/database/crud_orders.py
  tests/integration/database/test_migration_0063_orderbook_fk.py
  tests/unit/database/test_edge_crud.py
  tests/unit/database/test_order_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #725 item 11 — Migration 0063 orderbook_snapshot_id FK on orders + edges (#863)
  src/precog/database/alembic/versions/0063_orderbook_snapshot_fk.py
  src/precog/database/crud_analytics.py
  src/precog/database/crud_orders.py
  tests/integration/database/test_migration_0063_orderbook_fk.py
  tests/unit/database/test_edge_crud.py
  tests/unit/database/test_order_crud.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: auto-update-pr-branches workflow needs --repo flag
  .github/workflows/auto-update-pr-branches.yml
Due: validate-docs

feat: Phase A' exit — #816 test-decay + G5 CLI alignment + S75 auto-discovery (#849)
  scripts/lint_cli_flag_references.py
  src/precog/cli/db.py
  src/precog/cli/system.py
  tests/conftest.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/integration/cli/test_cli_db_integration.py
  tests/property/cli/test_cli_db_properties.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Race-resilient outside fetch in positions SCD CRUD + observability for id repair
  src/precog/database/crud_positions.py
  tests/integration/database/test_scd_copy_forward.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Migration RESTRICT tests use RestrictViolation (not ForeignKeyViolation)
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/integration/database/test_migration_0063_orderbook_fk.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: test_create_team_insert_includes_all_fields — pin lookup helpers
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Accept both FK violation classes in RESTRICT tests (CI vs local delta)
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/integration/database/test_migration_0063_orderbook_fk.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: S61 bugfix bundle — race-resilient positions fetch + workflow + test-infra hygiene (4 commits) (#868)
  .github/workflows/auto-update-pr-branches.yml
  src/precog/database/crud_positions.py
  tests/integration/database/test_migration_0057_fk_restrict.py
  tests/integration/database/test_migration_0063_orderbook_fk.py
  tests/integration/database/test_scd_copy_forward.py
  tests/unit/database/test_crud_operations_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #867 — pre-push hook for test DB migration parity
  .pre-commit-config.yaml
  scripts/check_test_db_migration_parity.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: #791 C2c — Migration 0064 SCD Type 2 on strategies + probability_models
  src/precog/analytics/model_manager.py
  src/precog/database/alembic/versions/0064_scd2_strategies_models.py
  src/precog/database/crud_strategies.py
  tests/integration/database/test_migration_0064_scd2_strategies_models.py
  tests/property/test_strategy_versioning_properties.py
  tests/unit/database/test_crud_strategies_scd2_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #867 Glokta remediation — wire hook into pre-push + narrow exceptions + multi-head
  scripts/check_test_db_migration_parity.py
  scripts/pre-push-validation.sh
  src/precog/database/migration_check.py
  tests/unit/database/test_migration_check.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #791 C2c Migration 0064 — Glokta+Ripley S62 remediation (3 P0 + 2 P1)
  src/precog/analytics/model_manager.py
  src/precog/database/crud_probability_models.py
  src/precog/database/crud_strategies.py
  src/precog/trading/strategy_manager.py
  tests/e2e/analytics/test_model_manager_e2e.py
  tests/e2e/trading/test_strategy_manager_e2e.py
  tests/integration/database/test_migration_0064_scd2_strategies_models.py
  tests/integration/trading/test_strategy_manager.py
  tests/property/test_strategy_versioning_properties.py
  tests/unit/database/test_crud_probability_models_scd2_unit.py
  tests/unit/database/test_crud_strategies_scd2_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: #791 C2c Migration 0064 — Round-2 Glokta re-review (N-1 + N-2 + N-4)
  src/precog/analytics/model_manager.py
  src/precog/database/crud_probability_models.py
  src/precog/trading/strategy_manager.py
  tests/integration/database/test_migration_0064_scd2_strategies_models.py
  tests/unit/database/test_crud_probability_models_scd2_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: S61/S62 P2 cleanups — crud_positions docstrings, comments, test docstrings
  src/precog/database/crud_positions.py
  tests/integration/database/test_scd_copy_forward.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Promote Pattern 73 — "Keep Heading, Replace Body with Pointer" structural refactor idiom
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
Due: validate-docs

feat: #791 C2c — Migration 0064 SCD Type 2 on strategies + probability_models (#883)
  src/precog/analytics/model_manager.py
  src/precog/database/alembic/versions/0064_scd2_strategies_models.py
  src/precog/database/crud_probability_models.py
  src/precog/database/crud_strategies.py
  src/precog/trading/strategy_manager.py
  tests/e2e/analytics/test_model_manager_e2e.py
  tests/e2e/trading/test_strategy_manager_e2e.py
  tests/integration/database/test_migration_0064_scd2_strategies_models.py
  tests/integration/trading/test_strategy_manager.py
  tests/property/test_strategy_versioning_properties.py
  tests/unit/database/test_crud_probability_models_scd2_unit.py
  tests/unit/database/test_crud_strategies_scd2_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs: Promote Pattern 73 — 'Keep Heading, Replace Body with Pointer' structural refactor idiom (#885)
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
Due: validate-docs

feat: #867 — pre-push hook for test DB migration parity (#875)
  .pre-commit-config.yaml
  scripts/check_test_db_migration_parity.py
  scripts/pre-push-validation.sh
  src/precog/database/migration_check.py
  tests/unit/database/test_migration_check.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor: #887 Slice 1 — move test type coverage audit from CI to pre-push + register 3 untracked modules
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/audit_test_type_coverage.py
  scripts/pre-push-validation.sh
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

refactor: S61/S62 P2 cleanups — crud_positions docstrings + comments + test docstrings (#884)
  src/precog/database/crud_positions.py
  tests/integration/database/test_scd_copy_forward.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: #887 Slice 2 pilot — crud_lookups unit tests (32 tests, close 1-of-11 gap)
  tests/unit/database/test_crud_lookups.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check
