Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

validate-docs:
  name: Documentation Validation (10 checks)
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false
  description: Validates docs consistency, cross-refs, versioning, phase status, YAML configs, and config sync (Pattern 8)

ruff-check:
  name: Ruff Linter
  entry: python -m ruff check
  language: system
  pass_filenames: true
  description: Runs Ruff linter on staged Python files

ruff-format:
  name: Ruff Formatter
  entry: python -m ruff format --check
  language: system
  pass_filenames: true
  description: Checks code formatting on staged Python files

mypy:
  name: Mypy Type Checking (incremental)
  entry: python -m mypy . --incremental --cache-dir .mypy_cache --exclude 'tests/' --exclude '_archive/' --exclude 'venv/' --exclude '.venv/' --ignore-missing-imports
  language: system
  pass_filenames: false
  ...

no-print-in-production:
  name: No print() in Production Code
  entry: bash
  args:
  - -c
  ...

code-review-basics:
  name: Code Review Basics (REQ Traceability)
  entry: bash
  args:
  - -c
  ...

decimal-precision-check:
  name: Decimal Precision Check (Pattern 1)
  entry: bash
  args:
  - -c
  ...

feat(ops): #1103 — auto-alembic-upgrade when test DB BEHIND, --no-auto-upgrade opt-out
  scripts/check_test_db_migration_parity.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

ci(parity-hook): #1101 — distinguish test-DB AHEAD vs BEHIND in error message (#1104)
  scripts/check_test_db_migration_parity.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix(ops): #1103 — apply Spock review P1 timeouts (Tier 1 Momentum)
  scripts/check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs(ci): #1100 follow-up — strip rotting PR/session refs from ci.yml comment (#1106)
  .github/workflows/ci.yml
Due: validate-docs

feat(canonical): #1075 slot 0077 — canonical_events FK ON DELETE SET NULL retrofit + V2.3 schema doc
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.3.md
  src/precog/database/alembic/versions/0077_canonical_events_fk_on_delete_set_null.py
  src/precog/database/crud_canonical_events.py
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0077_fk_on_delete_set_null.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix(test): #1075 slot 0077 — apply Glokta review P2 findings (Tier 1 Momentum)
  tests/integration/database/test_migration_0077_fk_on_delete_set_null.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix(test+doc): #1075 slot 0077 — apply Ripley sentinel Nit findings (Tier 1 Momentum)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.3.md
  tests/integration/database/test_migration_0077_fk_on_delete_set_null.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(ops): #1103 — auto alembic upgrade head when test DB BEHIND (#1107)
  scripts/check_test_db_migration_parity.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix(database): #1027 — crud_elo falsy-0 returns None instead of Decimal('0') (Pattern 45)
  src/precog/database/crud_elo.py
  tests/unit/database/test_crud_elo_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix(database): #1027 — apply Glokta review Nit (Tier 1 Momentum)
  src/precog/database/crud_elo.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore: knock out 6 session-73 carry-forward nits across 3 issues (#1020 + #1026 + #1028)
  docs/guides/DEVELOPMENT_PATTERNS.md
  src/precog/database/crud_canonical_markets.py
  src/precog/database/crud_ledger.py
  tests/e2e/schedulers/test_temporal_alignment_writer_e2e.py
  tests/performance/schedulers/test_temporal_alignment_writer_performance.py
  tests/property/schedulers/test_temporal_alignment_writer_properties.py
  tests/stress/schedulers/test_temporal_alignment_writer_stress.py
  tests/unit/database/test_crud_canonical_markets_unit.py
  tests/unit/database/test_crud_ledger_temporal.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix(database): #1027 — crud_elo falsy-0 returns None instead of Decimal('0') (Pattern 45) (#1113)
  src/precog/database/crud_elo.py
  tests/unit/database/test_crud_elo_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #1075 slot 0077 — canonical_events FK ON DELETE SET NULL retrofit + V2.3 schema doc (#1108)
  docs/database/DATABASE_SCHEMA_SUMMARY_V2.3.md
  src/precog/database/alembic/versions/0077_canonical_events_fk_on_delete_set_null.py
  src/precog/database/crud_canonical_events.py
  tests/integration/database/test_migration_0067_canonical_events_foundation.py
  tests/integration/database/test_migration_0077_fk_on_delete_set_null.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

bugfix(scripts): #1112 — align_test_db.sh AHEAD auto-detect uses git :(glob) pathspec
  scripts/align_test_db.sh
Due: none

bugfix(scripts): #1112 — align_test_db.sh AHEAD auto-detect uses git :(glob) pathspec (#1117)
  scripts/align_test_db.sh
Due: none

chore: knock out 6 session-73 carry-forward nits across 3 issues (#1020 + #1026 + #1028) (#1114)
  docs/guides/DEVELOPMENT_PATTERNS.md
  src/precog/database/crud_canonical_markets.py
  src/precog/database/crud_ledger.py
  tests/e2e/schedulers/test_temporal_alignment_writer_e2e.py
  tests/performance/schedulers/test_temporal_alignment_writer_performance.py
  tests/property/schedulers/test_temporal_alignment_writer_properties.py
  tests/stress/schedulers/test_temporal_alignment_writer_stress.py
  tests/unit/database/test_crud_canonical_markets_unit.py
  tests/unit/database/test_crud_ledger_temporal.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(adr): #972 ADR-118 V2.43 — Cohort 4 scope lock + cohort numbering canonicalization + Phase B.5 #4 split
  docs/foundation/ARCHITECTURE_DECISIONS.md
Due: validate-docs

docs(adr): #972 V2.43 Tier 1 Momentum — Item 6 wording fix per Ripley R1 (Pattern 73 SSOT)
  docs/foundation/ARCHITECTURE_DECISIONS.md
Due: validate-docs

feat(adr): #972 ADR-118 V2.43 — Cohort 4 scope lock + cohort numbering canonicalization + Phase B.5 #4 split (#1118)
  docs/foundation/ARCHITECTURE_DECISIONS.md
Due: validate-docs

feat(canonical): #972 slot 0078 — canonical_observations partitioned parent + writer skeleton
  docs/operations/canonical_observations_runbook.md
  src/precog/config/system.yaml
  src/precog/database/alembic/versions/0078_canonical_observations.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_observations.py
  src/precog/schedulers/canonical_observations_writer.py
  src/precog/schedulers/service_supervisor.py
  tests/integration/database/test_migration_0078_canonical_observations.py
  tests/unit/database/test_constants_observation_kinds.py
  tests/unit/database/test_crud_canonical_observations_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test(canonical): #972 slot 0078 — register modules in MODULE_TIERS + writer skeleton unit tests
  scripts/audit_test_type_coverage.py
  tests/unit/schedulers/test_canonical_observations_writer_unit.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test+docs: #972 slot 0078 — Tier 1 Momentum reviewer fixes (Glokta + Ripley)
  docs/operations/canonical_observations_runbook.md
  src/precog/database/alembic/versions/0078_canonical_observations.py
  src/precog/database/crud_canonical_observations.py
  src/precog/schedulers/canonical_observations_writer.py
  tests/integration/database/test_migration_0078_canonical_observations.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #972 slot 0078 — canonical_observations partitioned parent + writer skeleton (#1120)
  docs/operations/canonical_observations_runbook.md
  scripts/audit_test_type_coverage.py
  src/precog/config/system.yaml
  src/precog/database/alembic/versions/0078_canonical_observations.py
  src/precog/database/constants.py
  src/precog/database/crud_canonical_observations.py
  src/precog/schedulers/canonical_observations_writer.py
  src/precog/schedulers/service_supervisor.py
  tests/integration/database/test_migration_0078_canonical_observations.py
  tests/unit/database/test_constants_observation_kinds.py
  tests/unit/database/test_crud_canonical_observations_unit.py
  tests/unit/schedulers/test_canonical_observations_writer_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #972 slot 0079 — canonical_event_phase_log audit ledger + auto-population trigger
  src/precog/database/alembic/versions/0079_canonical_event_phase_log.py
  src/precog/database/crud_canonical_event_phase_log.py
  tests/integration/database/test_lifecycle_phase_vocabulary_ssot.py
  tests/integration/database/test_migration_0079_canonical_event_phase_log.py
  tests/unit/database/test_crud_canonical_event_phase_log_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

chore(audit): register slot 0079 crud_canonical_event_phase_log in test-type coverage audit
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat(canonical): #972 slot 0079 — canonical_event_phase_log audit ledger + auto-population trigger (#1124)
  scripts/audit_test_type_coverage.py
  src/precog/database/alembic/versions/0079_canonical_event_phase_log.py
  src/precog/database/crud_canonical_event_phase_log.py
  tests/integration/database/test_lifecycle_phase_vocabulary_ssot.py
  tests/integration/database/test_migration_0079_canonical_event_phase_log.py
  tests/unit/database/test_crud_canonical_event_phase_log_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

refactor(tests): session 87 S81 fix-now bundle — 3 polish items from Joe Chip retrospective sweep
  tests/e2e/schedulers/test_temporal_alignment_writer_e2e.py
  tests/performance/schedulers/test_temporal_alignment_writer_performance.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor(tests): session 87 S81 fix-now bundle — 3 polish items from Joe Chip retrospective sweep (#1125)
  tests/e2e/schedulers/test_temporal_alignment_writer_e2e.py
  tests/performance/schedulers/test_temporal_alignment_writer_performance.py
  tests/unit/scripts/test_check_test_db_migration_parity.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs(patterns): promote Pattern 88 — Cohort 4 Partition DDL Idioms (V1.40 → V1.41)
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

docs(patterns): promote Pattern 88 — Cohort 4 Partition DDL Idioms (V1.40 → V1.41) (#1128)
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

feat(canonical): #972 slot 0080 — game_states + games canonical_event_id nullable FKs to canonical_events (Pattern 84 NOT VALID + VALIDATE on populated tables)
  src/precog/database/alembic/versions/0080_canonical_event_id_fks_on_game_states_and_games.py
  tests/integration/database/test_migration_0080_canonical_event_id_fks.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #972 slot 0080 — game_states + games canonical_event_id nullable FKs to canonical_events (Pattern 84 NOT VALID + VALIDATE on populated tables) (#1130)
  src/precog/database/alembic/versions/0080_canonical_event_id_fks_on_game_states_and_games.py
  tests/integration/database/test_migration_0080_canonical_event_id_fks.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(sdl): #1126 SDL Framework V1.0 — codify Strategy Development Lifecycle (3 T-types + 5 S-triggers + 2 C-triggers (C40/C41) + canonical spec doc + artifact directory)
  CLAUDE.md
  docs/foundation/SDL_FRAMEWORK_V1.0.md
  docs/sdl/SDL-INDEX.md
  docs/sdl/_CYCLE_TEMPLATE.md
  docs/sdl/_README.md
Due: validate-docs

docs(sdl): #1126 SDL Framework V1.0 — codify Strategy Development Lifecycle (3 T-types + 5 S-triggers + 2 C-triggers (C40/C41) + canonical spec doc + artifact directory) (#1131)
  CLAUDE.md
  docs/foundation/SDL_FRAMEWORK_V1.0.md
  docs/sdl/SDL-INDEX.md
  docs/sdl/_CYCLE_TEMPLATE.md
  docs/sdl/_README.md
Due: validate-docs

docs(sdl): SDL Framework V1.0 — Joe Chip Tier 1 Momentum follow-up (freshness marker S53-S87 → S83-S87 typo + C40/C41 renumber breadcrumb)
  docs/foundation/SDL_FRAMEWORK_V1.0.md
Due: validate-docs

docs(sdl): SDL Framework V1.0 — Joe Chip Tier 1 Momentum follow-up (freshness marker S53-S87 → S83-S87 typo + C40/C41 renumber breadcrumb) (#1132)
  docs/foundation/SDL_FRAMEWORK_V1.0.md
Due: validate-docs

feat(canonical): #972 slot 0082 — temporal_alignment canonical_event_id nullable FK to canonical_events (Pattern 84 NOT VALID + VALIDATE — second by-analogy use)
  src/precog/database/alembic/versions/0082_canonical_event_id_fk_on_temporal_alignment.py
  tests/integration/database/test_migration_0082_canonical_event_id_fk_temporal_alignment.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat(canonical): #972 slot 0082 — temporal_alignment canonical_event_id nullable FK to canonical_events (Pattern 84 NOT VALID + VALIDATE — second by-analogy use) (#1134)
  src/precog/database/alembic/versions/0082_canonical_event_id_fk_on_temporal_alignment.py
  tests/integration/database/test_migration_0082_canonical_event_id_fk_temporal_alignment.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

docs(patterns): promote Pattern 84 V1.42 — extend by-analogy CHECK→FK on populated tables + lock-semantics clarification (N=2 from slots 0080+0082)
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

docs(patterns): V1.42 fix-pass — Joe Chip P1 + P2 + Ripley P2 (3 line-level fixes)
  docs/guides/DEVELOPMENT_PATTERNS.md
Due: validate-docs

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$
