Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

chore: Add S75 CLI flag linter to pre-commit hooks (#769)
  .pre-commit-config.yaml
Due: validate-docs

fix: S53 cleanup batch — stub tests, chaos flag, MCP config (#801, #782, #802)
  .mcp.json
  tests/chaos/cli/test_cli_scheduler_chaos.py
  tests/unit/database/test_crud_elo_unit.py
  tests/unit/database/test_crud_events_unit.py
  tests/unit/database/test_crud_game_states_unit.py
  tests/unit/database/test_crud_historical_unit.py
  tests/unit/database/test_crud_ledger_unit.py
  tests/unit/database/test_crud_markets_unit.py
  tests/unit/database/test_crud_orders_unit.py
  tests/unit/database/test_crud_positions_unit.py
  tests/unit/database/test_crud_schedulers_unit.py
  tests/unit/database/test_crud_shared_unit.py
  tests/unit/database/test_crud_strategies_unit.py
  tests/unit/database/test_crud_teams_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Pin MCP postgres package to @modelcontextprotocol/server-postgres@0.6.2
  .mcp.json
Due: none

feat: Startup migration-drift check — block scheduler if DB behind alembic head (#792)
  src/precog/cli/scheduler.py
  src/precog/database/migration_check.py
  tests/chaos/cli/test_cli_db_chaos.py
  tests/chaos/cli/test_cli_scheduler_chaos.py
  tests/chaos/cli/test_cli_system_chaos.py
  tests/e2e/cli/test_cli_scheduler_e2e.py
  tests/integration/cli/test_cli_scheduler_integration.py
  tests/performance/cli/test_cli_scheduler_performance.py
  tests/property/cli/test_cli_scheduler_properties.py
  tests/race/cli/test_cli_scheduler_race.py
  tests/stress/cli/test_cli_scheduler_stress.py
  tests/unit/cli/test_cli_scheduler.py
  tests/unit/database/test_migration_check.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add migration parity UserPromptSubmit hook + hook script (#792)
  scripts/check_migration_parity_hook.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add migration check mock to 3 missed CLI test files
  tests/chaos/cli/test_cli_chaos.py
  tests/race/cli/test_cli_race.py
  tests/stress/cli/test_cli_stress.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Update 0058 docstring — Cat D count 8→9, add orders column
  src/precog/database/alembic/versions/0058_business_key_fk_renames.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Detect linter crash vs expected violations in S75 hook
  .pre-commit-config.yaml
Due: validate-docs

feat: Tier 1 Hook PR 3 — loose-assertion ratchet with baseline (#770)
  .pre-commit-config.yaml
  tests/.loose_assertion_baseline
Due: validate-docs

fix: Correct pytestmark unit→integration on test_strategy_manager.py (#807)
  tests/integration/trading/test_strategy_manager.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Tighten 20 loose exit_code assertions in unit CLI tests (#783)
  tests/.loose_assertion_baseline
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: S53 cleanup — remove 12 stub tests, fix chaos flag, add MCP config (#801, #782, #802) (#803)
  .mcp.json
  tests/chaos/cli/test_cli_scheduler_chaos.py
  tests/unit/database/test_crud_elo_unit.py
  tests/unit/database/test_crud_events_unit.py
  tests/unit/database/test_crud_game_states_unit.py
  tests/unit/database/test_crud_historical_unit.py
  tests/unit/database/test_crud_ledger_unit.py
  tests/unit/database/test_crud_markets_unit.py
  tests/unit/database/test_crud_orders_unit.py
  tests/unit/database/test_crud_positions_unit.py
  tests/unit/database/test_crud_schedulers_unit.py
  tests/unit/database/test_crud_shared_unit.py
  tests/unit/database/test_crud_strategies_unit.py
  tests/unit/database/test_crud_teams_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Document temporal_alignment_writer test gap in audit script
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: S75 CLI flag existence linter + pre-commit hook (#769) (#800)
  .pre-commit-config.yaml
  scripts/lint_cli_flag_references.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Tier 1 Hook PR 4 — mock target path verification (Hook 1.6)
  .pre-commit-config.yaml
  scripts/lint_mock_target_paths.py
  scripts/mock_path_allowlist.txt
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

docs: Promote DEVELOPMENT_PATTERNS V1.31 -> V1.32 (+8 patterns, S50+S51 discoveries)
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
Due: validate-docs

fix: Joe Chip P0+P1 on Hook 1.6 — Windows path separator + broad exception handler
  scripts/lint_mock_target_paths.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Point CLAUDE.md at DEVELOPMENT_PATTERNS V1.32 (Librarian follow-up)
  CLAUDE.md
Due: validate-docs

test: S55 chip-away — tighten 3 loose exit-code assertions in test_cli_system.py
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Tier 1 Hook PR 4 — mock target path verification (Hook 1.6, #770) (#814)
  .pre-commit-config.yaml
  scripts/lint_mock_target_paths.py
  scripts/mock_path_allowlist.txt
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Document temporal_alignment_writer test gap in audit script (#811)
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

refactor: S55 CLI flag cleanup — fix S75 linter + remove 28 speculative flag refs (#799)
  scripts/lint_cli_flag_references.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/e2e/cli/test_cli_system_e2e.py
  tests/integration/cli/test_cli_db_integration.py
  tests/integration/cli/test_cli_system_integration.py
  tests/property/cli/test_cli_db_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

chore: Windows MCP server + PowerShell .env auto-sourcing setup
  .mcp.json
  docs/guides/CLAUDE_CODE_POWERSHELL_SETUP_V1.0.md
Due: validate-docs

feat: Tier 1 Hook PR 3 — loose-assertion ratchet + pytestmark fix (#770, #807) (#808)
  .pre-commit-config.yaml
  tests/.loose_assertion_baseline
  tests/integration/trading/test_strategy_manager.py
  tests/unit/cli/test_cli_db.py
  tests/unit/cli/test_cli_system.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: G1 doc version drift pre-commit hook
  .pre-commit-config.yaml
  scripts/lint_doc_version_refs.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: G1 doc version drift pre-commit hook (#828)
  .pre-commit-config.yaml
  scripts/lint_doc_version_refs.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: G5-BUILD db tables --filter (glob pattern)
  src/precog/cli/db.py
  tests/unit/cli/test_cli_db.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test: Fix test_tables_with_filter mock pattern + tighten assertion
  tests/integration/cli/test_cli_db_integration.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

test: S55 chip-away — tighten 3 loose exit-code assertions in test_cli_system.py (#817)
  tests/unit/cli/test_cli_system.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

docs: Promote DEVELOPMENT_PATTERNS V1.31 → V1.32 (+8 patterns) (#815)
  CLAUDE.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.32.md
Due: validate-docs

refactor: S55 CLI flag cleanup — fix S75 linter + remove 28 speculative refs (#799) (#822)
  .mcp.json
  docs/guides/CLAUDE_CODE_POWERSHELL_SETUP_V1.0.md
  scripts/lint_cli_flag_references.py
  tests/e2e/cli/test_cli_db_e2e.py
  tests/e2e/cli/test_cli_system_e2e.py
  tests/integration/cli/test_cli_db_integration.py
  tests/integration/cli/test_cli_system_integration.py
  tests/property/cli/test_cli_db_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Auto-update BEHIND PR branches with auto-merge queued (#8 fallback)
  .github/workflows/auto-update-pr-branches.yml
Due: validate-docs

feat: #725 missing FKs migration 0059 + SCD copy-forward
  src/precog/database/alembic/versions/0059_missing_fks_provenance_chain.py
  src/precog/database/crud_positions.py
  tests/integration/database/test_scd_copy_forward.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #738 A1 — sports + leagues lookup tables + nullable FK backfill + dual-write CRUD
  src/precog/analytics/elo_computation_service.py
  src/precog/database/alembic/versions/0060_lookup_tables_sports_leagues_a1.py
  src/precog/database/crud_elo.py
  src/precog/database/crud_game_states.py
  src/precog/database/crud_historical.py
  src/precog/database/crud_lookups.py
  src/precog/database/crud_teams.py
  src/precog/database/seeding/epa_seeder.py
  src/precog/database/seeding/game_odds_loader.py
  src/precog/database/seeding/historical_games_loader.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add league_id FK on game_odds (#738 A1 amendment)
  src/precog/database/alembic/versions/0060_lookup_tables_sports_leagues_a1.py
  src/precog/database/crud_game_states.py
  src/precog/database/crud_lookups.py
  src/precog/database/seeding/game_odds_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add missing COALESCE on league_id in upsert_external_team_code
  src/precog/database/crud_teams.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: #725 missing FKs migration 0059 + SCD copy-forward (#839)
  src/precog/database/alembic/versions/0059_missing_fks_provenance_chain.py
  src/precog/database/crud_positions.py
  tests/integration/database/test_scd_copy_forward.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check
