Repository mutantamoeba/precog: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

Path conditions:
  validate-docs: any of: \.(md|yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  no-print-in-production: any of: (database|api_connectors|trading|analytics|utils|config)/.*\.py$, but not: migrations/.*\.py$
  code-review-basics: any of: (database|api_connectors|trading|analytics)/.*\.py$
  decimal-precision-check: any of: \.py$

docs: Update ADR-108 cost projections with Railway pricing analysis (Issue #256) (#266)
  docs/foundation/ADR-108_Hybrid_Cloud_Architecture.md
Due: validate-docs

feat: Issue #268 - Textual TUI scaffold + fix series_id population (#270)
  pyproject.toml
  src/precog/cli/__init__.py
  src/precog/schedulers/kalshi_poller.py
  src/precog/tui/__init__.py
  src/precog/tui/app.py
  src/precog/tui/screens/__init__.py
  src/precog/tui/screens/main_menu.py
  src/precog/tui/styles/precog_dark.tcss
  src/precog/tui/widgets/__init__.py
  src/precog/tui/widgets/header.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Correct chaos test expectation for whitespace stripping in team codes
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add TUI modules to test coverage audit and create unit tests
  scripts/audit_test_type_coverage.py
  tests/unit/tui/__init__.py
  tests/unit/tui/screens/__init__.py
  tests/unit/tui/screens/test_main_menu.py
  tests/unit/tui/test_app.py
  tests/unit/tui/widgets/__init__.py
  tests/unit/tui/widgets/test_header.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Skip TUI tests when textual not installed (optional dependency)
  tests/unit/tui/screens/test_main_menu.py
  tests/unit/tui/test_app.py
  tests/unit/tui/widgets/test_header.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Issue #257 - Unified team history mapping for multi-sport relocations (#267)
  scripts/audit_test_type_coverage.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/sources/sports/nfl_data_py_adapter.py
  src/precog/database/seeding/team_history.py
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
  tests/unit/database/seeding/test_historical_elo_loader.py
  tests/unit/database/seeding/test_nfl_data_py_adapter.py
  tests/unit/database/seeding/test_team_history.py
  tests/unit/tui/__init__.py
  tests/unit/tui/screens/__init__.py
  tests/unit/tui/screens/test_main_menu.py
  tests/unit/tui/test_app.py
  tests/unit/tui/widgets/__init__.py
  tests/unit/tui/widgets/test_header.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Resolve merge conflicts - integrate error_mode and progress features
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add progress and team_history modules to audit tracking
  scripts/audit_test_type_coverage.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add setup_test_teams fixture for CI environment
  tests/integration/database/seeding/test_batch_error_handling_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add setup_test_teams fixture to historical_elo_loader integration tests
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Update chaos tests for BatchInsertResult API (Issue #255)
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Issue #255 - Improve batch insert error handling with partial failure tracking (#265)
  scripts/audit_test_type_coverage.py
  src/precog/database/seeding/__init__.py
  src/precog/database/seeding/batch_result.py
  src/precog/database/seeding/historical_elo_loader.py
  src/precog/database/seeding/historical_games_loader.py
  src/precog/database/seeding/historical_odds_loader.py
  tests/chaos/database/seeding/test_historical_elo_loader_chaos.py
  tests/integration/database/seeding/test_batch_error_handling_integration.py
  tests/integration/database/seeding/test_historical_elo_loader_integration.py
  tests/performance/database/seeding/test_historical_elo_loader_performance.py
  tests/property/database/seeding/test_historical_elo_loader_properties.py
  tests/unit/database/seeding/test_batch_result.py
  tests/unit/database/seeding/test_historical_elo_loader.py
  tests/unit/database/seeding/test_historical_games_loader.py
  tests/unit/database/seeding/test_historical_odds_loader.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Pass series_ticker explicitly to prevent FK violation crash
  src/precog/schedulers/kalshi_poller.py
  tests/e2e/api_connectors/test_kalshi_auth_e2e.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add order management methods and trading test architecture
  docs/foundation/MASTER_INDEX_V2.52.md
  docs/foundation/MASTER_REQUIREMENTS_V2.23.md
  docs/testing/TRADING_TEST_ARCHITECTURE_V1.0.md
  scripts/record_kalshi_cassettes.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/api_connectors/types.py
  tests/cassettes/kalshi_order_lifecycle.yaml
  tests/fixtures/api_responses.py
  tests/integration/api_connectors/test_kalshi_client_vcr.py
  tests/unit/api_connectors/test_kalshi_client.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Create minimal VCR cassette for series tests
  tests/cassettes/kalshi_get_series.yaml
Due: validate-docs

feat: Series CRUD + pre-push CI parity enhancements (Issue #255)
  .gitignore
  docs/foundation/ARCHITECTURE_DECISIONS_V2.31.md
  docs/foundation/MASTER_INDEX_V2.52.md
  docs/foundation/MASTER_REQUIREMENTS_V2.23.md
  docs/foundation/REQUIREMENT_INDEX_V1.15.md
  docs/foundation/TESTING_STRATEGY_V3.8.md
  docs/guides/DEVELOPMENT_PATTERNS_V1.21.md
  docs/testing/TEST_ISOLATION_PATTERNS_V1.1.md
  docs/utility/SCHEMA_MIGRATION_WORKFLOW_V2.1.md
  scripts/analyze_prepush_history.py
  scripts/run_parallel_checks.py
  src/precog/api_connectors/kalshi_client.py
  src/precog/cli/kalshi.py
  src/precog/database/_archived_legacy_migrations/000_base_schema.sql
  src/precog/database/alembic/versions/0001_initial_baseline_schema.py
  src/precog/database/alembic/versions/0010_add_series_tags_column.py
  src/precog/database/alembic/versions/0011_update_series_frequency_constraint.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/kalshi_poller.py
  tests/integration/database/test_series_crud_integration.py
  tests/integration/schedulers/test_kalshi_poller_integration.py
  tests/property/database/test_series_crud_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Scheduler status IPC via database + pre-push fixes (Issue #255)
  src/precog/cli/scheduler.py
  src/precog/database/alembic/versions/0012_create_scheduler_status_table.py
  src/precog/database/crud_operations.py
  src/precog/schedulers/service_supervisor.py
  tests/integration/database/test_series_crud_integration.py
  tests/unit/database/test_crud_operations_unit.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Use JUnit XML for reliable test count parsing (Issue #255)
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Remove unused noqa S314 directive
  scripts/run_parallel_checks.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add S314 to security scan ignores for trusted JUnit XML parsing
  .github/workflows/ci.yml
  scripts/pre-push-hook.sh
  scripts/run_parallel_checks.py
  scripts/validation_monitor.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add integration marker to series property tests for CI
  tests/property/database/test_series_crud_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Add series property tests to CI integration job
  .github/workflows/ci.yml
Due: validate-docs

fix: Use wait=False in E2E poller test to prevent shutdown timeout
  tests/e2e/schedulers/test_base_poller_e2e.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Use moderate refill rate in token bucket property test to avoid Windows timing flakiness
  tests/property/api_connectors/test_rate_limiter_properties.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add MLB and MLS team seed data with ESPN IDs
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/database/seeds/010_mls_teams.sql
Due: none

fix: Resolve flaky property tests on Windows Python 3.14
  pytest.ini
  tests/property/validation/test_espn_validation_properties.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

fix: Add Python-level warning filter for structlog format_exc_info
  tests/conftest.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add verified MLB/MLS team seed data + data source provenance docs
  docs/guides/DATABASE_ENVIRONMENT_GUIDE_V1.0.md
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/database/seeds/010_mls_teams.sql
Due: validate-docs

feat: Add MLB and MLS team seed data with ESPN IDs (#272)
  docs/guides/DATABASE_ENVIRONMENT_GUIDE_V1.0.md
  pytest.ini
  src/precog/database/seeds/009_mlb_teams.sql
  src/precog/database/seeds/010_mls_teams.sql
  tests/conftest.py
  tests/property/validation/test_espn_validation_properties.py
Due: validate-docs, ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add unit tests for Phase 2C experimental modules
  scripts/audit_test_type_coverage.py
  tests/unit/database/seeding/sources/__init__.py
  tests/unit/database/seeding/sources/sports/__init__.py
  tests/unit/database/seeding/sources/sports/test_nba_api_adapter.py
  tests/unit/database/seeding/sources/sports/test_nhl_api_adapter.py
  tests/unit/database/seeding/sources/sports/test_pybaseball_adapter.py
  tests/unit/database/seeding/test_cache_config.py
  tests/unit/database/seeding/test_epa_seeder.py
  tests/unit/database/seeding/test_kalshi_historical_cache.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

fix: Increase Mypy timeout in warning governance check to 5 minutes
  scripts/check_warning_debt.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

perf: Optimize Mypy in warning governance with incremental mode
  scripts/check_warning_debt.py
Due: ruff-check, ruff-format, mypy, decimal-precision-check

feat: Add EloComputationService for computing Elo ratings from historical games
  src/precog/analytics/__init__.py
  src/precog/analytics/elo_computation_service.py
  src/precog/cli/data.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

test: Add unit tests for elo_computation_service module
  scripts/audit_test_type_coverage.py
  tests/unit/analytics/test_elo_computation_service.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add Era Registry pattern and fix historical data integrity
  data/historical/README.md
  src/precog/analytics/elo_computation_service.py
  src/precog/analytics/elo_engine.py
  src/precog/cli/data.py
  src/precog/database/crud_operations.py
  tests/unit/analytics/test_elo_computation_service.py
  tests/unit/analytics/test_elo_engine_unit.py
Due: validate-docs, ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check

feat: Add EloComputationService for computing Elo ratings from historical games (#275)
  scripts/audit_test_type_coverage.py
  src/precog/analytics/__init__.py
  src/precog/analytics/elo_computation_service.py
  src/precog/cli/data.py
  tests/unit/analytics/test_elo_computation_service.py
Due: ruff-check, ruff-format, mypy, no-print-in-production, code-review-basics, decimal-precision-check
